[2014-07-28 07:49] Raynos opened #1 "support `setTimeout` as plain function"
Passing `clock.setTimeout` into a module should work when mocking something like

[code]

I'd be used in tests like

[code]

The other methods of `clock` should also work without a `this` context.

[2014-08-04 18:24] mantoni opened #2 "Remove dependency to Sinon"
Since this module is supposed to power Sinon in the future, we should remove the dependency, or replace it with a dependency on a pure `sinon-stub` module (once that is available).

[2014-08-04 18:27] mantoni opened #3 "Use browserify to create a standalone package with AMD support"
I think we should be moving towards plain node style packages and let browserify generate the boilerplate. What do you think?

[2014-08-04 20:22] #1 closed, assigned to nobody

[2014-10-07 15:10] #3 closed, assigned to nobody

[2014-11-12 16:36] duncanbeevers opened #7 "Maintain sorted list of timers"
Currently the list of timers is stored as a flat, unsorted object space.

We may improve performance by maintaining an array of timers-to-be-executed, explicitly sorted according to their eventual execution order.

New timers could be inserted using a binary search insertion, turning the current O(1) operation to an O(logn) operation, but turning the execution-time cost from the current O(n)-ish t

[2015-06-19 00:13] vroy opened #16 "Warp speed?"
I've recently had to speed up timeouts to speed up some tests. I wrote something along the lines of this:

[code]

Having something like this in lolex could be a nice addition: `clock.engageWarpSpeed(multiple)`

[code]

Is this something that you consider merging if I open a pull request?

[2015-06-19 06:33] cjohansen commented on #16
Hmm, what's the use case for this? If you can speed it up, why not just fake it entirely and trigger the timers yourself?

[2015-06-19 11:01] vroy commented on #16
The app has some setTimeouts that I can't control. The idea is that the tests inject this into the app and speed up all setTimeouts equally.

[2015-06-19 11:04] vroy commented on #16
It might very well be a niche use case and I understand if you don't want to introduce this to lolex. That's why I asked via an issue before opening a pull request.

[2015-06-27 07:22] cjohansen commented on #16
Sure, that's great. Sorry about the late response. It just seems to me that if you can get in there and speed the timer up, you might as well just use fake ones and tick the clock ahead manually?

[2015-06-28 18:39] vroy commented on #16
I'll close this for now.

[2015-06-28 18:39] #16 closed

[2015-07-25 22:46] mroderick commented on #7
This hasn't seen any activity in more than six months, I am closing it.

Feel free to re-open for further discussion or pull requests

[2015-07-25 22:46] #7 closed

[2015-08-20 04:58] moll opened #23 "Error: Native setTimeout will not work when Date is faked"
Hey,

What's with that warning? Upgrading Sinon's minor version number broke my tests, which seem to be caused by Lolex. Downgrading to Sinon v1.15 (with an older ver of Lolex) removed the warning and tests continued to work. No `setTimeout` mocking necessary.

Thanks!

[2015-08-20 07:48] cjohansen commented on #23
Do you have some more information? I am not seeing this in any of my projects. Are you calling `useFakeTimers` in your code when you don't need it?

[2015-08-20 07:57] moll commented on #23
Hey. Aye. By "No setTimeout mocking necessary" I meant using the following has worked a-okay for a while now: `Sinon.useFakeTimers(+NOW, "Date")`.

[2015-08-20 08:14] cjohansen commented on #23
I see. Well, the error is thrown to save you the frustration that will follow if you do that on node and try to use `setTimeout` - it will not work. Are you actually using `setTimeout`? If not, you could simply add it to the list of functions?

We *could* make this warnings instead of hard errors, but I really don't think you should be doing this, as it's likely to cause trouble. @mantoni @mroderi

[2015-08-20 08:20] moll commented on #23
Oh, adding `setTimeout` et alii for code that depends on it for deferring tends to break it. And I don't want to bother ticking along manually just because their implementation happened to use `setTimeout`. :) I'm only explicitly interested in mocking time and that's why `useFakeTimers` takes names, doesn't it? :)

[2015-08-20 08:21] moll commented on #23
And no warnings for me, thank you. ^-^ _Only_ a fake `Date` object, please.

[2015-08-20 08:23] cjohansen commented on #23
I guess we could restrict the error to be thrown on Node. Would need to check if this is the case in any other environment as well.

[2015-08-20 08:24] cjohansen commented on #23
Using a fake `Date` and relying on `setTimeout` means your code will definitely not run on Node.

[2015-08-20 08:24] moll commented on #23
Hmm, but I _am_ using Node. What's the problem it's meant solve? Faking `Date` is a different concern from faking timers.

[2015-08-20 08:25] cjohansen commented on #23
Weird. You'd think they are separate issues, but:

[code]

[2015-08-20 08:27] cjohansen commented on #23
Weirdly enough, it does work if the faked `Date` has a `now` function, even if it always returns the same number. Ok, will remove the error.

[2015-08-20 08:30] moll commented on #23
What version of Node is that? v0.12.7 doesn't throw with a replaced `Date`...

I've used the explicit `useFakeTimers` thing for some time now ever since I noticed faking `setImmediate` by default broke all kinds of promise libraries. And probably better to be explicit anyways as they _are_ different concerns and implementation-dependent tests are flaky. ;-)

Yay.

[2015-08-20 08:33] cjohansen commented on #23
I somehow managed to not push Sinon last night, so I won't be able to fix the problem in Sinon until I get to my home computer.

[2015-08-20 08:34] moll commented on #23
No biggie. Thanks. Clamping Sinon to `<1.16` was a quick fix.

[2015-08-27 21:36] rpominov opened #24 "An option to call "simultaneous" handlers in reverse order"
Currently when two handlers set to be called at the same time, lolex guarantees that they will be called in the order they were set.

For example in the following setup `foo` is always called first:

[code]

Although this is not guaranteed by the real implementations of `setTimeout` and friends:
 - http://stackoverflow.com/questions/1776239/are-equal-timeouts-executed-in-order-in-javascript/599833

[2016-01-12 15:29] fraisse opened #39 "createDate breaks the Date creation specs"
Hi,
first of fall, thanks for your work. It is a nice library very useful when using dates…

Just, I think the `createDate` function breaks the actual native `Date` creation, essentially when it is used with one parameter.
For  `new Date(value)` value could be:
   • an Integer value representing the number of milliseconds since 1 January 1970 00:00:00 UTC (Unix Epoch);
   • an String value represe

[2016-02-26 02:32] brandonhorst opened #41 "date.set* does not respect useFakeTimers"
Calling `date.setHours(x)` will set the hours in local time, regardless of `useFakeTimers` calls. This results in different behavior depending on the time zone in which the code is run.

Here's some code, with outputs in different time zones.

Not sure if this is a technical limitation or bad behavior.

In this example, we are faking the timers, creating a `new Date()`, and then printing it. It is

[2016-02-26 03:43] fatso83 commented on #41
It actually took me 20 minutes of studying the output to understand what the issue was 😄.  So the second output is the same in all the cases, no matter what the time object was set to.

So basically the setHours call needs to adjust the time relative to the created object, not the local time. Sorry for reiterating the obvious :-)

[2016-02-26 04:12] brandonhorst commented on #41
Yes precisely - sorry for not making that clearer.

[2016-02-26 04:13] fatso83 commented on #41
Don't think this is a bug. I just think you need to use the right method: [setUTCHours](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setUTCHours).

 [setHours](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setHours) _sets the hours for a specified date according to local time_.

[2016-02-26 05:48] fatso83 commented on #39
You are correct that the one argument case is a special case, but you have not demonstrated that the implementation actually produces wrong results in code!

Please give an example of how  lolex handles this incorrectly.

I just glanced over the code, and although the parameter is called `year`, it is simply passed on, so it could well be a date string. So the code is probably misleading, but not

[2016-02-26 18:01] fatso83 commented on #41
I made an [extended version](http://output.jsbin.com/zitase/26) of your code and put it on JsBin. It seems to work as intended:
[code]

Closing as a non-issue.

[2016-02-26 18:01] #41 closed

[2016-03-07 21:35] fraisse commented on #39
You absolutely right ;-)
If you're interested, I add two tests in the PR #43 in order to show what you explained.

[2016-03-07 22:52] fatso83 commented on #39
Thanks for the feedback :)

[2016-03-07 22:52] #39 closed

[2016-03-07 22:58] fatso83 commented on #2
Is this really an issue? `sinon` is only a `devDependency` and is only used in the tests. I do not see the problem. With the version of `sinon` in master we could just as well replace `sinon.stub` with `sinonStub = require('sinon/lib/stub')`, although I don't see what that brings to the table. Extracting all the various bits of `sinon` into their sub-repos comes with a lot of administrative baggag

[2016-03-07 23:01] fatso83 commented on #23
Any status here? Not sure if this was resolved anywhere?

[2016-03-07 23:05] fatso83 commented on #24
This feature request is very unlikely to be prioritized by us, so I am closing this, but you could submit a PR. The API might have to be discussed a bit though, but that's just details.

[2016-03-07 23:05] #24 closed

[2016-03-08 07:30] mantoni commented on #2
This should be a long-term goal. It's not really necessary, but having circular dependencies sometimes come with weird issues. If you do a fresh npm install after a lolex release, it has it's own code in node_modules.

[2016-03-20 16:31] fatso83 commented on #2
@mantoni still not sure what you mean by "having its own code in node_modules". It does not, if

[2016-03-20 16:41] fatso83 commented on #2
@mantoni still not sure what you mean by "having its own code in node_modules". If you install it as a dependency it has no further dependencies that will get installed in `node_modules`. But maybe you think about a fresh install when developing the module? In which case, the answer is _kind of_, as the sinon version we use is too old to include `lolex`, but the code is still _included in the sour

[2016-03-20 16:42] fatso83 commented on #23
Closing as lack of information.

[2016-03-20 16:42] #23 closed

[2016-03-20 19:01] mantoni commented on #2
Yes. I thought we might end up with Lolex -> Sinon -> Lolex, but you're right, that doesn't happen if we don't depend on Sinon 2 here. To me it's a red flag to have circular dependency, but it's more a feeling, maybe there is no good reason in this case. It's not really an issue. Closing.

[2016-03-20 19:01] #2 closed

[2016-03-22 16:04] karl opened #44 "Add methods to run all timers and run all currently pending timers"
Facebook's Jest testing library has a couple of methods that make it easy to run all the timers:

## Run All Timers

* https://facebook.github.io/jest/docs/timer-mocks.html#run-all-timers

This runs all pending timers until there are none remaining. If new timers are added while it is executing they will be run as well.

## Run Pending Timers

* https://facebook.github.io/jest/docs/timer-mocks.htm

[2016-03-22 21:28] novemberborn commented on #44
There is `.next()` which runs the next timer. You could call it repeatedly until the clock stops advancing. This would cover the "run all timers" case.

I suspect for the pending timers you may be able to uninstall the current clock and install a new one, then use `.next()` on the old clock.

[2016-03-23 14:43] karl commented on #44
I've created a PR with an implementation of a `runAll` method.

If there is interest in merging it and there are any changes/tweaks you'd like me to make just let me know. I've attempted to follow the lolex code style where I can.

[2016-04-01 03:15] danny-wu opened #47 "Date.now() is incremented after setTimeouts have run."
Lolex ticks `Date.now()` along with `(new Date()).getTime()`, but only after all `setTimeouts` have been run. The real elapsed time is returned to `setTimeout` handlers.

While accessing `Date.now()` and assorted should be rare to see in `setTimeout` handlers, it does happen. For one, underscore 1.6.0 -> 1.8.3 relies on it. `_.debounce` and others fail to trigger with lolex's fake clock.

Here's a

[2016-04-01 08:19] SystemParadox opened #48 "Faking the timezone"
How much work would it be to support faking the timezone? Is this even possible?

Over at node-schedule there are repeated issues due to daylight savings time changes (see https://github.com/node-schedule/node-schedule/issues/267). I was just about to write some tests when I realised that the tests will only work (or rather... only fail!) if the person running the tests also has their timezone set

[2016-04-01 10:02] pabigot opened #49 "npm test fails"
`npm test` invokes `npm run lint` which fails, AFAICT due to checked style violations that have been present in the code for a long time.

If I remove that step the tests pass but having `npm test` fail on a clean checkout and install of the development repository leaves an unjustified negative impression of lolex's quality.

    src/lolex-src.js
     #1 Wrap this regexp in parens to avoid confusi

[2016-04-01 10:09] mantoni commented on #48
You can test code independent of the system time and factor in timezones. This is just a matter of how you construct the date object. Consisted this:

[code]

So you can see that JavaScript deals with the timezone offset properly.

However, Lolex only deals with milliseconds. It has no internal concept of timezones and I’m not sure whether this is within Lolex’ scope. You can initialize the Lolex

[2016-04-01 10:17] mantoni commented on #49
I just did this:

[code]

Looks like decent quality to me ;-)

Can you please make sure you are on latest HEAD and re-install your dependencies freshly?

[2016-04-01 10:35] pabigot commented on #49
No good; see below.  Maybe you have a globally installed jslint that doesn't do anything?  The errors I see are certainly valid complaints from jslint.

    llc[35]$ git describe HEAD
    v1.4.0-27-g5b826f3
    llc[36]$ rm -rf node_modules
    llc[37]$ npm install
    npm WARN deprecated graceful-fs@2.0.3: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful

[2016-04-01 10:44] pabigot commented on #49
Apologies; this was my error.  I have a global `.jslint.conf`:

    {
        "edition": "latest"
    }

which is a bit more strict than the default.  Removing that everything passes.

[2016-04-01 10:44] #49 closed

[2016-04-01 10:44] mantoni commented on #49
Ha, I managed to reproduce, but that’s a really strange issue:

If I run `node_modules/.bin/jslint src/**/*.js` to make sure I’m using the same version as the npm lint script, jslint doesn’t complain about anything. However, if I run `node_modules/.bin/jslint src/**/*.js --edition=latest`, I get the exact same output as you. I have no idea why jslint uses different editions for the two of us.

Any

[2016-04-01 10:45] mantoni commented on #49
Both typing at the same time haha. Thanks for demystifying!

[2016-04-01 10:46] pabigot commented on #49
I don't use jslint anymore either, which is probably why I forgot about that file.  (jscs + jshint for my stuff.)

[2016-04-01 10:59] SystemParadox commented on #48
For me, with my timezone set to `Europe/London`, I get the following:

[code]

So this is different to your output, because we have our timezones set differently. This is what I am trying to resolve.

It probably is out of scope for lolex, although any package which did allow this would also have to implement lolex' functionality, unless there was some way for them to cooperate despite both needin

[2016-04-01 11:56] mantoni commented on #48
Ah, I understand. You can set the `TZ` environment variable to set a specific timezone. This works in node and phantomjs like this:

[code]

I can see how this is inconvenient if you want to test multiple timezone settings in a single test file.
Lolex already mirrors native date properties [like toString](https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L129) so this might be a good p

[2016-04-01 12:00] mantoni commented on #48
This might help with an implementation: http://momentjs.com/timezone/

[2016-04-06 11:26] karl commented on #44
The `runAll` method has now been merged in to master :smile:

[2016-04-06 11:28] karl commented on #44
I've created a second PR with a `runToLast` method.

This takes note of the last scheduled timer when it is run, and advances the
clock to that time firing callbacks as necessary.

If new timers are added while it is executing they will be run only if they
would occur before this time.

This is useful when you want to run a test to completion, but the test recursively
sets timers that would cause

[2016-04-06 14:46] karl opened #52 "process.hrtime change breaks browser support"
To recreate:

* Go to https://jsfiddle.net/yexyLdj7/ - This uses the latest version of `lolex-src.js` from `master`.
* Run the fiddle.

What happens:

* The browser throws the error:
  `lolex-src.js:623 Uncaught ReferenceError: global is not defined`

What should happen:

* No error!

It looks like it is caused by this line: https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L392

I'm n

[2016-04-06 15:09] mantoni commented on #52
Well, you're testing against the source file. It is meant to go be browserified which will provide the `process` object. To create a new `lolex.js` in the root of the project, you have to `npm run bundle`.

[2016-04-06 15:14] karl commented on #52
Ah, interesting.

I see the same problem (the error where `global` is not defined) when I try and use the latest commit of lolex in my work project.

The project is build using Webpack, which I believe will use the source version of lolex as that is what is specified in `package.json`. It doesn't look like Webpack is providing the `process` object, which leads lolex throwing an error.

Does that m

[2016-04-06 15:23] mantoni commented on #52
Yes, that sounds about right. The current master build runs the tests in real browsers via SauceLabs. Since the build is green I think it's working fine, but I can also not check myself at the moment.

Closing for now. If we find this isn't working for some reason, we can reopen.

[2016-04-06 15:23] #52 closed

[2016-04-07 07:15] karl commented on #52
@mantoni: I've created a minimal reproduction of this issue in the following repository:

https://github.com/karl/lolex-webpack-error

It seems my assumptions are correct and the source version of lolex is used when requiring it from the npm package. The source version expects the `process` object, but it isn't defined in the browser and Webpack doesn't provide a dummy version.

This doesn't expla

[2016-04-07 08:59] fatso83 commented on #52
Actually it does, @karl :-) As @mantoni said

The tests run using `mochify`, which as the name suggests is "TDD with Browserify, Mocha, PhantomJS and WebDriver". So the tests are bundled with Browserify before being run in the browsers, which explains why process is present.

[2016-04-07 09:28] karl commented on #52
Ah, that explains it!

Do you have any ideas on the best way to fix the Webpack error?

Perhaps `package.json` could point to the browserified version of lolex. Would this ensure that `global.process` is always defined?

[2016-04-07 10:29] fatso83 commented on #52
@karl I googled, and it seems like I do now :smile_cat:  You can use the DefinePlugin in Webpack to fix it. See [this somewhat related answer](http://stackoverflow.com/a/29099847/200987)

[2016-04-07 10:42] karl commented on #52
Do you think it would be worth fixing this in the Lolex codebase (by checking for existence of `process` before attempting to use it)?

I worry that requiring anyone using Webpack to use the DefinePlugin in order to Lolex is an unnecessary burden. Especially as the current `1.4.0` release works fine without needing the DefinePlugin.

[2016-04-07 11:19] mantoni commented on #52
@karl I think the fix is to make Webpack load the right file. We decided to use browserify, so it makes little sense to implement a workaround in the code in case browserify isn't used. If we want this to be checked by Lolex, we should also opt out of shimming the `process` object entirely so that the behavior is consistent in all environments.

[2016-04-07 11:50] karl commented on #52
@mantoni That sounds sensible!

I can have a look at making a PR that has `package.json` point to `./lolex.js` (as this has already been though browserify).

[2016-04-07 13:54] mantoni commented on #52
Ha! It's actually a lot simpler than I thought: Lolex does not have a `browser` field yet. We should add `"browser": "./lolex.js"` to the `package.json` to [comply with the pacakge-browser-field-spec](https://github.com/defunctzombie/package-browser-field-spec). Webpack [inspects this field](http://webpack.github.io/docs/configuration.html#resolve-packagemains) and will do the right thing.

[2016-04-07 13:57] mantoni commented on #52
Although this means that other projects like Sinon that use Lolex and are browserified themselves would load the pre-bundled version instead of the actual source ... Not so great then :disappointed:

[2016-04-07 14:11] fatso83 commented on #52
@mantoni : don't understand why this won't work.

- If Sinon is used through Node, then it will require packages normally, using the `main` field.
- If Sinon is being browserified then it will use the pre-packaged version of lolex. This should still work, right?

[2016-04-07 14:15] mantoni commented on #52
@fatso83 Yes, I think it would work, but it's the wrong approach. Imagine we had some common utilities that are used in Lolex and in Sinon. If they go into a separate module, it would be included twice in the final bundle. It would still work, but there can be unexpected effects if modules are loaded more than once.

However, Webpack also looks at a specific "webpack" field. We could add this fiel

[2016-04-07 16:40] karl commented on #52
I've been tinkering around, and decided to try using the `lolex.js` bundle generated by Browserify in my `lolex-webpack-error` repository.

Surprisingly it still fails with an error that `process` is not defined. It seems that Browserify doesn't provide the process object like we thought (unless I have got something wrong!).

You can see the change I made to the test repo here:
https://github.com/

[2016-04-08 07:48] mantoni commented on #52
Hm, that is interesting. The only explanation that I have is that Browserify does not shim `process` because it’s referred to by `global.process` instead of just `process` as one usually would in the node context. Mochify internally depends on the `process` object for the exit code detection, so that would explain why it works in the test cases. @karl Can you try removing the `global.` part and ch

[2016-04-08 08:48] fatso83 commented on #44
Both your PRs are now merged. This should conclude this issue, right? Close?

[2016-04-08 08:51] karl commented on #44
Yep, thanks for being open to the changes!

[2016-04-08 08:51] #44 closed

[2016-04-08 19:57] karl commented on #52
I have a branch that refers to `process` as a global:

https://github.com/karl/lolex/tree/spike-browserify-process

It works, but including a shim for process seems excessive given all we do with it is check for the `hrtime` function.

I've created a second branch that checks for the existence of `process` before using it. With this change Lolex now works in browsers and works when packaged with W

[2016-04-13 19:57] moll commented on #23
I'll report if it still doesn't work once I get around to upgrading Sinon. Trying to live the "if it works, don't fix it" principle with updates. ;-)

[2016-04-15 09:48] rogierschouten commented on #48
@mantoni 's comment about the TZ environment variable is correct, however I found that there are differences in Date behaviour on systems with different time zones even if TZ is set the same.
Also, the Date class behaves differently in Node.JS, IE, FF, Chrome etc.
While lolex could fake that by replacing the entire Date class, it is very hard to know how to correctly simulate the platform.

This i

[2016-04-18 20:54] hotaru355 opened #54 "How to use `runAll`"
I am trying to set the system time and then run all asynchronous code in a test like this:

[code]

But it seems that the method is not defined:
[code]

Could you please point me in the right direction. Thank you!

lolex: 1.4.0
nodeJs: 5.2

[2016-04-19 06:29] mantoni commented on #54
This feature was added just last week and is not yet released.

[2016-04-19 17:13] hotaru355 commented on #54
Is there any way I could get the same results with the current release? Something like running `clock.next()` or `clock.tick()` in a loop for example?

[2016-05-05 19:04] ryanwalls opened #55 "Links on sinonjs.org for lolex files return 404s"
Try http://sinonjs.org/releases/sinon-timers-1.17.3.js

[2016-05-11 22:17] vfil opened #56 "setTimeout callback is fired too early"
[code]
In output you can see that 3 is also printed, which should be called after 300ms.
using lolex.createClock() will have the same effect.

[2016-05-12 09:15] novemberborn commented on #56
`tick()` advances the clock:

[code]

[2016-05-12 14:31] fatso83 commented on #56
Tick advances the clock by the number of milliseconds given. See the [docs](https://github.com/sinonjs/lolex/blob/master/Readme.md#clockticktime)

[2016-05-12 14:31] #56 closed

[2016-05-13 14:47] rogierschouten opened #57 "Please publish a new version"
Hi guys, I would like to start using the new hrtime() support. This is in since January but it hasn't made it onto NPM yet. When do you intend to publish a new version on NPM?

[2016-05-18 08:24] fatso83 commented on #57
I think that is simply an omission. I can push it asap.

[2016-05-18 08:38] #57 closed

[2016-05-18 08:38] fatso83 commented on #57
1.5.0 out now.

[2016-05-18 08:39] fatso83 commented on #54
Btw, 1.5.0 is out.

[2016-05-18 08:39] #54 closed

[2016-05-19 11:18] ilgooz opened #58 "currentQueue is null while using sinon.useFakeTimers()"
the line where the error occurs. https://github.com/defunctzombie/node-process/commit/774a3388d7b752157771e83eae470dd0c636838f#diff-de1a5a7de991855714cdf433e9f8be96R11

I've a test setup with karma and webpack. I'm getting this error on Chrome 50.0.2661.102 (64-bit). I've also tried with 1.12.2, 1.17.3 and pre 2.0 versions of sinon but still no luck. there is no error when I just use sinon on bare

[2016-05-19 12:24] ilgooz commented on #58
solved. the problem is my process module was an older version which doesn't check currentQueue before proceeding. https://github.com/defunctzombie/node-process/blob/09adde8cb8bd9c61097c5742cd870d4c4708a223/browser.js#L10

I've done a few things but I guess the problem was solved after `rm -rf node_modules` and reinstalling. just make sure your process module is => 0.11.3. webpack uses process modu

[2016-05-19 12:24] #58 closed

[2016-05-25 09:43] gautaz opened #59 "Cannot set property 'hrtime' of undefined"
Hello,

After migrating from lolex 1.4.0 to 1.5.0, my tests fails with this exception:
[code]

I'm using nodejs 6.2.0.

My tests use lolex this way:

Setup:
[code]

Tear down:
[code]

[lolex-src.js 1.5.0](https://github.com/sinonjs/lolex/blob/v1.5.0/src/lolex-src.js#L360) seems to assume that the context object has a key named `process`.

Any idea regarding this ? Does this mean that compatibility

[2016-05-25 10:23] fatso83 commented on #59
@rogierschouten Could this be related to #40 ?

[2016-05-26 09:02] gautaz commented on #59
You are right, the breaking code was added by this merge.

Doesn't this means that 1.5.0 breaks backward compatibility and should be tagged as 2.0.0 (a migration note can also probably help)?
Or perhaps the code should be modified to not rely on target.process?

[2016-05-26 13:40] fatso83 commented on #59
@gautaz This breaking change was unintentional. Needs a bugfix.

[2016-05-26 17:18] rogierschouten commented on #59
looking into it now

[2016-05-26 17:41] rogierschouten opened #60 "Published NPM module is not what is in the repository"
Hi guys,
NPM lists lolex 1.5.0 but package.json on Github is 1.4.0.  Maybe forgot to commit?

[2016-05-26 18:17] rogierschouten commented on #59
Issued PR #62 for this. I could not reproduce the issue in any way also not in a browser. However, the code was clearly not airtight so I think this would fix it.

[2016-05-26 18:21] fatso83 commented on #60
🙉

Fixed.

[2016-05-26 18:21] #60 closed

[2016-05-26 18:24] fatso83 commented on #59
@gautaz Could you please provide a test case that is runnable in Node? I could then squash that together with #62 if that indeed fixes it.

[2016-05-27 07:59] gautaz commented on #59
Here it is: #65

[2016-05-27 08:04] fatso83 commented on #59
@rogierschouten Mind seeing if @gautaz test breaks for you? If so, then you have your reproducible test case. You could then merge that into #62 (just remove the built source).

[2016-05-27 17:01] rogierschouten commented on #59
@fatso83 done

[2016-06-07 22:38] ilgooz opened #66 "useFakeTimers breaks test when used with native callbacks"
Test timeouts when I do have callbacks for native events in my code. removing fake timer from code makes it work again.
[code]
Chrome 50.0.2661 (Linux 0.0.0)

thank you

[2016-06-08 09:29] ilgooz commented on #66
as I check this issue occur with tape. mocha works as expected. feel free to close the issue if you think there is nothing to do with lolex to solve this. I'll share my solution here if I find any.

[2016-06-08 11:25] mantoni commented on #66
I know that Mocha keeps a reference to setTimeout for it's own use, specifically to allow stubbing it in tests. Maybe tape doesn't do that and relies on setTimeout internally?

[2016-06-08 11:57] ilgooz commented on #66
it is true. it depends(calls process.nextTick) on setTimeout only when doing async execution(xhr calls, browser native async operations, events that executed in async but not relevant with time). calling _clock.tick(1)_ after assertion solves this problem(this where process.nextTick is called) but this is a quite ugly solution. the problem with test is, assertions works fine but tab output is neve

[2016-06-08 14:03] ilgooz commented on #66
I'll use lolex directly with _createClock()_ and make my class accept a clock interface to not mess with global settings by using _useFakeTimers()_. this looks like the cleanest way to do it.
@mantoni about globals, my 2 cents on checking setTimeout's duration and do not stub it if it's equal to zero since zero value is always meant to be used to do job of _nexTick_. thanks!

[2016-06-08 16:50] fatso83 commented on #66
Closing this as this is a tape issue. Follow substack/tape#292 for updates or file a PR there to see it fixed.

[2016-06-08 16:50] #66 closed

[2016-06-09 14:11] fiddur opened #67 "Fake setTimeout should "fail" on too large delays"
Both browsers and Node.js handles timers with int32 and overflows on values above 2147483647.  It would be good if lolex in some way fails in that case too.

Background:

I [read about](https://nodejs.org/api/timers.html#timers_settimeout_callback_delay_arg) the maximum delay on `setTimeout`, and prepared a `farTimeout` to just recursively wrap the  `setTimeout` with max timeout multiple times.  B

[2016-06-09 14:36] fatso83 commented on #67
Seems reasonable. But the if is unneeded, so the math could be simplified to

[code]

[2016-06-09 14:40] fiddur commented on #67
I placed it in `addTimer` rather than `setTimeout` since there are similar limitations to other timers, but in `addTimer` there isn't always a `delay`?

The `+ max … - max` is to mimic the int32 overflow, that will sometimes render a negative value (making the timer trigger immediately).

[2016-06-09 17:02] fatso83 commented on #67
There are "timers" like `setImmediate` and `nextTick` that does not take arguments, so that might be why.

[2016-06-10 14:29] fatso83 commented on #66
@ilgooz : I filed an issue with `tape` and that is already fixed. Also filed on with `through`, so you might want to follow that one too: dominictarr/through#43. Or perhaps supply a fix if you really want to see it fixed ;-)

[2016-06-10 14:45] ilgooz commented on #66
@fatso83 yes thanks. :')

[2016-06-12 18:09] timdp opened #69 "Incompatible with Bottleneck"
I'm having an issue where Lolex seems to be incompatible with [Bottleneck](http://npm.im/bottleneck), a popular rate-limiting package. Bottleneck schedules callbacks using `setTimeout`, and if I mock those calls using Lolex, only the first callback gets called for some reason.

I initially thought it might be a [Bottleneck issue](https://github.com/SGrondin/bottleneck/issues/23), but then I procee

[2016-06-12 21:21] fatso83 commented on #69
Not sure what you are using lolex for. Lolex is supposed to take control over `setTimeout` and friends. That is its purpose, so that you can have full control over timers. But it is not a mocking or stubbing library: that is the work of sinon. If you want to control time, but not let lolex affect the internal workings of your library you need to cache references to the globals you are using. That

[2016-06-12 21:26] timdp commented on #69
I'm aware of the need for caching. I think you misread the issue description. This is what happens:

1. `clock = lolex.install()`
2. `setTimeout(fn1, 0)` (from Bottleneck)
3. `setTimeout(fn2, 0)` (from Bottleneck)
4. `clock.tick(0)`

If `fn2` doesn't get called, isn't that a bug?

[2016-06-12 21:28] timdp commented on #69
Maybe take a look at [my original example](https://github.com/timdp/bottleneck-lolex-issue-demo/blob/dbb932d8032acefe445e5cefed6ac5a62843b06d/index.js) as well. The calls to `limiter.schedule()` make Bottleneck perform the `setTimeout` that seems to be causing trouble.

[2016-06-12 21:32] fatso83 commented on #69
Thanks for the code example. That is a much clearer description. "Callback did not get called" could mean a whole lot of things, and I assumed you referred to something else than you example code did. This does indeed look like a bug ...

[2016-06-12 21:34] timdp commented on #69
I apologize for the confusion. Probably should've copy-pasted my entire explanation from the Bottleneck issue rather than linking to it.

Anything I can do to help debug? Bottleneck is originally in CoffeeScript, making it a little clunky to debug, but since injecting my own Lolex-compatible code fixed it, I still think we should be looking at Lolex code.

[2016-06-12 21:39] fatso83 commented on #69
@timdp Help is always appreciated. You could try cloning the repo and add some tests to see if you are able to trigger it in a clean environment. https://github.com/sinonjs/lolex/blob/master/test/lolex-test.js#L305 is supposed to cover your case, but perhaps we have an issue with the special case of ´time=0´?

[2016-06-13 00:44] SGrondin commented on #69
A `setTimeout` of 0 is supposed to be equivalent to `setImmediate`, and same thing for a `setTimeout` of a negative number.

[2016-06-13 06:42] timdp commented on #69
@SGrondin Does Bottleneck use negative numbers?

I was thinking it might be due to something like setTimeout(() => setTimeout(f, 0), 0). That, or the combination of setTimeout and promises (bluebird or native) acting up, especially if your Promise uses setImmediate or process.nextTick internally.

Anyway, I'll test soon.

[2016-06-13 13:51] SGrondin commented on #69
Bottleneck doesn't call a `setTimeout` inside of another `setTimeout` (but your user code might) and it never calls `setTimeout` with a negative number. By default, it uses Bluebird if it's installed in your project and native promises otherwise. There's no `setImmediate` or `nextTick` anywhere in the code.

[2016-06-16 20:42] timdp commented on #69
Still trying to get to the bottom of this, but what I've found so far is that core-js (added by Babel) insists on using its own Promise implementation in my transpiled code because most promises don't fully adhere to the spec. My goal is to replace every Promise with pinkie, which uses setImmediate, which I can delegate to lolex.

[2016-06-24 15:17] jedwards1211 opened #71 "ReferenceError when using npm package in the browser; get global object properly"
I know you might to say "use bower"...but no.  React devs use npm for everything these days, including for the browser, and we're used to npm packages working in both node and the browser (i.e. via webpack).

Usually when I need access to the global object, I do
[code]
Works in node and the browser.

Alternative you could call your bootstrap function with
[code]

(see http://stackoverflow.com/ques

[2016-06-28 08:14] fatso83 commented on #71
Would not dream of saying such a thing. Who uses Bower anyway these days? ;-) Just update #72 to pass the linting and this should be fixed.

[2016-06-28 15:55] jedwards1211 commented on #71
Ah okay, I thought maybe not many folks at sinonjs were using Webpack, since sinon (before 2.0.0-pre) isn't Webpack-compatible.  Working on fixing the jslint error...

[2016-06-29 19:09] amsul opened #73 "Installing a clock does not work with a Date object"
As mentioned in the docs: https://github.com/sinonjs/lolex#var-clock--lolexcreateclocknow-looplimit

However, this does not work for a Date object.

It seems as though this line (https://github.com/sinonjs/lolex/blob/f464603ef78b585aabb1ad461b26a3267989536c/src/lolex-src.js#L620) needs to be modified to:

[code]

[2016-07-08 09:24] julen commented on #73
As a temporal workaround one can pass a falsy value to `lolex.install` and provide a `Date` object in the second argument: `lolex.install(undefined, new Date('2016-07-08T11:20:11+00:00'));`

[2016-07-13 07:32] #59 closed

[2016-07-13 07:33] fatso83 commented on #59
Fixed. Will release a new version asap.

[2016-07-13 16:34] fatso83 commented on #67
Was there a PR coming?

[2016-07-13 16:36] fatso83 commented on #48
Closing this, as I suppose the TS has gotten enough info. Especially with [TimezoneComplete](https://github.com/SpiritIT/timezonecomplete)

[2016-07-13 16:36] #48 closed

[2016-07-14 21:58] fatso83 commented on #71
Fixed by #72 (47b30ed)

[2016-07-14 21:59] fatso83 commented on #73
@amsul: seeing that you found the relevant change to be made, would you care to make a PR? Please add tests that shows the feature working as well, if you do.

[2016-07-15 08:56] fatso83 commented on #71
I messed up when rebasing and merging in your changes, as I didn't run the linting (which failed due to migrating to ESLint where we disallowed `Function` calls), and I had to revert the commit.

While just disabling that `eslint` rule would be fine, I went on to inspect this further, seeing if the `Function` call was necessary or not (or if we could just use your other solution), and I devised a

[2016-07-15 09:41] fatso83 commented on #69
Looked into this a bit. Not sure what is happening, but there is one thing that sticks out. No new timers are scheduled after the first call completes. You can check this with `clock.timers`.

[2016-07-15 14:21] jedwards1211 commented on #71
Sure, I wonder if it depends on the webpack config?  I just checked and if I go into my chrome console and evaluate `global` I get a `TypeError`.  So maybe webpack is polyfilling it?  Or babel?

[2016-07-15 14:24] jedwards1211 commented on #71
Yes, here it is: https://webpack.github.io/docs/configuration.html#node
Now to find out why that wasn't taking effect for me...

[2016-07-15 14:25] jedwards1211 commented on #71
In any case wouldn't you want `lolex-src.js` to work standalone in the browser, without being built into a webpack bundle?

[2016-07-15 14:27] jedwards1211 commented on #71
we could probably go with `typeof global === 'undefined' ? this : global` instead...

[2016-07-15 14:34] jedwards1211 commented on #71
Okay, I think what happened was I was using `sinon` < 2.0.0 in the browser (with Karma), and since `sinon` < 2.0.0 is not webpackable, I was loading it and `lolex` as externals, hence no polyfill for `global` was getting injected into `lolex`.  Make sense?

[2016-07-15 14:38] jedwards1211 commented on #71
In addition I think usage of `mochify` in your tests is also polyfilling `global` in the code that gets run in `phantomjs`.

[2016-07-15 14:41] jedwards1211 commented on #71
Okay, repro is simple: just paste `lolex-src.js` into a Chrome console and hit enter.  You'll get `Uncaught ReferenceError: global is not defined(…)`

[2016-07-15 14:46] jedwards1211 commented on #71
*sigh* the JS world can be so confusing these days.  Yes, I was trying to use lolex as a webpack external so that I could use sinon 1.7 as a webpack external.  I hadn't noticed that you basically require lolex to be built with browserify or webpack to use in the browser.  In any case the `global || this` at the bottom of `lolex-src.js` is probably pointless

[2016-07-15 14:49] fatso83 commented on #71
It already does. It's in the top level directory, lolex.js, built by
Browserify on each release.

15. jul. 2016 16.25 skrev "Andy Edwards" <notifications@github.com>:

[2016-07-15 15:24] jedwards1211 commented on #71
Well I'm closing this as invalid.  Sorry for the trouble

[2016-07-15 15:24] #71 closed

[2016-07-15 17:18] fatso83 commented on #71
No worries. This does show we need to update the docs, though. I see it says you need to build it yourself, which is incorrect.

[2016-07-18 12:55] gmcnaughton opened #76 "jQuery.now does not respect lolex's fake timer"
This isn't a lolex bug per se, but a gotcha that I wanted to report here just in case anyone else runs into it!

If you use jQuery 2/3, [$.now()](http://api.jquery.com/jquery.now/) will not respect lolex's fake timer.  jQuery 1.x used to respect it.  This is because jQuery 2/3 captures a reference to `Date.now` at load time, before lolex gets a chance to stub it out.  You see results like this:

[2016-07-18 13:11] gmcnaughton commented on #76
Our workaround was a shim that forcibly reverts jQuery's logic:

[code]

[2016-07-18 17:07] fatso83 commented on #76
OK, thanks for documenting it. Closing.

[2016-07-18 17:07] #76 closed

[2016-07-19 13:57] fiddur commented on #67
I'm sorry, my vacation got in the way!  I'll get to it this week I hope!

[2016-08-16 06:51] mrbar42 opened #82 "performance.now is not being hijacked when using lolex.install()"
performance.now is not being faked when installing.

a workaround would be

[code]

as timing api is becoming more and more common this should be part of the lib

[2016-08-16 07:40] fatso83 commented on #82
That's not a bad idea, but it's far more likely to happen if someone ships a pull request with an initial attempt ;-)

[2016-08-16 07:53] fatso83 commented on #55
We are aware of this and it will be addressed in the new Sinon homepage, but ETA of that is uncertain.

[2016-09-08 00:30] taylor1791 opened #83 "Install clock to multiple targets"
In node, there are the global `setTimeout` and friends. In addition, there are `require('timers').setTimeout` and friends. If I need to mock both, I can do the following.

[code]

However, if a library uses both, I have to know when to call each of them (which could change between releases). It would be awesome if I could tell `lolex.install` to use a specified clock. In this case, I would make bo

[2016-10-19 10:52] Moeriki opened #84 "Option of throwing when timers remain on uninstall"
A good test doesn't mock more than it needs to. Thus I would expect that when I call `clock.uninstall()` there would be no uncalled timers left.

Yet sometimes I suck at writing tests and would have a false positive / negative, or even worse, a silent error dangling in a `setImmediate` that never got called.

It would be tremendously helpful if we could log a warning (or throw) when there are unca

[2016-10-21 13:32] jvdp opened #85 "Time travel without freezing"
I'd like to use this library for acceptance tests (ie. running the web app + JS frontend in a browser / phantomjs) that involve time-dependent data, so the clock needs to be set back to a certain date. My app also uses lodash' `debounce` function, however, which relies on the passage of time. Because I don't really have a good place to put a `tick` statement the clock shouldn't be 'frozen' at a pa

[2017-01-12 23:29] JoshuaKGoldberg opened #90 "Pre-built browser version in README doesn't exist"
The linked file doesn't actually exist.

[2017-01-13 01:16] fatso83 commented on #90
Oh, it does exist, but only for us maintainers ;-) Sorry about that. Changed `edit` to `blob` in the PR. Thanks for the heads up!

[2017-01-13 01:17] #90 closed

[2017-01-13 06:22] JoshuaKGoldberg commented on #90
:) thanks!

[2017-01-13 23:07] JoshuaKGoldberg opened #93 "Typo in clock.runAll"
Error would previously say `"Aborting after running 1000timers, assuming an infinite loop!"` (notice the lack of space between `1000` and `timers`). There should be a space there.

[2017-01-15 01:46] JoshuaKGoldberg opened #94 "README Typo: extra comma in setImmediate's description"
The other descriptions don't have a comma.

[2017-01-15 20:54] #93 closed

[2017-01-15 21:22] fatso83 commented on #85
I don't see how this could be implemented without async behaviour, which means you just might as well just put `tick` calls in some endless `setInterval` or `process.nextTick` loop yourself.

[2017-01-15 21:25] fatso83 commented on #73
You might want to follow PR #89. It needs some research help in getting further.

[2017-01-16 10:14] jvdp commented on #85
We can take a timestamp of when time travel starts and then compute the difference to determine the adjust "current" time. Timecop.js does this: https://github.com/jamesarosen/Timecop.js/blob/master/lib/TimeStackItem.js

[2017-01-16 12:54] fatso83 commented on #85
True, just computing the `now`value based on the diff is easily done. Such a feature should be quite easily implemented. Must have been to late to think clearly 😄  Care to take a stab at it?

[2017-01-17 18:25] JoshuaKGoldberg opened #95 "Chai extension for lolex, like sinon-chai"
https://github.com/domenic/sinon-chai exists and is great. I haven't been able to find an equivalent for lolex.

* Is there one?
* If I were to write such a thing, would you want ownership of it?

[2017-01-26 11:47] jvdp commented on #85
Will see what I can do.

[2017-01-27 23:47] krnjn opened #97 "Issue with upgrade from 1.5.1 -> 1.5.2"
I'm having an issue with a test that works fine on versions 1.5.1 and below that does not seem to work on 1.5.2 (using Jest + Enzyme). Following the README, this should work just fine, but seems to be having issues. Here's a sample of the code for reference:

[code]

I can provide more code if needed, but I'm wondering if I'm doing something wrong here with the implementation of lolex with:

[code

[2017-01-30 12:18] fatso83 commented on #97
As can be seen from the [changelog](https://github.com/sinonjs/lolex/releases) this might be related to #87  which was supposed to fix compatibility with React Native.

It might be that this is not an actual error/regression in Lolex, but rather exposes some fundamental design flaw in the code you are testing. But if fully might be a problem with lolex too ... See the changes in #87 and see if you

[2017-01-30 19:17] krnjn commented on #97
@fatso83 thanks for the reply. I'm not sure how the changes in that commit would be causing the issue. For reference, here's the test failure / stack trace provided:

[code]

I'll continue looking at it on my end, but let me know if you find anything further / need additional information!

[2017-02-25 16:55] #94 closed

[2017-02-25 16:57] cjohansen commented on #97
@krnjn Did you figure out what happened?

[2017-02-25 16:58] cjohansen commented on #95
I don't know of one. If you want to host the module under the sinonjs organization, we sure could.

[2017-02-25 20:46] krnjn commented on #97
@cjohansen nope, just locked down lolex@1.5.1

[2017-05-17 20:43] mroderick commented on #95
Is there any traction on this issue?

[2017-05-17 20:44] mroderick commented on #85
Has this issue stalled?

[2017-06-07 18:18] knod opened #100 "`loopLimit` not being used or wrong message"
I'm not sure if my `loopLimit` isn't being used, if I'm getting the wrong message, or if I instantiate incorrectly, but I do something like this:
[code]

I use more timeouts than that, but that's the gist.

No matter how big I make the `loopLimit` number, I often, but not always, get similar messages at random points in the tests (usually one somewhere random near the end and then a bunch at the v

[2017-06-08 11:43] fatso83 commented on #95
Closing this as the author has been informed of everything that was requested.

[2017-06-08 11:43] #95 closed

[2017-06-09 17:59] knod commented on #100
After trying some stuff, I think the problem may show up when `setTimeout` is used with a delay of 0.

[2017-06-28 08:58] fatso83 commented on #85
Will be closed by #102

[2017-07-13 08:39] #82 closed

[2017-07-13 11:09] benjamingr opened #108 "Small breaking change in 2.0.0"
Hey,

Thanks for the quick release, we have 4 failing tests when updating to 2.0.0 because of old code that relied on `lolex.install(Date.now())` or something similar. (I fixed the code on our side)

I think that lolex should either `throw` a TypeError when a date is passed directly or it should accept that as the timestamp.

I don't mind working on either suggestion - what do you think?

[2017-07-13 13:22] fatso83 commented on #108
I would rather throw an explicit `TypeError` than supporting the old (fragile) system. If you could send a patch that tries to detect uses of the old method signatures (`number`, `Date`, `arguments.length > 1`, etc) that would be most welcome.

[2017-07-13 13:25] fatso83 commented on #100
If you would be able to create a minimal test case that will show the bug it would increase the chances of someone starting to work on this immensely.

[2017-07-13 13:29] fatso83 commented on #97
This has stalled and we have no test case to test against. Closing until someone can show this as an error in lolex

[2017-07-13 13:29] #97 closed

[2017-07-13 13:31] benjamingr commented on #108
Sure.

[2017-07-13 13:32] fatso83 opened #109 "Missing documentation on changed API"
Issue #103 introduced a new API. The tests were updated, but not the README. We need to document the new API, as can be seen from #108

[2017-07-13 13:32] benjamingr commented on #108
@fatso83 I think that the readme needs to be updated too - would you like me to do that too? (In the same PR?)

[2017-07-13 13:33] fatso83 commented on #108
haha, just made #109 , so yes please!

[2017-07-13 13:33] benjamingr commented on #109
Will tackle both this and the issue I've opened if no one does by Sunday (my next working day).

[2017-07-13 13:36] #55 closed

[2017-07-13 13:41] fatso83 commented on #55
The built releases can be downloaded from this repo and the Sinon homepage no longer hosts the timer packages separately.

[2017-07-13 13:44] fatso83 commented on #73
This was fixed in 5bd7dff2bcd66db97bbc6b36a20a9ddb4f411b23

[2017-07-13 13:44] #73 closed

[2017-07-13 13:49] fatso83 commented on #69
Although we don't have a good test code to show this problem, and so this has not been verified to be an actual Sinon problem, I suspect that the async changes in #102 and #105 might fix the issue. As we have very little to go by I am going to close this as missing information required to dig into this, but it would be cool if @timdp could check out the new version of lolex with the `asyncTick` fe

[2017-07-13 13:50] #69 closed

[2017-07-13 15:00] benjamingr opened #110 "`process.hrtime` and `performance.now` not updated on `runAll`"
To reproduce:

[code]

This also affects `performance.now`. Will take a look.

[2017-07-13 15:17] benjamingr commented on #110
Pull request coming

[2017-07-13 21:47] #109 closed

[2017-07-13 21:56] #110 closed

[2017-07-14 11:34] benjamingr commented on #100
I was not able to reproduce this issue (with the new 2.0 syntax)

[2017-07-14 11:37] benjamingr commented on #84
I can start working on this if you'd like, basically the logic is:

If uninstall is called and `clock.timers.length > 0` then emit a `console.warn`.

What behavior would you prefer @fatso83 ?

 - Throw on timers remaining?
 - Warn on timers remaining?
 - Ignore on timers remaining? (Current behavior).

I'll also run the change on the Peer5 tests that use lolex (about 300) and see how it affects th

[2017-07-14 11:39] benjamingr opened #114 "Promises"
Hey,

At the moment promises won't get called in tests using lolex. I think it would be cool if promises ran under lolex too.

Basically:

 - Override `Promise.prototype.then` (which always defers running callbacks to the next tick).
 - If the clock progresses (in any way) - run pending promises as well.
 - On uninstall - run all promise callbacks remaining in nextTick and resume standard operatio

[2017-07-14 13:27] fatso83 commented on #114
This sounds a bit hairy ... and possibly a bit out of scope. Prototype modification of global types always sends chills down my spine due to potential side effects not expected by the clients. You also have no guarantee that promises are made using `global.Promise`. How would you handle promises made using [pinkySwear](https://github.com/timjansen/PinkySwear.js)?

[2017-07-14 14:13] fatso83 commented on #84
Could be a three-option setting ("ignore", "error", "warn"), where we could set a new default. A lot of people don't like `console` statements filling up their tests, but then they at least have the option of turning it off.

I am not totally sure what would be a good default here. Maybe @mroderick could chime in with an opinion.

[2017-07-14 14:17] fatso83 commented on #100
Then we might close it. They had [a test case](https://github.com/knod/playback/commit/699cd585e2a0b6c78cb681544aa9b0af04676543) in the open source project that references this issue. Might be a tad bit too much work to clone that and rework their tests into the new 2.0 syntax, so just assuming this works fine.

Please reopen if this bug is still lurking somewhere.

[2017-07-14 14:17] #100 closed

[2017-07-14 14:27] fatso83 commented on #85
closed by #102

[2017-07-14 14:27] #85 closed

[2017-07-16 07:16] benjamingr commented on #114
I agree, there is an explicit hook here though (`Promise.prototype.then`) that is an additional "timer entry point".

The same way you'd handle timers that come from an external package and no the platform - you don't really. You can instrument their scheduling mechanism and they can opt in.

For example - it's fairly easy to get `bluebird` to work with lolex by calling `setScheduler` with a timer

[2017-07-16 07:19] benjamingr opened #116 "`nextTick`"
I believe that an installation should also run `process.nextTick` calls if possible to simulate correct timer flow.

Currently, lolex ignores `process.nextTick` calls which go out of order when testing Node calls :)

Fixing would look like:

 - detect if nextTick is present.
  - If it is, override it like `setTimeout`
 - Whenever timers are run - always before the next timer - call the nextTick ca

[2017-07-16 09:23] benjamingr opened #118 "Domains/async hooks"
Hey,

Domains/async hooks aren't really supported from what I can tell - if a timeout is registered from a given domain/async context lolex probably wants to run it in that context.

[2017-07-16 11:23] benjamingr commented on #116
Submitting a PR for this

[2017-07-16 17:44] fatso83 commented on #118
Not sure I understand what this domain bit is about (code executing in another frame?). Could you elaborate your issue description with some links to articles on the subject, and/or a short code snippet that shows what is currently not possible.

[2017-07-16 18:18] #108 closed

[2017-07-16 19:07] fatso83 commented on #116
Closed by #120.

P.S. You might want to [check out this](https://help.github.com/articles/closing-issues-using-keywords/)

[2017-07-16 19:07] #116 closed

[2017-07-16 19:09] fatso83 commented on #67
New summer, new hopes :-)

[2017-07-16 19:34] benjamingr commented on #118
Sure: NodeJS has the concept of [domains](https://nodejs.org/api/domain.html) (a little similar to the Zones proposal in the TC now) which are deprecated and async_hooks which are not.

Domains provide a context across asynchronous calls - and catch errors thrown in asynchronous contexts. Basically if you are in a domain and an async function is scheduled - you run it in the same domain (basically

[2017-07-18 13:37] royalpinto opened #122 "Unable to use shouldAdvanceTime and advanceTimeDelta options."
Env Details:
`lolex: 2.1.0`
`node: v6.9.2`

Following script throws an error:
[code]

Error:
[code]

What could be the issue ?

[2017-07-18 13:43] fatso83 commented on #122
Thanks for your bug report. This was quite unfortunate.

@elad-nach, any ideas?

[2017-07-18 14:18] elad-nach commented on #122
@fatso83 I'm just looking into this as I'm trying to integrate 2.1.0 into sinon.

I'm also getting sporadic errors there - regardless to whether lolex is installed with `shouldAdvanceTime = true`. Errors are shown on mocha in the XHR test section on sinon.
I'm investigating in any case. will update once I nail it.

[2017-07-18 14:40] elad-nach commented on #122
@fatso83 @benjamingr
could you please have a second look at the `nextTick()` feature that was merged? The `runJobs` was added on that PR.
see [here](https://github.com/angular/zone.js/issues/760) and [here](https://github.com/angular/zone.js/pull/762/files).

[2017-07-18 16:19] benjamingr commented on #122
The error makes sense - the user overrode `process.nextTick` and did not uninstall the timer - Node was trying to flush the ticks and lolex was there.

I'll see if I can hack around it (by mimicing nextTick better), the obvious fix is to advance the clock synchronously and then uninstall.

A general way to reproduce would be:

[code]

[2017-07-18 16:21] benjamingr commented on #122
On it.

[2017-07-18 16:22] benjamingr commented on #122
I think I know why this might be - we change how timers work _after_ the first tick in Node, @royalpinto can you try to reproduce with:

[code]

[2017-07-18 16:22] benjamingr commented on #84
@fatso83 we could `process.warn` on Node and throw in browsers - although lolex is used in tests so I doubt it would cause availability issues.

I'm :+1: on throwing everywhere in terms of design - but it would be a breaking change. I'm also fine with ignoring by default if NODE_ENV is production and warn otherwise.

[2017-07-18 16:23] benjamingr commented on #122
It's because `nextTick` can take extra parameters, but we never documented it - I'll fix.

[2017-07-18 16:33] benjamingr commented on #122
Sorry, this is my bad - I _meant_ to have it work but I made a silly mistake:

[code]

Submitting a PR now

[2017-07-18 19:13] fatso83 commented on #84
Also agree with throwing as a general rule of thumb. But as we shipped 2.0.0 a few days back, it's a bit early for making a new breaking change - warranting a new major version. We could do this as a stepwise refinement, kind of the way we deprecate things in Sinon:
1. Current major version: print warning about non-optimal current design
2. Next major version: Throw error

[2017-07-18 19:21] mroderick commented on #84
I am with you for throwing. I think @fatso83's suggestion is reasonable!

[2017-07-18 21:50] #122 closed

[2017-07-18 22:20] benjamingr commented on #84
So, I completely changed my mind on this after writing the PR, it turns out writing `setInterval` and but not calling `clearInterval` is a pretty common scenario. Another common scenario is doing a `setTimeout` and checking it was _not_ called after a duration - a `clearTimeout` is not used.

To illustrate this - lolex's own test suite emitted 20 warnings for tests like:

[code]

Both lolex's own

[2017-07-19 05:26] royalpinto commented on #122
@fatso83 @elad-nach @benjamingr
Thank you all for the quick resolution 👍
Is this is available in the new `npm` release now ? I did a `npm install lolex` (it installed same `2.1.0`) and error is still repeating.

[2017-07-19 05:29] fatso83 commented on #122
@royalpinto  [No new patch release has been made](https://github.com/sinonjs/lolex/blob/master/History.md). I'll see to it today.

[2017-07-19 05:39] benjamingr commented on #83
This is no longer an issue in modern Node:

0.12:
[code]

v4
[code]

v8
[code]

[2017-07-19 07:00] fatso83 commented on #83
Thanks for the investigation, @benjamingr ! Closing.

[2017-07-19 07:00] #83 closed

[2017-07-19 07:14] fatso83 commented on #122
This is now published as [2.1.1](https://www.npmjs.com/package/lolex).

[2017-07-19 07:20] fatso83 commented on #84
Good points you raise there, Benjamin. I guess we could still supply throwing an exception as a feature that can be toggled on (off by default). I also like that `uninstall` could return the timers. Maybe it would return a structured object of some kind like `{ setTimeout: [], setInterval: [], ...}`. Not sure how easy this would be to implement, though.

[2017-07-19 08:00] mroderick commented on #84
That seems reasonable

[2017-07-19 09:12] benjamingr commented on #67
There are a few edge cases:

Node does:

Timers API say:

We don't handle this case at the moment - can PR to handle. We do handle it not being passed.

The spec itself does _not_ require that the timeout is under 2**32 nor does it require that the timers are overflown in a particular way.

MDN claims:

We can definitely do that.

We can likely handle this case, but it's not very interesting (sinc

[2017-07-19 09:36] benjamingr commented on #67
Turns out this is actually well defined in WebIDL https://heycam.github.io/webidl/#abstract-opdef-converttoint (thanks to @annavk for pointing me in the right direction!).

[2017-07-19 09:36] benjamingr commented on #67
cc @elad-nach (have you started working on it by the way?)

[2017-07-19 10:39] elad-nach commented on #67
this is implemented as part of the V8, why do you want to write a javascript implementation to something which is already implemented in the underlying engine?

[2017-07-19 14:52] benjamingr commented on #67
@elad-nach what do you mean? lolex runs in many engines (unless you're suggesting to lift some part from V8), and even in V8 it's just how numbers work - and not implemented - it was specced to behave consistently with two's complement number arithmetic.

Your current code sets the timer to 1ms no matter what - if you look at @fatso83's implementation it actually follows the spec I linked to above

[2017-07-19 15:45] elad-nach commented on #67
NodeJS spec specifies that above delays above 2 ** 31 are set to 1. Also ones below 1.

[2017-07-19 18:01] benjamingr commented on #67
@elad-nach yes, but the DOM spec suggests otherwise so we _might_ want to if/else and set timers accordingly - although this is already an edge case and I think setting them to 1 is a reasonable default for web too.

(I would throw on timers that are too long, but meh)

[2017-07-20 16:56] novemberborn opened #126 "Faked `nextTick` causes Node.js 8.2.0 to hang"
https://github.com/novemberborn/ksuid/commit/b4564c5d52835e1ce479dafe9cea938b1a738dfd hangs when tests are run in Node.js 8.2.0, but is fine in 8.1.4.

The fix is to not fake `nextTick`: https://github.com/novemberborn/ksuid/commit/7239faa5d166b7a241eb78c688d0c0191f72ed06

Tests are run using AVA, which does not directly uses `process.nextTick()`. I'm not sure why it the hangs occur with Node.js 8

[2017-07-21 06:51] elad-nach commented on #126
@benjamingr

[2017-07-21 08:51] fatso83 commented on #126
# Testcase for auto-repro.
Assuming `n` is installed (`npm -g install n`)

[code]

[2017-07-21 17:53] benjamingr commented on #126
We can start not hooking on nextTick by default or to flush them automatically by default.

Node uses nextTick internally (and also timers)

[2017-07-21 17:54] benjamingr commented on #126
I can work on a PR for either behavior

[2017-07-21 17:59] elad-nach commented on #126
I think that a configuration flag was the right thing to do in the first place;
Why not allow developers to have the possibility to choose if to enable this or not?

[2017-07-25 15:27] #126 closed

[2017-07-25 15:29] fatso83 commented on #67
Closed by #124

[2017-07-25 15:29] #67 closed

[2017-08-08 08:36] benjamingr opened #128 "`performance` should work in Node"
Soon, when https://github.com/nodejs/node/pull/14680 lands the `performance` API (and tests) should be added to Node.js by lolex when running.

I'll work on it when it lands.

[2017-08-12 16:48] fatso83 commented on #114
@mroderick, any thoughts on this or #105?

[2017-09-14 03:03] dsjstapler opened #130 "clock is slower than system time"
when use lolex.insatll and set shouldAdvanceTime to true,the clock pass slower than system time.so  it would  cause a litter deviation for a while.

[2017-09-14 05:02] elad-nach commented on #130
This is true but also by design. Read the documentation and implementation to see why.

[2017-09-23 05:09] Cherviakov opened #131 "use sinon.useFakeTimers in each test on fail make other tests fail"
My function give resutl in respect to current date, I use sinon.useFakeTimesrs for that. I was trying few ways untill start to write it inside test itsel, and call restore() in the end of test.
[code]
But this approach has problems: if any test, which useFakeTimers, fails, then that other test restore function not called, making many tests fail as well, because of wrong date.

Other approach was t

[2017-09-23 05:39] Cherviakov commented on #131
For now using following way:
[code]

[2017-09-24 11:03] fatso83 commented on #131
Don't use this. Simply put the clock in a variable in the describe block's scope.

[2017-09-24 11:03] #131 closed

[2017-09-24 11:14] elad-nach commented on #131
@Cherviakov the reason that `this.clock` is undefined in the `beforeEach` block is because you're instantiating a new `this` scope with the `beforeEach(function () {});` declaration.
Instead, use a an [arrow function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this#Arrow_functions) to keep `this` scope to be the enclosing block's scope.

[2017-09-24 15:26] fatso83 commented on #131
That's how to fix it, but Mocha's authors explicitly tell people to avoid arrow functions,  hence the tip to make use of closures :-)

[2017-09-25 04:42] Cherviakov commented on #131
As I checked it, if you make arrows all but first describe, everything working fine. So I think can use that, actually.

Yeah, if put as variable in higher scope, not relate to this should be work as well okay. Thanks.

[2017-09-28 00:46] griest024 opened #132 "add module entry point"
importing lolex in certain module systems will throw `Uncaught ReferenceError: global is not defined` and adding a module entry point in `package.json` will fix this.

[2017-09-28 08:45] fatso83 commented on #132
Could you give some more details? Which systems are this, and can you point to an example config?

[2017-09-28 15:29] novemberborn opened #134 "Unexpected behavior with negative delays"
[code]

This gives:

[code]

I think https://github.com/sinonjs/lolex/blob/4e1fdcf24f0adfca3b121dd51ff7505bb705a61b/src/lolex-src.js#L208 should use `Math.max(0, parseInt(timer.delay))`.

Currently these negatively delayed timers aren't triggered by `clock.tick()` either, though `clock.next()` works.

[2017-10-03 05:13] #132 closed

[2017-10-04 08:33] mroderick commented on #134
Thanks for the report!

I agree with your proposed solution. Care to make a PR for it?

[2017-10-04 08:33] #130 closed

[2017-10-04 08:43] mroderick commented on #128
@benjamingr are you still planning to work on this, otherwise I would like to close this issue to keep the open issues list short

[2017-10-04 09:46] mroderick commented on #114
`lolex` is already a bit on the crazy side of things, with replacing `setTimeout` and friends, we might as well commit to covering more async things. I agree that it's not entirely overlapping with the scope of the rest of the methods here, but I `lolex` is a good place for this functionality to start out.

The proposal makes sense to. We might see issues, that are difficult to anticipate before g

[2017-10-04 21:28] benjamingr commented on #128
Yes, this is blocked on Node atm, if you’d like you can close this and I’ll reopen it when it lands but I personally like tracking issues

[2017-10-05 06:52] mroderick commented on #128
Cool, closing it for now

[2017-10-05 06:52] #128 closed

[2017-10-06 07:56] #134 closed

[2017-10-28 21:31] oliviertassinari opened #136 "window.performance.mark becomes undefined after timer install"
I have noticed the following behavior in the browser:
[code]

`window.performance` became a function after calling `useFakeTimers`. I believe that the issue is coming from this line:
https://github.com/sinonjs/lolex/blob/c08ff362a47e9786bc62da6c37175838bb7bd21e/src/lolex-src.js#L406-L408

One simple workaround is the following:
[code]

[2017-10-28 21:33] oliviertassinari commented on #136
I had to do some digging, the error on my side was coming from this line: https://github.com/facebook/react/blob/v16.0.0/src/renderers/shared/fiber/ReactDebugFiberPerf.js#L81.

[2017-10-30 10:33] fatso83 commented on #136
Verified. Here is the test with a browserified transpiled output that can be copy-pasted directly into Chrome for verification. Tested with `master` (6476935).

[test.js.txt](https://github.com/sinonjs/lolex/files/1426811/test.js.txt)
[transpiled.js.txt](https://github.com/sinonjs/lolex/files/1426812/transpiled.js.txt)

[2017-11-06 11:37] fatso83 opened #138 "Undefined interval for `clearInterval`: records as timer, not interval."
Moved from sinonjs/sinon#1611. Originally reported by @pabigot

* Lolex: 2.1.3
* Environment   : Node.js 8.7.0

If `clearInterval` is called with an undefined interval sinon appears to record it as a timer rather than an interval.

Reproducible with Lolex 2.1.3 and this code under Node.js 4.5 and 8.7.0.

[code]

producing:

[code]

[2017-11-07 09:07] #138 closed

[2017-11-07 16:21] fatso83 commented on #84
With @benjamingr's code I think this is a low-hanging fruit to implement. Added a better title for clarity.

[2017-11-07 18:13] benjamingr commented on #84
I can pick this up

[2017-11-07 18:13] benjamingr commented on #84
Can't self assign, feel free to assign me and I'll take a stab tomorrow.

[2017-11-08 08:17] benjamingr commented on #84
@Moeriki I know it's been a year - but would love your feedback on the solution proposed in https://github.com/sinonjs/lolex/pull/141 and discussed here

[2017-11-08 08:49] Moeriki commented on #84
I rarely use Lolex anymore so it's hard to consider my previous use-case. That said returning a list of timers on uninstall seems like a safe way to resolve this issue.

Let users assert the remaining timers themselves. Flexible 💪 and easy to reason  about. I like it. 👍

[2017-11-08 10:29] #84 closed

[2017-11-08 13:22] medanat opened #142 "requestAnimationFrame and cancelAnimationFrame leaking into global scope"
Getting "Error: global leaks detected: requestAnimationFrame, cancelAnimationFrame" when running latest version of lolex with the "--check-leaks" flag in mocha.

[2017-11-08 13:35] NoxWings opened #144 "global leak with requestAnimationFrame, cancelAnimationFrame"
I've already opened an issue in Sinon about a leak being reported by mocha while using sinon fake timers.
https://github.com/sinonjs/sinon/issues/1617

To replicate the error add --check-leaks to the mocha testing command on the `package.json`
[code]

output
[code]

I think this is probably the PR that introduced the bug, as this has only been failing for the last day or so and this is the only PR

[2017-11-08 13:37] fatso83 commented on #144
Great, thanks. Already reported as #142 a few minutes earlier, and a fix is in!

[2017-11-08 13:37] #144 closed

[2017-11-08 13:39] #142 closed

[2017-11-08 13:43] fatso83 commented on #144
Released as 2.3.0

[2017-11-08 14:06] mAAdhaTTah commented on #142
Whoops....

[2017-11-09 14:45] benjamingr commented on #136
@oliviertassinari wanna take a shot at a PR at this? Otherwise I can probably take a stab

[2017-11-09 19:36] oliviertassinari commented on #136
@benjamingr I'm already pretty busy with Material-UI. Sorry, it's not a priority for me.

[2017-11-10 11:49] benjamingr commented on #136
@oliviertassinari no need to justify or apologize - it's entirely fine if it's not a priority for you - I was merely offering :)

[2017-11-10 11:49] benjamingr commented on #136
@fatso83 I still can't assign myself to issues by the way :D I'll take a stab next week hopefully

[2017-11-15 16:12] gyandeeps commented on #142
This actually broke our unit test inside phatomjs also and they are still breaking. If if comment out any instance of `global.requestAnimationFrame` and `global.cancelAnimationFrame` then its starts working using sinon sandbox.

I am using karma, jasmine, sinon and phantomjs.

[2017-11-15 16:18] mAAdhaTTah commented on #142
Fails with what errors?

[2017-11-15 16:28] fatso83 commented on #142
@gyandeeps, Are you sure you have the latest version of lolex, 2.3.0? This should have been fixed in #143.

[2017-11-15 16:35] gyandeeps commented on #142
yes, i did force 2.3.0. Making the following change makes everything to function fine.

[code]

[2017-11-15 16:38] benjamingr commented on #142
@gyandeeps no need to do it - if you _don't_ want lolex to override `requestAnimationFrame` on installation `install` takes the names of the functions you want to override as a parameter.

[2017-11-15 16:39] gyandeeps commented on #142
The code i have commented out get executed regardless during require time. This issue is only inside phantomjs. To be honest i am not using lolex directly rather sinon consumes it.

[2017-11-15 16:46] mAAdhaTTah commented on #142
Best bet is to use `lolex` directly and tell it not to overwrite the `rAF` functions using @benjamingr's suggestion.

[2017-11-15 16:47] gyandeeps commented on #142
To be honest, any access to code `global.requestAnimationFrame` causes the issue. Also executing the above commented lines is not optional as they get executed during `require`/`import`/parse time.

[2017-11-15 16:57] benjamingr commented on #142
@gyandeeps interesting, I'll try to get phantomjs set up and reproduce this. Reopening in the meantime - if you can create a repo demo demonstrating the issue that'd be helpful.

[2017-11-15 16:58] mAAdhaTTah commented on #142
Did you try it w/ the `toFake` so the `rAF` functions aren't overridden? I'm skeptical that's the issue unless there's a bug in PhantomJS.

[2017-11-15 16:58] gyandeeps commented on #142
I will try. Its so hard and it could be many factors. I wish my code was open source then it would have been so easy. Thanks all for help. :smile:

[2017-11-29 11:12] medialwerk commented on #136
Is there anyone working at this issue at the moment? :-)

[2017-11-29 11:38] benjamingr commented on #136
sorry, completely forgot about it - can take a look early next week

[2017-11-29 12:25] medialwerk commented on #136
Thank you very much!

[2017-12-08 10:33] rogierschouten commented on #114
There is a problem with ES2017 async/await and replacing the global Promise object.

With ES2016, you can replace the global Promise object and then you can run fake timer tests just fine.  However, in ES2017, if someone uses `async`, then the promise returned from the `async` function will NOT be the mocked Promise.

I found a solution, but it basically requires a new lolex module:
Fake the macro

[2017-12-23 19:49] SimenB opened #146 "Create fake timers based on passed in object"
Bad title, so I'll try to describe my use case.

If I create a JSDOM instance in node, it has `requestAnimationFrame`, but lolex is unable to discover this (unless I use some fancy `vm` code) as is inspects `global` at `require`-time. This means that I have to use `lolex` inside of the script I execute in JSDOM, instead of managing it from the outside by controlling the injected globals. I need th

[2017-12-23 20:46] jdalton commented on #146
For context, @SimenB is a Facebook dev for the Jest test framework. Jest is looking to adopt lolex for their mocks to simplify their support and defer to a specialized lib like sinonjs/lolex.

[2017-12-24 08:29] benjamingr commented on #146
Sure @jdalton @SimenB I think we can do that.

The way I see it - we'd either pass the object to `.install` or expose a new method that does it to `global`.

Alternatively, we can expose a factory on `lolex`:

 - Wrap the entire code in `lolex-src.js` in a factory function
 - Invoke that when we export lolex with `global` from the outside (from browserify)
 - Expose the factory a second time as `l

[2017-12-24 08:54] benjamingr opened #147 "Expose way to run just microtasks"
For `jest` integration - we should consider exposing a way to run only microtasks (nextTick) - this effectively means exporting `runJobs`.

There are no other things currently shimmed in lolex with microtask semantics (promises - no because of async functions, `MutationObserver`s no). Since everything defers based on nextTick semantics that should be fine for jest inside jsdom.

CC @SimenB

[2017-12-24 08:57] SimenB commented on #146
Yeah, that's the alternative, but I was hoping to offload all of that logic onto Lolex.

One issue with manually setting the globals is that `set{Timeout,Interval,Immediate}` returns `Timer` instances with an `unref` function in Node which we don't want with JSDOM. I assume from the docs that Lolex does the right thing:tm: based on globals, which breaks in the JSDOM case.

<sup>Just to clarify, I'

[2017-12-24 09:01] benjamingr commented on #146
@SimenB

You're [right](https://github.com/sinonjs/lolex/blob/master/lolex.js#L31-L32):

[code]

If we extract things to a factory this should work out of the box - although it should probably be changed to `global.setTimeout` and we should add a test for it.

[2017-12-24 09:19] SimenB commented on #147
We also have the inverse in Jest - just running macrotasks.

Another diff in this regard is that our `tick` just triggers timers, it doesn't touch microtasks. Again, I'm not sure in what instances the distinction is useful, but I suppose it exists for a reason 🙂

See Jests docs (from the linked paragraph and down) for a rundown of what we do today. http://facebook.github.io/jest/docs/en/jest-objec

[2017-12-24 09:22] benjamingr commented on #147
I don't understand why running just macroticks and not microticks makes sense. (Since it would never be regular execution flow). Any motivation on why this is required?

[2017-12-24 09:24] SimenB commented on #147
@cpojer (who's on vacation, so might be a bit before we get an answer) any particular use cases for this?

[2017-12-24 13:42] cpojer commented on #147
I think running both in one call works fine with me, but I cannot confirm without testing this on the FB codebase. I can check usage of advanceTimersByTime at FB in early January to confirm.

[2017-12-25 09:02] fatso83 commented on #146
I thought this was the intent of using `var clock = lolex.install({target: context});`, but I see that specifying the target doesn't change use of global. Changing that would probably break a lot of assumptions, and hence tests, so I think a PR for a factory function makes sense. I guess it would basically have the same signature as `install`, just with an added option of `global`, or perhaps an a

[2017-12-25 09:10] SimenB commented on #146
What about `const clock = lolex.createClock({base: myGlobal})` and being able to say `clock.installInto(myGlobal)` or something? Would still need to move around all the current `global` usage, but reusing `createClock` seems nice (at least from an outsider's perspective 🙂)

[2017-12-25 09:21] fatso83 commented on #146
Seems ok, but the API looks a tad bit weird/inconsistent when considering that we return a clock object from `install`. So
[code]

[2017-12-25 13:27] benjamingr commented on #146
[code]

can also be done (API wise) if you prefer

[2017-12-28 12:38] fatso83 commented on #146
I think that is preferable, if possible? Seems consistent. Other views?

[2017-12-28 12:40] SimenB commented on #146
I like it

[2018-01-09 13:55] risinglf commented on #136
Hi guys, news about this issue? thanks

[2018-01-09 15:04] fatso83 commented on #136
@risinglf Feel free to have a go. It's a very minor fix that you can probably make a PR for in 30 mins.

[2018-01-20 13:57] #118 closed

[2018-01-21 10:19] SimenB commented on #146
Any news here? Would love this to land so I can start testing this within Jest

[2018-01-21 10:45] benjamingr commented on #146
@SimenB I'm currently traveling in Ecuador, I'll only be back in Feb 6th and will be able to work on this afterwards - you or @fatso83 can take this or we can wait - sorry!

[2018-01-21 11:59] SimenB commented on #146
No need to apologize, a timeline is more than enough for me. Enjoy your travels! 🙂

[2018-01-24 08:53] remojansen commented on #136
As a temporary solution, I used the following function:

[code]

It works with:
- `react@16.2.0`
- `sinon@4.2.0`
- `enzyme-adapter-react-16@1.1.1`
- `enzyme@3.3.0`

[2018-02-01 00:00] emfleisch opened #155 "Lolex unable to trigger setTimeout in non-test file"
Im using sinon/mocha for my TS test suite. In one non-test file I have a setTimeout cmd with a 90 second timer.  In my test file, i set up a clock with  `const clock = lolex.install()`.
I can confirm in my test file that any setTimeout or clock call is based off this lolex clock, however the external setTimeout will not get triggered.
Also confirmed  in my test file that a Date.now() will show the

[2018-02-01 11:11] fatso83 commented on #155
We need actual reproducible code for this to be checked out. Can you make a minimal test case that we can run? JSBIN, a repo, a gist, something?

[2018-02-06 08:36] austintackaberry commented on #136
This temporary solution did not work for me using:
- `react@16.2.0`
- `sinon@4.2.2`
- `enzyme-adapter-react-16@1.1.1`
- `enzyme@3.3.0`

However, @oliviertassinari's workaround did work for me.

[2018-02-06 16:01] rogierschouten commented on #114
Keepalive

[2018-02-14 22:22] vekexasia commented on #155
Experienced this issue too apparently `global.setTimeout.toString()` returns the `lolex` rewritten `setTimeout` while `setTimeout.toString()` returns the original setTimeout code.

How that is possible is out of my current understanding.

Cc: @mcanever

[2018-02-15 07:12] fatso83 commented on #155
@vekexasia can you make a reproducible snippet? That makes it far more likely someone will take a look at it.

[2018-02-15 07:56] vekexasia commented on #155
Hey:

https://github.com/RiseVision/rise-node/blob/feature/typescript-matteo/src/modules/forge.ts#L98-L112

cannot be tested with sinon useFakeTimers.

One of many trials to properly test it is here:
https://github.com/RiseVision/rise-node/blob/feature/typescript-matteo/tests/unit/modules/forge.spec.ts#L253-L260

[2018-02-15 12:25] fatso83 commented on #155
@vekexasia I have checked out the code and run the test. Indeed, while the test has `global.setTimeout === setTimeout` it is false when running actual production code.

Do you need if this worked at a point?

I was fairly confident this had something to do with cached references in the transpiled output, but your project's build script failed every time due to some typescript bug with `@types/colo

[2018-02-15 12:26] benjamingr commented on #147
Taking a look

[2018-02-15 12:28] fatso83 commented on #155
@emfleisch Are you able to produce a simple, runnable example? Preferably without a transpilation step that obscures what is going on. It could be ESNext, as long as it runs in some version of Node or Chrome.

[2018-02-15 12:33] benjamingr commented on #146
Going to take a look

[2018-02-15 12:38] benjamingr commented on #146
Looking at this, it seems like it's just a bug with `target` - so rather than introducing a new parameter we should make timer references deference the global every time.

[2018-02-15 12:56] SimenB commented on #146
I don't think so. See the following lines: https://github.com/sinonjs/lolex/blob/444c9384ace3853761d76aa31fa4ac3648247c9d/lolex.js#L31-L37

They look at the global `global`. Jest needs it to look at some passed in global as we won't `require` lolex from within the context of jsdom - we manage it outside of it

[2018-02-15 13:25] benjamingr commented on #146
@SimenB thinking about this further, I think the issue is just whether or not we should return object or DOM timers - so I think I'll just PR that functionality instead.

[2018-02-15 13:29] benjamingr commented on #136
Going to tackle this now

[2018-02-15 13:32] benjamingr opened #158 "Make performance work with Node"
See https://nodejs.org/api/perf_hooks.html

I can take a look or mentor someone who wants to look into this

[2018-02-15 14:07] benjamingr commented on #136
I added a test case as:

[code]

but it passed without any changes - what am I not understanding?

[2018-02-16 14:08] vekexasia commented on #155
Apparently it's due `rewire` The tested module is loaded using `rewire`.

[2018-04-03 18:41] tarjei commented on #136
Hi, any news on this issue?

[2018-04-03 19:13] akhilkedia opened #159 "Use a faster (more time efficient) data structure for clock.timers"
**Summary**
Right now, `clock.timers` in Lolex is an array, which is looped through completely everytime in `firstTimer()` or `LastTimer()`.
This is extremely inefficient, and perhaps other data structures such as a `heap` might be much faster.

**Background Details**
Lolex is great for running simulations - but in one of my recent projects, I attempted to use Lolex to run a code over a simulated

[2018-04-03 20:30] tarjei commented on #136
This is what I'm seeing:

In my test:
[code]
Output:

[code]

So sinon is setting performance.mark to undefined for some reason.

[2018-04-04 06:32] tarjei commented on #136
This is what I'm seeing:

In my test:
[code]
Output:

[code]

So sinon is setting performance.mark to undefined for some reason.

So maybe the testcase should look like this:

[code]

[2018-04-04 12:26] benjamingr commented on #159
Actually, timers is a hashmap (well object) and we iterate the hashmap for the first one, if it were an array and it was kept sorted then inserts would be pretty fast and firstTimer would be similarly fast.

[2018-04-04 17:34] benjamingr commented on #136
@tarjei are you able to reproduce it with lolex alone?

[2018-04-04 18:29] akhilkedia commented on #159
My bad, yes timers is a Hashmap (object.)

Even if you change timers to a sorted array, while first/last and removing a timer could be fast, insertion into a sorted array would still take `O(n)` time (n is length of timers array) as the other elements in the array would need to be shifted.

Hence I suggest using any priority queue structure, such as a heap.

[2018-04-04 18:36] tarjei commented on #136
@benjamingr I didn't try as it seemed to me to be related to sinon - esp since your testcase works.

How do I run the tests with performancePresent btw? It seems that the performance object is missing when I run npm test.

[2018-04-05 11:45] tarjei commented on #136
@CoderK I suspect that a PR would be most welcome :) :+1:

[2018-04-05 12:39] CoderK commented on #136
Ok, I’m gonna make a patch soon!

[2018-04-06 08:53] CoderK commented on #136
I created pull request, #160. If there is someone who has admin permissions, please review my PR.

[2018-04-16 14:30] SimenB commented on #146
Discussion still ongoing in the PR

[2018-04-16 15:17] fatso83 commented on #147
@benjamingr I haven't noticed the PR at all: do you have all required privileges to merge now, btw?

[2018-04-16 15:21] #147 closed

[2018-04-16 15:25] fatso83 commented on #147
@benjamingr You had been added to the `lolex-core` team ages ago, but I had forgotten to give `lolex-core` rights to do anything on the `lolex` repo. You should be good to write and approve stuff now! Sorry for delaying this, but a new family situation  :baby_bottle:  arose around the time of this PR.

Don't be a stranger to pestering my on email, btw, if I should be blocking something.

[2018-04-16 15:58] benjamingr commented on #147
@fatso83 congratulations! Really no rush here or sense of urgency - family first and thanks :)

[2018-04-16 16:04] #136 closed

[2018-04-17 10:02] benjamingr commented on #159
@akhilkedia any interest in working on this? I can point you to the right places in the code if you'd like :)

If not I can take a stab next month probably.

[2018-04-17 15:28] #155 closed

[2018-04-17 15:28] benjamingr commented on #155
Stale and not a bug :) Thanks for the report!

[2018-04-19 16:49] Alexsey commented on #159
@benjamingr do you mean that this https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L345 is an error and it must be `{}` and not `[]`?

And we may stop using ugly `hasOwnProperty` if `timers` would be created with `Object.create(null)`

And about `delete` - it is [still slow](https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/) so, probably, better would be to use

[2018-04-19 17:02] Alexsey opened #161 "Is method reset() public?"
There is a [reset](https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L692) method in the code but it is not in the docs (readme)

1. May I rely on it?
2. May I add to it `clock.now = 0`?

I can make a PR with it to docs

[2018-04-19 19:11] benjamingr commented on #161
@Alexsey what's the use case?

[2018-04-19 19:13] benjamingr commented on #159
Yeah, though given how JS works it doesn't really matter.

Also true.

I think there is some confusion there, "delete being slow" is a thing because of hidden classes - but for what we're doing the hashmap version generated by the `delete` is actually probably preferable.

Using a heap would make more sense anyway.

[2018-04-19 19:45] Alexsey commented on #161
I'm creating a single instance of `clock` per test file and then `reset` it and set `clock.now` to `0` in `mocha`'s `afterEach`

[2018-04-19 19:51] akhilkedia commented on #159
@benjamingr I'm kinda occupied with other projects at the moment - I needed only a small subset of lolex's features, so I made a fork of my own.
You can find it here  -https://gist.github.com/akhilkedia/9c59139d9bf04bb7695085a55acde429

The critical parts are using `TINY_QUEUE` (which is the heap), using `clock.timers.push(timer);` in `addTimer`, `timers.pop()` in `firstTimer`.

This implementatio

[2018-04-19 19:52] Alexsey commented on #159
@benjamingr Yes, you are right, the way it's used `delete` is ok. I can make a PR to fix other stuff

[2018-04-20 16:48] benjamingr commented on #161
@Alexsey anything preventing you from creating a clock instance per test?

Typically our code looks like this:

[code]

[2018-04-20 17:37] Alexsey commented on #161
It's much faster. Reset time and tasks is instant

[2018-05-05 09:54] radarfox opened #163 "Count of active timers"
Hello,

I would like to find out how many timers is actively running, but I can't find any mention of it in the API reference.

My use case is that I'm writing a test for a destructor function and I would like to make sure that all timers got cancelled after the function execution so there would be no memory leaks.

Currently I'm using this hotfix `Object.keys(clock.timers || {}).length`, but it s

[2018-05-05 10:13] benjamingr commented on #163
`.uninstall` returns all the pending timers as an array. You can check its `.length` which is less hacky although I'm not sure we have this behavior documented.

Docs PR for the use case is welcome

[2018-05-06 08:53] SimenB commented on #146
For people following along, I've opened up a PR containing my suggestion from the OP - a factory function. #164

[2018-05-08 07:01] SimenB commented on #147
@benjamingr I think I've found an issue with the implementation - it doesn't guard against recursion in the same way the timers do. Jest has the following test, which never completes when using this new function:

[code]

I think `runMicrotasks` should also respect the `maxLoops` argument.

[2018-05-08 07:16] SimenB opened #166 "Scheduling timers during `tick` with timeout of `0` forcing timeout of `1`"
See the following code: https://github.com/sinonjs/lolex/blob/63b192998893a3a22203d7b0741864e2fc1b91ce/src/lolex-src.js#L219

Jest has a test that running fake timers bail if the infinitely recurse, it looks like this:

[code]

`timers.advanceTimersByTime` is implemented using `clock.tick`.

However, this doesn't throw anymore, and I think it's because of the code line I linked above.

My question

[2018-05-08 07:27] SimenB commented on #166
Cool! I'll just remove that test from Jest then, as it tried to assert the wrong behavior. Thanks for the quick response!

[2018-05-08 07:28] #166 closed

[2018-05-08 07:29] benjamingr commented on #166
Note that we _do_ have a config.loopLimit which you can use to avoid infinite recursion with timers if you'd like to preserve the bailing test.

[2018-05-08 07:31] SimenB commented on #166
`loopLimit` is only respected in `runAll`, not any of the other functions (such as `clock.tick` which is used here).

[2018-05-08 08:18] SimenB commented on #166
@benjamingr a question popped up - that's the HTML spec, is it implemented the same in Node?

[2018-05-08 08:25] benjamingr commented on #147
Going to reopen since it's being discussed

[2018-05-08 08:34] SimenB commented on #147
Interesting, didn't know that! A bail seems more useful than a freeze, especially in a testing situation (as it prevents tests from timing out), but matching real behavior (beyond manipulating time) is really compelling as well.

@cpojer thoughts on this?

[2018-05-08 08:45] benjamingr commented on #166
@SimenB yes, pretty much - though if you'd like more "official clarification" of what we can commit to for timers I can bring it up internally in Node. We don't actually have a spec the way web timers do but try to stay compatible.

[2018-05-08 09:05] SimenB commented on #166
Nah, as long as it matches, and it's a goal to match in the future (so it won't drift more or less arbitrarily) that's more than enough for me 🙂

<sup>In general I wouldn't mind the node docs explicitly stating at least where their implementation deviates from web specs, but that's not timer specific.</sup>

[2018-05-08 09:19] benjamingr commented on #166
Well, timers are pretty much the only API node has that _looks_ like a web API and isn't - the other stuff either has different naming and methods (EventTarget vs EventEmitter) or is actually the same (like URL).

[2018-05-08 15:14] #146 closed

[2018-05-08 15:29] fatso83 opened #167 "Builds are failing on IE10 and others"
After merging #160 the builds [started failing](https://travis-ci.org/sinonjs/lolex/jobs/367234969#L2533). We probably lack some checks to see if the `Performance` object exists at all.

[2018-05-08 16:06] SimenB commented on #167
Huh, we're actually hit by this in Jest in the PR moving to Lolex.

![image](https://user-images.githubusercontent.com/1404810/39768732-7659250c-52ea-11e8-8b01-1d3f2bdab1b8.png)

Probably just some faulty mocking. I can dig into it later this week if no one else gets to it 🙂

[2018-05-08 17:03] cpojer commented on #147
Regardless of what's better, we cannot change behavior for existing Jest tests at this time. If we want to use lolex for Jest, the initial version must 100% match what Jest has right now. We can make incremental breaking changes later.

[2018-05-08 21:17] SimenB commented on #167
Dug into this (related to #162).

Using the fix in that PR is fine, but I'm unable to install it in JSDOM as it throws with `Cannot set property performance of #<Window> which has only a getter`. This does not match Chrome behavior, which allows you to set `window.performance = {}` just fine.

Not sure of the best way forward?

[2018-05-08 23:17] dpogue opened #170 "Illegal Invocation from createClock"
Just updated lolex and started getting a bunch of test failures with this error:

[code]

Tests are being run in Chrome 68 headless.

[2018-05-08 23:46] fatso83 commented on #170
Not good. Thanks for reporting! Which version worked? Any reproducible code? Hard to dig into without a test case.

[2018-05-09 00:03] dpogue commented on #170
It looks like both 2.4.0 and 2.4.1 are broken, but 2.3.2 works.

It seems to happen as soon as a test calls `sinon.useFakeTimers()`

[2018-05-09 06:17] mantoni commented on #170
This also looks like the issue I addressed here: https://github.com/sinonjs/lolex/pull/162/files

I also ran into this when trying to run the lolex tests in headless chrome.

[2018-05-09 06:26] SimenB commented on #170
Yeah, I think it's the same as #162 and #167

[2018-05-09 16:17] mermaid commented on #170
This started happening to me yesterday as well. I get `TypeError: Illegal invocation` in headless chrome (and normal chrome as well) as soon as we try to use fake Timers

[2018-05-11 07:17] daisyxu0924 opened #171 "Performance is not defined"
Hello, I'm getting
[code]
with the new release 2.4.1.

[code]
When used lolex@2.3.2 it was working fine.

Thanks!

[2018-05-11 07:28] benjamingr commented on #171
Hey, apologies! @daisyxu0924

Can you please share what browser you're seeing this in?

[2018-05-11 10:28] barcicki commented on #170
Versions 2.4.0 and 2.4.1 also don't work on Firefox.

You can see it in build result: https://travis-ci.org/sinonjs/lolex/jobs/376426623#L2348

[2018-05-11 11:11] fatso83 commented on #170
Fixed by #162. Released as 2.4.2.

[2018-05-11 11:15] fatso83 commented on #167
heads up: the fix in #162 is merged

[2018-05-11 11:16] #167 closed

[2018-05-12 14:37] benjamingr commented on #163
Going to close this since I haven't received feedback in 7 days. Feel free to comment at any point.

[2018-05-12 14:37] #163 closed

[2018-05-12 14:49] benjamingr commented on #147
I'll make a PR @SimenB @cpojer

[2018-05-12 14:59] benjamingr commented on #147
@SimenB let me know if the fix in https://github.com/sinonjs/lolex/pull/172 works for jest

[2018-05-12 15:50] SimenB commented on #161
Jest has `reset` now. I currently implement it by doing `uninstall` then `install`, but wouldn't mind having reset out of the box :)

[2018-05-12 16:13] benjamingr commented on #161
It also needs to reset the microtick jobs

[2018-05-14 02:48] daisyxu0924 commented on #171
Hello @benjamingr sorry about the late reply. my useragent is
```Mozilla/5.0 (darwin) AppleWebKit/537.36 (KHTML, like Gecko) jsdom/11.7.0```
I've updated lolex to 2.5.0 global.Performance is still undefined. Thanks!

[2018-05-14 03:10] phoebejhhong commented on #171
Hey I'm working on the same project with @daisyxu0924

The code that invokes this problem is just
[code]

as part of our test suite along with mocha, enzyme and webpack.
I've found the commit that caused problem for us (https://github.com/sinonjs/lolex/commit/469b547334aeee8731581a24b8e42fb23d2aea43) and when we comment that block of code out, everything is fine. After version 2.4.2, the error mes

[2018-05-15 19:16] dwoowb opened #177 "_global.Performance is undefined"
* Lolex version : 2.5.0
* Environment   : macOS 10.13.3 (High Sierra)
* Example URL   : N/A
* Other libraries you are using:

sinon 4.4.2
sinon-chai 2.14.0
mocha 5.0.1

**What did you expect to happen?**

Expected `useFakeTimers()` to work in sinon v4.4.2 the same way it did in sinon v2.0.0 which correlate to lolex v2.5.0 and v1.6.0 respectively. Found the error originating from lolex's `createClo

[2018-05-15 19:25] dwoowb commented on #177
I wasn't sure if this was a sinon issue or a lolex issue, but seeing the same issue when using `lolex.install()` directly (1.6.0 vs 2.5.0)

[2018-05-15 19:48] benjamingr commented on #177
Thank you for the report and sorry for the negative experience.

This looks like a duplicate of https://github.com/sinonjs/lolex/issues/171 but you're saying it works - I'll take a look into it tomorrow or another day.

If you want to make a PR or would like help making one I'm also in favour of that :)

[2018-05-15 19:55] dwoowb commented on #177
Doh, should have checked closed issues first, apologies.

Thanks for the quick reply, I'll go ahead and check out the related issues and PRs around this. I believe this is an exact duplicate of #171, feel free to close it and if this is somehow a separate issue I can open a new issue.

[2018-05-15 21:01] benjamingr commented on #177
Thanks. Feel free to reopen if you think this is a different issue.

[2018-05-15 21:01] #177 closed

[2018-05-15 22:44] dwoowb commented on #171
@daisyxu0924 I'm running into what looks like the same issue. Could you elaborate a bit on how jsdom was related to this issue for you? Thank you!

[2018-05-16 00:45] daisyxu0924 commented on #171
Hi @dwoowb we are using enzyme + jsdom and running tests in node env. So what we did was overriding the node global env with jsom (which is not recommended by jsdom btw). So when lolex is executing global.Performance it's actually reading the node env. If yours is the same case, have a look at this: https://github.com/airbnb/enzyme/blob/master/docs/guides/jsdom.md

[2018-05-16 06:44] panzerdp commented on #171
Experiencing the same problem as the author describes. My setup is Node v8.5.0, jsdom@11.10.0, mocha@5.1.1 and sinon@5.0.7.
The error disappeared only after indication in `package.json` to install lolex@2.3.2.

[2018-05-16 07:54] fatso83 commented on #171
Also with 2.5?

[2018-05-16 08:06] #161 closed

[2018-05-16 08:12] panzerdp commented on #171
@fatso83,
When using lolex@2.5.0 I have the following error:
[code]

[2018-05-16 08:57] fatso83 commented on #171
@panzerdp As this is closed, and most issues we have seen mentioned here seems to be due to something else and fixed, could you please open a PR and try to make a _minimal_, reproducible case? As the test and build steps at Travis are fine, it's clear that we are not catching it in our tests, and I wouldn't know what the problem is or how to test for it (or its resolution).

The best solution woul

[2018-05-16 08:57] fatso83 commented on #171
P.S. @benjamingr You might want to check out those scripts as well, as they have made life as a regression hunter much easier in the past :smiley_cat:

[2018-05-16 09:32] panzerdp commented on #171
@fatso83,
The problem was introduced by [this commit](https://github.com/sinonjs/lolex/commit/469b547334aeee8731581a24b8e42fb23d2aea43).

[2018-05-16 11:33] fatso83 commented on #171
Weird. We only check that `global.performance` is defined, not `Performance`. Seems like we missed a check.

[2018-05-16 11:34] benjamingr commented on #171
@fatso83 on it

[2018-05-16 11:38] benjamingr commented on #171
https://github.com/sinonjs/lolex/pull/181

[2018-05-16 14:15] fatso83 commented on #171
@panzerdp As #181 discusses, we could need some more information on this regarding browsers affected. Could you tell us which browser/environment this bug appears?

[2018-05-16 18:01] panzerdp commented on #171
@fatso83,
Please check [this comment](https://github.com/sinonjs/lolex/issues/171#issuecomment-389412273).

I actually run some React unit tests in JSDOM environment. You can [see here](https://github.com/jsdom/jsdom/blob/master/lib/jsdom/browser/Window.js#L158) what properties exposes JSDOM's window object (`performance` is exposed, while `Performance` is not).

[2018-05-18 06:35] fatso83 commented on #159
@akhilkedia do you have any code we can use to benchmark lolex? This seems like a fun task, but as it complicates the implementation we need to make sure it's worth it in terms of an actual performance improvement.

I know that the Chai projects are really focusing on performance budgets, constantly monitoring performance, so might be worth having a look at that project. This is worth an issue of

[2018-05-18 08:49] benjamingr commented on #159
@fatso83 I actually have a branch that uses the `priorityqueue` package and mostly passes the test, my current reservations about using it:

 - lolex was never slow for me in a real life use case.
 - we don't have a benchmark suite (like you said)
 - changing the implementation to a priorityqueue required substantial changes (and removing and then pushing things back to the queue because of lookin

[2018-05-18 09:35] fatso83 commented on #159
Agreed. No changing of fundamentals until proven we are missing a huge performance opportunity (verified using a benchmark).

[2018-05-18 17:36] akhilkedia commented on #159
@fatso83 I can provide you with a sample code which roughly corresponds to my use case, which will show the majority of the time being spent in Lolex's `firstTimer()`, as well as the issue being fixed after shifting to a priority queue.

Whether this issue also occurs while testing Peer5 test suite (or for some other benchmark), I cannot comment. In general, the larger the number of pending timeou

[2018-05-18 20:53] fatso83 commented on #159
Sample code would be great. Just comment with a gist or repo link (or email - in my profile).

[2018-05-20 15:58] dbkaplun opened #182 "Feature: isomorphic now() API for browser and node"
Hello,

It would be great if lolex included a `now` function that uses `hrtime` in Node and `performance.now` in the browser. Platform-agnostic code would be easier to write and test in this case.

Thanks for considering!

[2018-05-20 16:34] benjamingr commented on #182
@dbkaplun we (Node.js) ship [performance.now](https://nodejs.org/api/perf_hooks.html#perf_hooks_performance_now) now - you can use that as far as I know.

Also note that lolex is used to deal with existing browser APIs so I'm not sure if it would be our place to add an API.

Thanks for opening an issue!

[2018-05-20 16:40] dbkaplun commented on #182
Ah okay, then perhaps the documentation [should be changed](https://github.com/sinonjs/lolex#clockperformancenow) to reflect that. Right now, it says

Also, FWIW, current Node LTS (v8) does not seem to have it yet. (Although I look forward to it in a future upgrade.)

[2018-05-20 16:46] benjamingr commented on #182
That's because Node.js's performance is still an experimental API and no one asked for `performance.now` to work there. So [when we added it](https://github.com/sinonjs/lolex/pull/106) we didn't add support.

I [did open a follow up](https://github.com/sinonjs/lolex/issues/128) but the work never got done. No one has asked for this yet.

So I guess it's currently blocked on the fact no one uses it

[2018-05-20 22:03] benjamingr commented on #182
@SimenB yeah totally it's more of a "no one asked for this" than a "we can't do it".

[2018-05-21 11:24] Alexsey opened #183 "reset should set "now" to the same value clock was installed"
* Lolex version : 2.6.0
* Environment   : NodeJS

**What did you expect to happen?**
[code]

**What actually happens**
[code]

The current behavior of `reset` is killing the sense of "now" parameter because it's getting lost after the first `reset` call

[2018-05-21 11:53] benjamingr commented on #183
On it

[2018-05-21 12:04] benjamingr commented on #183
Thanks for the report! Can you please verify the fix in https://github.com/sinonjs/lolex/pull/184 works for you?

[2018-05-21 12:05] benjamingr commented on #114
I'm going to bring this up as a use case when discussing promise hooks and async/await at the Node summit at the end of the month with the V8 team.

Posting this as a reminder for myself to post an update.

[2018-05-21 12:11] Alexsey commented on #183
For now, I have only one test case but this fix fork for it. Nice!

[2018-05-21 13:39] benjamingr commented on #183
#184 is merged so I'm going to go ahead and close this. Feel free to reopen if you think there is still pending work to be done here.

[2018-05-21 13:39] #183 closed

[2018-05-22 22:20] SimenB opened #187 "Support timeout.refresh in node environments"
* Lolex version : 2.6.0
* Environment   : Node.js macOS
* Example URL   : N/A
* Other libraries you are using: N/A

**What did you expect to happen?**
`clock.setTimeout(() => {}, 0).refresh` should exist.

(as it's not released I didn't _really_ expect that, but y'know.)

See https://github.com/nodejs/node/pull/20298, which is slated to land in 10.2.0.

**What actually happens**
It's not there

**

[2018-05-23 07:54] benjamingr commented on #187
So basically it should do `clearTimeout and then setTimeout`?

[2018-05-23 08:10] SimenB commented on #187
Yeah, I think that makes sense.

Have to keep around old timeouts as well, but maybe that's done already? Keeping a weak reference might be overkill

[2018-05-23 09:00] benjamingr commented on #187
@SimenB do you feel like making a PR?

Otherwise - I might have time to take a look at this when I'm back from the Node.js summit.

[2018-05-25 11:20] EJLearner opened #188 "Next release of lolex ETA?"
I have seen that #181 merged to master that resolves how tests can error out if Performance is not found.

Until the next release is published, this commit isn't available through NPM, right?

I was just curious when a release with this commit is planned. We're still forcing the version to an older version so that our builds don't fail.

Thanks.

[2018-05-25 11:48] fatso83 commented on #188
It's out as 2.7.0 :+1:

[2018-05-25 11:48] #188 closed

[2018-05-25 12:34] benjamingr commented on #188
Hey, this is my bad!

I didn't realise it was a show-stopper for users and I didn't want to do another release so quickly.

Apologies - I will do better and ask next time!

[2018-05-25 13:28] bertho-zero commented on #114
My workaround fix, i ignore `setImmediate` to fake:

[code]

[2018-05-25 13:30] benjamingr commented on #114
Use case https://github.com/nodejs/promise-use-cases/blob/master/use-cases/testing/testing-1/testing-1.md for discussion. Would appreciate feedback and criticism either there or in private if you prefer.

[2018-05-31 07:20] fatso83 opened #190 "Safari 9 compatibility is broken"
* Lolex version : 2.7
* Environment   : Safari 9

#169 assigns props in a way that's not compatible with Safari 9. That broke tests in Sinon (sinonjs/sinon#1814), which shows that we missed a browser in our browser suite (added yesterday). We should aim to support the same browsers as Sinon, given that it's the main target to support.

**What did you expect to happen?**
I expected the `test-cloud`

[2018-05-31 20:52] icebob opened #191 "ref(), & unref() return value"
* Lolex version : 2.6.0
* Environment   : NodeJS v8.11

**What did you expect to happen?**
According to NodeJS documentation the `ref()` and `unref()` return the timer.
https://nodejs.org/dist/latest-v8.x/docs/api/timers.html#timers_timeout_ref

**What actually happens**
But lolex returns undefined.

**How to reproduce**
[code]
If you comment out the `lolex.install()` line, it prints the NodeJS Ti

[2018-06-01 02:02] jasonkuhrt opened #192 "getDate returns 31"
This seems wrong
[code]

Why `31`? Why not `1`?

[2018-06-01 06:49] fatso83 commented on #191
Grep the lolex code for `unref` and see what it does (or look at the code, it's just a couple of hundred lines in one file). I haven't encountered that before. Maybe we just define the function but no implementation. Wouldn't know, but I do know we accept PRs ;)

[2018-06-01 07:28] icebob commented on #191
yes, I checked the code, only need to change ~2 lines. I'm making a PR.

[2018-06-01 14:21] #191 closed

[2018-06-06 18:01] fatso83 opened #194 "Problem with useFakeTimers: Promise are freeze when resolve it from setTimeout"
_From @Qoter on May 5, 2017 13:30_

* Sinon version : 2.2.0
* Environment   : Node.js v6.10.2
* Other libraries: mocha 3.3.0

**Code example**
[code]

I expect that test will pass.
But test fail with **timeout** and promise are frozen.
Without sinon.useFakeTimers() this test will pass.

_Copied from original issue: sinonjs/sinon#1397_

[2018-06-06 18:01] fatso83 commented on #194
_From @lucasfcosta on May 6, 2017 18:38_

Hi @Qoter, thanks for your issue 😄

I believe this happens because you either gotta use a timer from the `clock` variable you assigned `useFakeTimers` to or you need to call the `install` method.

This is one of the possible fixes for your test:

[code]

The other one, using `install` to replace the global `setTimeout` function can be used by installing th

[2018-06-06 18:01] fatso83 commented on #194
_From @Qoter on May 7, 2017 11:30_

Hello @lucasfcosta)))
Your test works!)
But when i use ```lolex.install()``` to replace global ```setTimeout``` promise still frozen.

Examples:

1. It works (use ```lolex.timers.setTimeout```)
[code]

2. It fails with timeout (replace global  ```setTimeout```)
[code]

3. btw it also works (not return ```promise``` from ```then```)
[code]

I really do not unders

[2018-06-06 18:01] fatso83 commented on #194
_From @mroderick on May 30, 2017 11:26_

Has this stalled?

[2018-06-06 18:01] fatso83 commented on #194
_From @Qoter on May 30, 2017 13:36_

@mroderick
Sorry, i didn't understand you(
What do you mean?

[2018-06-06 18:01] fatso83 commented on #194
Are you using any Promise libraries? They often use timers to create polyfills, which might be affected by faking time.

[2018-06-06 18:01] fatso83 commented on #194
_From @Qoter on May 30, 2017 15:0_

@fatso83 No, I use default Promise from node.js

[2018-06-06 18:01] fatso83 commented on #194
_From @macdonaldr93 on August 8, 2017 18:53_

+1 I'm having this issue too. Just using native Promise

[2018-06-06 18:01] fatso83 commented on #194
_From @stale[bot] on January 13, 2018 12:45_

This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-06-06 18:01] fatso83 commented on #194
_From @robertstettner on June 6, 2018 8:50_

+1 I'm having this issue too.

[2018-06-06 18:01] fatso83 commented on #194
We should probably move this to lolex, to get it fixed.

[2018-06-06 21:46] benjamingr commented on #194
This is expected behaviour and how promises behave.

The `clock.tick` will execute _before_ the `setTimeout` call because promises always defer a microtask. That's the issue - the reason the test "succeeds" without lolex is that 5ms _actually pass_ and the test is async.

There is nothing we can do about this at this point. On the other hand I've been talking with the V8 team about exposing a flag

[2018-06-07 07:40] #194 closed

[2018-06-07 07:40] fatso83 commented on #194
Thanks, benji. Didn't use much time looking into the specifics, just saw it lingering on the main Sinon project and thought it should be moved here.

[2018-06-08 07:57] benjamingr commented on #192
I get 1 back when I run:

[code]

See in runkit https://npm.runkit.com/lolex

[2018-06-08 10:14] mantoni commented on #192
That sounds suspiciously like the windows internal timer event frequency. I ran some tests once that showed that IE would fire timers at 60Hz max. However, that doesn’t make much sense here 🤔

[2018-06-09 09:39] robertstettner commented on #194
Thank @fatso83 for moving this. And many thanks to you @benjamingr, for explaining exactly what is going on.

[2018-06-10 15:34] benjamingr commented on #114
People still asking about it https://stackoverflow.com/questions/50783013/how-to-timeout-promises-in-jest cc @SimenB

[2018-06-11 08:31] benjamingr commented on #190
Is this still an ongoing issue? Do we need to PR this?

[2018-06-11 08:31] benjamingr commented on #187
This was fixed in https://github.com/sinonjs/lolex/pull/193 🎉

[2018-06-11 08:33] benjamingr commented on #192
I have been unable to reproduce - please let me know if you'd like to investigate further together and we'll figure it out.

[2018-06-11 08:33] #192 closed

[2018-06-11 08:33] benjamingr commented on #114
I'll make a PoC

[2018-06-11 08:47] SimenB commented on #187
The function was added, but it has no logic. Should it?

[2018-06-11 08:54] benjamingr commented on #187
@SimenB technically it probably should (even if through just a clearTimeout and setTimeout) - but I doubt anyone is going to use the two features together for some time. I can reopen if you'd like.

[2018-06-11 09:09] fatso83 commented on #190
[The build is still failing](https://travis-ci.org/sinonjs/lolex), so yes.

[2018-06-11 09:15] benjamingr commented on #114
If anyone wants to play with this, can run with `--allow-natives-syntax`:

[code]

[2018-06-24 19:21] akhilkedia commented on #159
Hi!
I have uploaded a sample code here -
https://github.com/akhilkedia/lolex-queue

Vanilla lolex takes 20 seconds for this sample on my PC,  and a sample modified queue-based lolex uses 0.5.

[2018-06-24 19:30] benjamingr commented on #159
@akhilkedia thank you for doing this! It is very useful.

I'm not sure the actual benchmark in https://github.com/nodejs/node/pull/21510#issuecomment-399780023 provides a use case for a typical lolex app.

That said, it is much smaller than what I had in my branch (which actually transformed `clock.timers` from an object to a queue) - as it just keeps an additional queue to all timers.

I'm not su

[2018-06-24 20:47] akhilkedia commented on #159
I would suggest simply changing the entire `clock.timers` to a queue just to keep the code simpler.

Whenever `firstTimerInRange` is used, is it possible to simply replace it with `firstTimer` and then perform a check to see if the timer is within the range? (Based on what I can tell from the code flow, this should work right?)

If yes, replacing `clock.timers` with a queue is gonna be a breeze.

[2018-06-24 22:19] benjamingr commented on #159
Well, what I did in my fork was shift items from the queue until one is in the range from the queue and then push them back to the queue when I was done with it.

Typically - it doesn't shift anything at all because the range always checks the closest timers. I outlined some of the challenges here: https://github.com/sinonjs/lolex/issues/159#issuecomment-390140199

The unfortunate part is that cha

[2018-07-02 09:36] akihikodaki commented on #170
I'm worrying I may have done something wrong as other people say it is fixed, but it still doesn't work for me. I ran a minimal code on console to reproduce the issue to make sure my NPM installation does not affect the result:
[code]

Can anyone confirm this, or point out a mistake?

[2018-07-06 07:15] #190 closed

[2018-07-08 01:18] jasonkuhrt commented on #192
Some more info, I recently came back into contact with this topic in my work.

On my local machine I was getting the `1969` etc. date but then the _exact same code_ running in CircleCI produced different numbers.

[code]

CircleCI is using `  image cache not found on this host, downloading circleci/node:8.11`

My local Node was:

[code]

[2018-07-08 01:40] jasonkuhrt commented on #192
I believe my issue is this: https://stackoverflow.com/questions/38341414/date-getdate-wrong-value-from-iso-8601-date-instance. I am in Montreal.

[2018-07-12 01:47] daisyxu0924 opened #197 "TypeError: Cannot set property performance of #<Object> which has only a getter"
* Lolex version : 2.7.1
* Environment   : jsdom window
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**

**What actually happens**
Hello, we use sinon's useFakeTimers after copying jsdom window to global following this method https://github.com/airbnb/enzyme/blob/master/docs/guides/jsdom.md

after https://github.com/sinonjs/lolex/commit/79f9431a7278509ebffbe10

[2018-07-26 23:01] #182 closed

[2018-08-09 15:46] philostler commented on #197
Just bumped into the same issue here. @daisyxu0924 can you please cross reference that issue JSDOM if you've created one

[2018-08-15 15:30] budarin opened #198 "Error in browser: Uncaught ReferenceError: global is not defined"
* Lolex version : 2.7.1
* Environment   : Chrome 68.0.3440.106, Windows
* Other libraries you are using: no

**What did you expect to happen?**
expet to have window.lolex to be accesible

**What actually happens**
error at:
`var defaultImplementation = withGlobal(global || window);`

**How to reproduce**
to include tag into page's head
`<script src="https://cdn.jsdelivr.net/npm/lolex@2.7.1/src/lol

[2018-08-15 15:33] benjamingr commented on #198
Checking.

[2018-08-15 15:45] benjamingr commented on #198
PR at https://github.com/sinonjs/lolex/pull/199 - sorry for this! Thanks for the report.

[2018-08-15 15:52] benjamingr commented on #198
You need https://cdn.jsdelivr.net/npm/lolex@2.7.1/lolex.min.js and not https://cdn.jsdelivr.net/npm/lolex@2.7.1/src/lolex-src.min.js

[2018-08-15 15:52] #198 closed

[2018-08-15 16:04] budarin commented on #198
thanks, it solves the problem!

[2018-08-17 14:36] sanchit-kialo opened #200 "TypeError: 'mark' called on an object that does not implement interface Performance"
* Lolex version: 2.7.1
* Environment: Firefox 62.0b17 - macOS 10.13.6
* Other libraries you are using: ReactDOM (development)

**What did you expect to happen?**
No Error to be thrown

**What actually happens**
A TypeError was thrown
`TypeError: 'mark' called on an object that does not implement interface Performance`

**How to reproduce**
`lolex.install();`
This happens when using the default `lo

[2018-08-29 14:34] TeaSeaLancs commented on #170
Confirmed, this is still broken on my build as of Sinon release 6.1.5, which is running lolex 2.7.1.

[2018-08-30 08:44] TeaSeaLancs commented on #170
Just to clarify my confirmation as well, this is occurring in Chrome and Headless Chrome.

[2018-09-03 09:39] rakeshramakrishnan commented on #114
This would be a good feature to have.

When we are testing intermediate events being generated, which are based on time.now, and we tick the clock by a large amount, we generate a lot of events.

But, most importantly, this event generation process is blocking the event thread, and the large amount of messages collected increases the memory, without allowing garbage collection to collect the inter

[2018-09-04 12:11] fatso83 opened #201 "Sinon Fake Timers: setInterval() does not work as expected"
_From @ggsbv on August 28, 2018 16:24_

Sinon's implementation of setInterval() does not work when a string is supplied as the interval.

Steps to reproduce the behavior:
1. Open Node REPL in the terminal.
2. Do the following and observe the output
[code]

**Expected behavior**
You would expect setInterval to return the intervalID value at each invocation, incrementing by 100 each time. You would

[2018-09-04 12:11] fatso83 commented on #201
_From @mgred on August 30, 2018 14:21_

@ggsbv
Just a guess... I think this is not related to sinon, but to [lolex](https://github.com/sinonjs/lolex) which is the package in use here.

The `setInterval` Implentation returns an invocation of [`addTimer`](https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L212), which checks if the given delay (timeout) is a finite number `Number.isFinite

[2018-09-04 12:17] fatso83 commented on #201
@ggsbv The entire fix to this issue is just to parse the args before adding the timer. Check out [this line](https://github.com/sinonjs/lolex/blob/master/src/lolex-src.js#L549). Want to submit [your first PR](https://github.com/sinonjs/lolex#running-tests) to lolex? <3<3<3

[2018-09-04 21:00] #201 closed

[2018-09-04 21:00] fatso83 commented on #201
Fixed by #202

[2018-09-04 21:08] fatso83 commented on #197
Seems solved by #199

[2018-09-04 21:08] #197 closed

[2018-09-04 21:18] fatso83 commented on #200
Veriifed by adding this test and running `npm run test-headless`

[code]

[2018-09-05 07:14] fatso83 commented on #170
The comments on this still being a thing probably point to #200, which a PR I sent in is about to close (hopefully). Closing this while keeping #200 open, as I suspect some comments are basically duplicates.

[2018-09-05 07:14] #170 closed

[2018-09-05 07:14] #200 closed

[2018-09-13 08:55] novemberborn opened #206 "reset() does not reset high-resolution timer"
* Lolex version : 2.7.4

**What did you expect to happen?**

`reset()` resets the high-resolution timer.

**What actually happens**

The high-resolution timer is not reset.

**How to reproduce**

[code]

[2018-09-13 09:20] novemberborn opened #207 "High-resolution timer gets tripped up by floating point arithmetic"
* Lolex version : 2.7.4

**What did you expect to happen?**

Advancing the clock with fractional milliseconds should give me an integer nanosecond value when I call `process.hrtime(prev)`.

**What actually happens**

The nanosecond value is a float, not an integer.

**How to reproduce**

[code]

The reproduction advanced the clock by a fraction of a nanosecond. I suppose it'd be fine to round the

[2018-09-15 09:45] benjamingr commented on #207
An alternative would be to have `clock.tick` accept a `BigInt` optionally or expose a tickPrecise that takes a `BigInt` of nanoseconds.

I can look into this when I get back from holiday at the beginning of October

[2018-09-15 09:46] benjamingr commented on #206
PR welcome, otherwise I can work on this in October happily :)

[2018-09-15 16:13] novemberborn commented on #207
`BigInt` support isn't widespread yet. I think `tick` could take fractions, but the calculations have to be done differently.

[2018-09-18 07:52] #206 closed

[2018-09-18 08:09] SimenB commented on #207
@fatso83 is it acceptable to add a dependency here to handle the maths of it? floating point arithmetics sucks :(

[2018-09-18 10:31] fatso83 commented on #207
I'd say lets go with the simplest thing that seems to work and if people find edge cases we haven't thought of, we will fix it in time. `Math.round` seems fine to me and it will probably fix the 99% immediately. I am not an expert or authority in this matter, so no strong feelings.

[2018-09-19 09:44] novemberborn commented on #207
This is still a problem. From #210:

👋

Starting from `742` milliseconds, ticking by `123.493` milliseconds ends up rounding to `865492920` nanoseconds.

Try in your REPL:

[code]

A different approach may be to do the computations in nanoseconds directly. I think that should be fine, integer wise, unless you start doing ticks larger than a 100 days worth of nanoseconds.

[2018-09-19 10:00] SimenB commented on #207
[code]

maybe?

[2018-09-19 10:29] fatso83 commented on #207
@novemberborn I am not sure I see the problem wrt lolex. We round off the numbers, meaning it should round up in your case. Can you demonstrate that the problem mentioned in this issue at the top isn't solved?

Your demo only shows how floating points are representing. Since we don't truncate that value, rather rounding it, how does the problem manifest?

[2018-09-19 11:03] novemberborn commented on #207
My example came from using lolex:

Note the value is `865492920` not `865493000`.

[2018-09-19 11:19] fatso83 commented on #207
That's not a verification step. I made a [runnable example using the 2.7.5 release](https://runkit.com/fatso83/5ba22fbb15a4e300122a4670) and it shows the correct result: `845493000`.

So, no, I am not convinced we have a bug :smile_cat:  Can you make sure you are running 2.7.5, not 2.7.4? I don't like to have bugs in our code, so of course, prove me wrong if I am!

[2018-09-20 09:10] novemberborn commented on #207
Here you go: https://runkit.com/novemberborn/5ba363ba0f73fb001265cb0f

The difference should be `123493000` but I get `123492920`.

[2018-09-20 20:49] fatso83 commented on #207
Verified. The good thing is that we know have verifiable test cases 😁

I see two paths forwards:
1. The "correct one

[2018-09-21 08:31] novemberborn commented on #207
You'd have to separate the seconds from the nanoseconds in your internal representation though, right?

[2018-09-21 09:39] novemberborn commented on #207
It's probably OK to keep the storage in milliseconds, and then have separate storage for the remainder down to the nanosecond.

If ticks are presented as integers, then you don't need to touch the remainder. If it's a float then you adjust the remainder, and if it ticks over (positively or negatively) adjust the milliseconds.

The nanoseconds value should be truncated to always remain an integer.

[2018-09-21 09:45] fatso83 commented on #207
@novemberborn So, in general, you propose we go ahead with (a modified of) the first  approach? Store integers internally (even if it means a tad more logic for two numbers).

[2018-09-21 09:55] novemberborn commented on #207
@fatso83 yes, but you only need to use the second value if the tick amount is fractional. If we're ticking by seconds or milliseconds then it doesn't impact the nanosecond values at all.

[2018-10-03 20:10] ryanwmarsh opened #212 "Thanks 🙏❤️"
I just wanted to say 👍 thank you to the contributors. Lolex just saved me a ton of time (no pun intended), and was trivial to set up and use in my tests.

🎉🎉 **Thank you!**  🎉🎉

[2018-10-04 08:35] SimenB commented on #114
Sorta related, there's a PR in jest adding support for
faking promises (which'll try to transpile async-await): https://github.com/facebook/jest/pull/6876

Would love proper support for this in node, feels super brittle!

[2018-10-04 08:44] benjamingr commented on #114
@SimenB would that work with async/await?
Also, wouldn't a much simpler approach be to use a promise library (like bluebird) that enables configurable ticking/scheduling (with setScheduler?).

That looks like a full blown promise implementation and is guaranteed to miss things (for example, if we go forward with GC based exiting on unhandled promise rejection - it breaks that).

It would be great

[2018-10-04 09:16] mroderick commented on #212
As best I can tell from git history, @cjohansen was the original author. He extracted `lolex` from `sinon` with dbd7d17029f5b258aa14422b74798c844de8bfab in 2014. There were probably other contributors from that era that could also be considered OG.

[2018-10-04 09:34] mroderick commented on #207
I think this would be a valuable upgrade to `lolex`.

Reading the discussion is interesting, but it's easy to overlook things. @novemberborn @fatso83 could you write up a little proposal (perhaps just in the original entry above) and specify exactly what changes need to be made, how we verify that the work is correct and complete?

[2018-10-04 10:12] fatso83 commented on #212
Thank you for those nice words, @ryanwmarsh. It's stuff like that that makes people contribute :-)

P.S. I don't know about me being primary maintainer. I always regarded Morgan as the primary maintainer :-) I guess the term is a fleeting concept, based on who has time available, and currently that isn't usually me :baby:  :baby_bottle:

[2018-10-04 10:37] benjamingr commented on #212
Thanks @cjohansen !

[2018-10-04 13:29] thejohnfreeman opened #213 "[feat] Way to check that there are zero waiting timers"
It'd be nice to have a method that can tell me if there are any waiting timers, so I can assert in tests that every timer has run or been cleaned up.

Reading the code, I see that clocks have a `timers` property which is an object mapping timer IDs to timers. I could check that that object has zero own properties, but it is not a documented part of the public API, so I'm at risk of breaking change

[2018-10-04 13:44] SimenB commented on #213
Dupe of #163.

We need this Jest as well, FWIW.

[2018-10-05 08:53] fatso83 commented on #213
I think we would love a PR for such a feature :wink: Check out #163 for some background on what we need.

[2018-10-05 08:56] mroderick commented on #207
Awesome, now we just need someone to do the work :)

[2018-10-05 12:57] thejohnfreeman commented on #213
I'll work on it this weekend. Just some docs and test(s) on the return value of `.uninstall`?

[2018-10-05 13:37] fatso83 commented on #207
Argh, I started this in a fork of mine (see above ref), but I have used three hours trying to make my initial test cases pass. I tried several variations after finding there are so many corner cases when we support negative ticks! The essence of the trouble is this: I am not totally sure what the "right" integer value for millisecond is at times. Depends on using `fixedFloor` or `Math.floor`() and

[2018-10-05 13:47] SimenB commented on #213
We shouldn't have to uninstall to get the count. I might want to check e.g. remaining timers per run of my function or something

[2018-10-06 07:35] mroderick commented on #207
Perhaps we should spend some time refactoring the affected parts of the code, write better tests for the existing code ... all to make it easier to work with?

[2018-10-06 13:10] benjamingr commented on #207
I'm absolutely fine with even throwing on negative ticks, I had no idea it was supported to begin with.

[2018-10-06 13:12] benjamingr commented on #213
Did anyone actually ever ask for that for a real use case? Not saying that it's not important - only that I haven't seen a request.

[2018-10-06 13:18] SimenB commented on #213
Facebook has a test for debouncing or something like that, which checks how many timers are scheduled after calling a function. Not sure if the uninstall would be enough in that case, actually

[2018-10-06 13:29] fatso83 commented on #207
I managed to fix the remaining test in a simple manner, so I'll submit a PR shortly. I'll add a test for throwing on negative ticks as well.

[2018-10-06 14:05] fatso83 commented on #207
@novemberborn I think #214 should itch your scratch. Would you mind checking it out and seeing if it solves your issues?

[2018-10-08 09:20] #207 closed

[2018-10-08 17:05] gr2m opened #216 "Changes in v3.0.0"
Hello there!

Thank you so much for lolex, I use it in a ton of my projects and it’s working great!

I wonder if you keep track of changes for the released versions somewhere? If not, could you add some for the latest v3 release: https://github.com/sinonjs/lolex/releases/tag/v3.0.0?

[2018-10-08 17:10] gr2m commented on #216
To add some more context, the release notes are added to pull requests by Greenkeeper which makes it very simple for folks to understand and merge a dependency update PR. Plenty of PRs are already open for lolex v3 :: https://github.com/search?q=%22Update+lolex+to+the+latest+version%22+is%3Aopen&type=Issues

For comparison, here is a PR that includes the release notes right in the pull request: ht

[2018-10-08 19:42] SimenB commented on #216
There is https://github.com/sinonjs/lolex/blob/master/History.md

What's needed for the bots to pick them up? Naming the file changelog instead?

[2018-10-08 21:35] gr2m commented on #216
Oh my, apologies, I somehow managed to miss that file :facepalm:

I don’t think there is a way for Greenkeeper to pick that up, but no worries, it’s only a click away, good enough :)

Thanks again for the great work

[2018-10-08 21:35] #216 closed

[2018-10-10 09:05] benjamingr commented on #216
Thanks for opening the issue :)

[2018-10-11 16:01] Berzeg commented on #114
@SimenB @benjamingr

The idea behind fake promises is to run all promise callbacks synchronously. The goal was never to rewrite promises. When using fake timers this allows us to run `nextTick` callbacks, promise callbacks, and timer callbacks in the same order they would run in the Node.js environment.

As far as I can tell, there is no way to run promise callbacks synchronously out of the box wi

[2018-10-11 16:56] benjamingr commented on #114
@Berzeg

`Promise.setScheduler(fn => fn())` does exactly that.

[2018-10-12 02:49] Berzeg commented on #114
`Promise.setScheduler(fn => fn())`

Yip. That would do it.

Understood! I'm not taking any of this personally 😄. The simpler solution should be used, and, well... I think this is perfect.

[2018-10-17 08:40] benjamingr opened #218 "Implement `requestIdleCallback`"
This is an issue for a new contributor to pick up unless someone has an urgent requirement lolex adds this.

[`requestIdleCallback`](https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback) isn't implemented in lolex. Since it's timing related - we should probably support it.

This ticket is to implement it in lolex (it will be guided if you're new and not sure you can do it!)

[2018-10-17 08:45] benjamingr opened #219 "Docs Tasks"
The lolex docs could use some love.

Currently we don't have a table of contents to the API documentation and it's all in the readme.

The docs at the moment are not too great (at least the parts I added :D).

Some ideas for improvement for people to pick up (**priority for first time contributors for whom its the first issue**):

 - [ ] Add table of contents for API documentation
 - [ ] Revise ov

[2018-10-17 08:58] shdq commented on #218
Hello, I'm interested in solving this issue. Can you guide me, please?

[2018-10-17 09:07] benjamingr commented on #218
Hey sure, @shdq

- The first step would be to write code that uses `requestIdleCallback` in the browser and see how it works. Get a feel for what it does etc.
 - The second step would be to think about what behaviour people expect when requestIdleCallback is called without a timer and what lolex should do in that case (call it never? call it but only when timers are run "to the end" and call it la

[2018-10-17 09:08] benjamingr commented on #218
Also, if any step is unclear (if you want to commit to this which by any means you're not obligated to since it's volunteering your time to open source) - by all means ask about it :)

[2018-10-17 09:33] shdq commented on #218
It's ok, I have enough time to work on it. I think it will be a lot of questions from me as a newcomer.

[2018-10-17 10:54] benjamingr commented on #218
@shdq thanks! I'm removing the "help wanted" label and I welcome the lots of questions you may have 😄

Questions are welcome + it's an opportunity for us to clarify things.

[2018-10-17 11:01] benjamingr opened #220 "TypeScript definition files"
@zyishai has volunteered to help work on updating the TypeScript types of lolex to a point where they are up to date with recent additions.

Currently we don't ship TypeScript types with the library and people get them from DefinitelyTyped through @types/lolex here https://www.npmjs.com/package/@types/lolex

I'm wondering if it makes sense to move the types to the lolex repo so we can better keep

[2018-10-17 11:18] zyishai commented on #220
@benjamingr I'll be glad to contribute! I'm still beginning my TS journey, hope I'll be able to help!

[2018-10-17 11:45] SimenB commented on #220
FWIW, I use TS at work, but I don't use Lolex at work (and if we do at some point, it'll be through using it with Jest, so typing info for it wouldn't matter for us).

As long as we set up some build step that checks that the TS file is in sync with reality I'm all for adding it. I guess it's easier to keep up to date here.

Since TS supports jsdoc, we could also in theory type up our source code

[2018-10-18 07:39] shdq commented on #218
I did some research about requestidlecallback and tried it. According to [wc3 spec idle callbacks algorithm](https://w3c.github.io/requestidlecallback/#invoke-idle-callbacks-algorithm) default behaviour of requestIdleCallback without timeout option idle callbacks have "no guarantee" to execute in busy app because user agent may find higher priority work to do and delay them. That's why it has to b

[2018-10-18 08:53] SimenB commented on #218
Seems odd that if we tick say 1000ms between 2 timers that it's not considered "idle" in between.

[code]

`idle` will print pretty much immediately in real code. I don't have a good heuristic of the top of my head, but what about e.g. "next timer/task is more than 100ms away, fire an idle callback"?

[2018-10-18 08:53] mgred commented on #219
Hey @benjamingr,

I completely agree with you, `lolex` is definitely worth a great documentation!

There is already an [issue](https://github.com/sinonjs/sinon/issues/1651) which proposes a documentation overhaul of all _SinonJS_-Projects.

Apart from the content, a first start might be to adopt the structure and tools we use in all other projects. It's actually just MkDocs to translate a single M

[2018-10-18 09:04] benjamingr commented on #219
Thanks, that's very helpful @mgred!

I think that reusing content from the CONTRIBUTING.md makes a ton of sense and ditto for the README. The work outlined here can still be done IMO (ditto issue templates).

I'll read and then edit things in based on that issue - feel free to edit my "asking for help" message as you see fit!

[2018-10-18 09:12] benjamingr commented on #218
That also works - to be fair I'm more concerned about the case where the timeout is passed in which case we have a real guarantee.

[2018-10-18 09:32] mgred commented on #220
Totally! The argument of saving users from having another dependency is super solid, in my opinion.

That's quite a good start :+1:

That would be really awsome

Nice idea, commenting types in code is always nice for unferstanding, I think. If we could benefit from that in terms of generating definitions files, that would be win-win.

I used to use TS at work a lot, so if any questions or task rai

[2018-10-18 09:46] mgred commented on #219
Cool, @benjamingr

I would grab a task and start restructuring the docs:

* [ ] move it from the `README` as a first act
* [ ] and put a ToC

We could then have a first look on what a separate documentation would look like. Because we already have a good basis, it shouldn't be that hard to polish the docs.

[2018-10-18 11:45] shdq commented on #218
In native implementation the idle and timeout callbacks are raced and cancel each other – e.g. if the idle callback is scheduled first, then it cancels the timeout callback, and vice versa.

Good point, timeRemaining() for the idle period is 50ms max, so it can be even two idle periods in a row if other important work won't occur.

[2018-10-18 11:46] benjamingr commented on #219
Sounds good to me - I thought this could be a great "good first contribution" issue for new contributors to ease them into the project - if you want to take something from here by all means feel free :)

[2018-10-18 21:33] n-rook commented on #212
I just came by to say the same thing. This library is fun to use and makes my daily life easier. Thanks ❤️

[2018-10-18 23:02] rjseymour66 commented on #219
Hi All,

I am a professional technical writer, but I am new to Github.  I am looking for a good project to contribute get my feet wet.

I see there is already some activity here and want to make sure I am not stepping on anybody's toes!

Please let me know if I can help, and I will gladly jump right in!

- Ryan

[2018-10-19 08:30] shdq commented on #218
Hey, @benjamingr I have a questions about git workflow. I suppose to do this:

1. Fork lolex repo;
2. Create new feature branch;
3. Make a commit with tests in `test/lolex-test.js`;
4. Create a pull request to upstream with [WIP] in title;
What next?

Would it be possible to keep committing in this PR? Can I add at least one test and make a WIP PR and keep working in it with your help?

About test

[2018-10-19 14:05] mgred commented on #219
Hey @rjseymour66 welcome aboard :tada:

I already started on this with splitting the `README.md`. I will create a PR asap and let you know. You could then give some feedback and grab a task you want to tackle, I guess.
How about that?

[2018-10-19 14:34] benjamingr commented on #219
@rjseymour66 that sounds lovely! Thanks a lot - sure, just grab anything you want :)

[2018-10-19 14:37] mgred commented on #219
I have a first screenshot:

* It was generated using `MkDocs` with the same config we use in some other projects.
* almost all from the `README.md` and made just some small structural changes. I
* also put some links to MDN and nodejs documentation plus some internal
* split the api reference into `lolex` and `clock`
* highlight **lolex**, everywhere :smile:
* shorter method headlines

Any thought

[2018-10-20 19:19] mgred opened #222 "Documentation Prototype"
@mroderick and I had a chat today on how to tackle sinonjs/sinon#1651

We would like to have a starter with one of our smaller projects to explore the possibilities on how to align and scale all our documentations across the projects.
Also, we aim to have more _easy-to-maintain_ documentation to encourage more contributions.

### Some Ideas so far

**General**
* [ ] Starting off with the Jekyll Se

[2018-10-21 07:07] benjamingr commented on #219
@mgred awesome! Some questions

 - Can we get links to the clock methods on the side? (I think mkdocs can do this, can investigate if you don't want to engage with it)
 - Can we add a link from the README to the docs? (in the same PR)

[2018-10-21 07:08] benjamingr commented on #219
Also Ryan (@rjseymour66) if you could review the PR @mgred made from a technical writer's PoV that would be immensely helpful!

[2018-10-21 07:13] benjamingr opened #223 "Promisified (with util.promisify) `setTimeout` does not work"
Node.js's setTimeout promisified [does](https://github.com/nodejs/node/blob/master/lib/timers.js#L459-L463):

[code]

This means that it does not refer to setTimeout internally - we should override `setTimeout[internalUtil.promisify.custom]` if it is available to use our fake timers and revert it on uninstall.

If anyone wants to pick this up go ahead - otherwise I will work on a fix in ~2 weeks :

[2018-10-21 07:19] benjamingr commented on #222
Sounds great to me :) Thanks for working on this and picking this up!

[2018-10-21 10:12] mgred commented on #219
@benjamingr

What do you exactly mean with that?

It is already https://github.com/sinonjs/lolex/pull/221/commits/67723ca7366b2b14d9a75ddcf4b9ce5f6d87d582#diff-1e290ac8433d555bce009b162cb869d0L15 We just need to setup github pages Ithink

[2018-10-21 10:19] benjamingr commented on #219
That the sidebar will show the actual methods and not just "Clock API", "lolex API" and "usage" but also things like "clock.install()` and `clock.tick`

[2018-10-21 17:52] mgred commented on #219
Ahh okay, understand. I don't know if MkDocs can do this. Personally I think its fine to have it like this, since all other projects also just list the second level headings on the left sidebar.

[2018-10-21 22:28] jshado1 opened #224 "clearInterval(intervalId) results in infinite loop with clock.runAll()"
[code]

* Lolex version : `3.0.0`
* Environment   : NodeJS `10.7.0`
* Other libraries you are using: Enzyme `3.7.0`, Mocha `5.2.0`, SinonChai `3.2.0`

**What did you expect to happen?**
The interval to be cancelled.

**What actually happens**
The interval continues indefinitely.

**How to reproduce**
[code]

[code]

<details>
<summary>Log of intervalId and clearInterval from within componentWillUn

[2018-10-22 08:45] benjamingr commented on #224
Sorry for the (perhaps silly?) question - I am not too familiar with enzyme.

Can you verify that if you add `console.log`s in the didMount and willUnmount calls they both get called exactly once and if so - does the problem reproduce if you remove the `shallow(<Test />).unmount()` with just the contents of its hooks?

[2018-10-22 09:31] jshado1 commented on #224
@fatso83 I don't see why it _wouldn't_ have the same result without React. There's nothing special about the imports, but I can add them. I tried to upload a mini-repo to github last night, but that part of GitHub was down.

@benjaminger yes, I already verified both the didMount and willUnmount are called only once ;) I did not verify the `shallow().unmount()` because that's what causes the willUn

[2018-10-22 10:45] benjamingr commented on #224
GitHub deleted my comment :/

[2018-10-22 13:20] fatso83 commented on #224
[GitHub is flaky today](https://status.github.com/messages)

[2018-10-22 14:18] benjamingr commented on #224
Repro here: https://gist.github.com/benjamingr/b89b87d854a9c8f785e7b7cc4d953c9f

need to first `npm i react chai sinon enzyme react-dom enzyme-adapter-react-16 mocha` and then repro with `npx mocha index.js` (or whatever you saved the gist as)

[2018-10-23 03:55] rjseymour66 commented on #219
Hi All,
Sorry - been out of pocket for the last few days.

mgred - this looks great!  I can look it over in the next few days and provide some feedback.

I will also take a look at other tasks for contribution.  Looking forward to it!

[2018-10-23 20:13] jshado1 commented on #224
@benjamingr when I switch my actual to `.tick(1000)`, it works (it gets called exactly the number of expected times). However, switching it back to `runAll()` still causes the infinite loop. I can't get your pastebin to pass: `called` is always 0 (but I don't get the infinite loop).

Am I misunderstanding what `runAll()` does? I expect `ticket(1000)` in this situation to be effectively the same as

[2018-10-24 08:57] benjamingr commented on #224
@jshado1  thanks for following up! I appreciate it!

`runAll` runs "forever" - all pending clocks run until there are no pending items - this means intervals run forever for example unless they are cleared (there is runToLast - are you looking for that?)

Can you update my gist above to reflect the bad example so we're sure we're talking apples-to-apples? I really want to get to the bottom of this

[2018-10-28 03:51] rjseymour66 commented on #219
Please excuse my inexperience, but I want to make sure I am making suggestions correctly. I have a few questions:

1. This is the doc to review, correct? [WIP] Documentation prototype #226
2. How should I make my suggestions?  Just click the "+" in the source diff view and type in the Leave a Comment area?

Again, I'm sorry if these are stupid questions, but I am brand new to Github - thanks!

[2018-10-28 13:45] mgred commented on #219
@rjseymour66
No worries! Please keep asking if something is unclear for you.

#226 is different from this issue and it really seems a bit confusing.
This issue here is intended to give a bit more love to the **lolex** docs in general and align it with the other sub projects, where #221 is the corresponding PR.

#226 is the PR to a prototype as an approach to sinonjs/sinon#1651 where #222 is the is

[2018-11-06 12:06] zyishai commented on #220
OK, just finished updating the types to version 3! for now, I opened PR to DefinitelyTyped. If you decide in the future that you want to include ts in this repo - feel free to tell me and I will PR here too 😊.
cc @benjamingr

[2018-11-06 17:13] benjamingr commented on #220
Thanks and awesome work! Let's see how the DT PR goes and close this when it lands :)

[2018-11-16 14:07] shockey commented on #197
I'm seeing a very similar error with `lolex@3.0.0`:

[code]

[2018-11-18 01:13] fatso83 commented on #197
@shockey: this issue is closed. Please open a new one containing a reproducible test case. Try RunKit.

[2018-12-18 01:08] #212 closed

[2018-12-20 13:14] ehmicky commented on #223
I'm just bumping this, so the issue does not get stale.

[2018-12-26 03:08] #218 closed

[2018-12-27 22:15] #222 closed

[2018-12-30 16:47] #224 closed

[2019-01-04 04:08] #219 closed

[2019-01-06 16:09] #220 closed

[2019-01-22 00:28] fatfisz opened #229 "Lolex is very slow"
* Lolex version : 3.0.0
* Environment   : Ubuntu 16 inside VirtualBox
* Other libraries you are using:
I'm running Node 10.5.0, and my test runner is Jest.

**What actually happens**

As in the title, Lolex is very slow, at least much slower than it could be. For a particular test in my project the current Lolex implementation takes 124s to complete on my machine. After some profiling and diagnosi

[2019-01-22 00:51] fatfisz commented on #229
Sorry, I didn't notice that there was previously an issue created for that: https://github.com/sinonjs/lolex/issues/159. I guess there are now two people with inefficient tests 😄

I understand that without a benchmark it's hard to make speed comparisons, but even putting the performance aside, objects are not meant to be used as "hashmaps" instead of Map. This was always inefficient and that's why

[2019-01-22 13:09] fatfisz commented on #229
But my test has proven otherwise? Maybe my info is outdated, but I remember that extending objects or deleting properties resulted in internal classes being created, at least in V8, so with no properties ever being the same in lolex (property names are unique ids) a lot of stuff is going on under the hood. Or is it not the case now?

[2019-01-22 13:36] benjamingr commented on #229
This is all OT - but generally V8 represents objects in two ways - "hidden classes" or hash maps. It calls them "slow mode" and "fast mode" and switches between them based on how the object behaves. I go over it in [here](https://stackoverflow.com/questions/24987896/how-does-bluebirds-util-tofastproperties-function-make-an-objects-properties) (it's a slightly old answer but captures the gist of th

[2019-01-25 11:07] benjamingr commented on #229
@fatfisz first of all - thanks for this!

Personally I'd prefer a priority queue version and the current implementation and being able to switch between them.

A map/array is nice, but switching to a priority queue makes sense to me and really helped our perf in Node :) Basically I suspect the majority use case is executing timers one by one in order up to a certain point for which a priority queu

[2019-01-25 11:45] fatfisz commented on #229
Ok, I'll do a priority queue version too. I didn't want to invest too much time into this and go for a quick win instead, but I have no problem with working on that more.

Btw. all versions are implemented next to each other and activated by flags (`useMap`, `useArray`). I'll just add a priority queue too. Do you have a specific data structure in mind that I should use as a priority queue or shoul

[2019-01-25 16:23] benjamingr commented on #229
There are multiple versions on NPM but you can also use the one we use at Node.

A priority queue (implemented as a heap) is actually quite good at that.

I think that's a safe and valid assumption.

[2019-02-05 15:13] SimenB opened #230 "Provide more context on infinites recursion"
* Lolex version : 3.0
* Environment   : N/A
* Example URL   : N/A
* Other libraries you are using: N/A

**What did you expect to happen?**

See https://github.com/facebook/jest/issues/2893 for details.

Tl;dr: Right now Lolex just throws an error if it thinks we're in an infinite loop of timers (timers scheduling new timers). This comes from here: https://github.com/sinonjs/lolex/blob/29b4ecc8bd18

[2019-02-05 15:40] benjamingr commented on #230
We can add the stack to clocks when they are captured and show it on the clock when this is thrown - though this will be _really_ expensive CPU wise.

[2019-02-05 15:43] SimenB commented on #230
What about, after reaching `loopLimit`, you schedule 10 more or so, and capture just their stacks, then throw? So in the normal case there is no change, but you loop a few extra times (maybe even `loopLimit - 10` to not really affect anything observable) in the case where things are gonna throw anyways?

[2019-02-05 15:50] benjamingr commented on #230
So:

 - If I'm inside lolex and I'm at `loopLimit - 10`
 - Then start capturing stack traces when setTimeout/setInterval etc are called
 - If the loop limit is reached before another timer is hit, fail without a stack
 - Otherwise fail with the stack any of those timers.

Sounds useful/good to me and like it should solve the 95% case.

[2019-02-05 15:52] SimenB commented on #230
Yeah, that sounds reasonable to me! Potentially start with just a single stack instead of 10, not sure? Changing that threshold is simple once the logic is in place though, so not something we need to spend time on deciding now

[2019-02-05 15:53] SimenB commented on #230
Wait, no - not this. If `loopLimit` is 100, we don't want to fail if we get to 95 timers before bailing

[2019-02-12 13:44] ehmicky opened #232 "requiring lolex prints a warning"
`require('lolex')` prints the following warning:

[code]

* Lolex version : `3.1.0`
* Environment   : Node `11.9.0`, Ubuntu `18.10`

**What did you expect to happen?**
There should be no warnings printed on the console when `queueMicrotask()` is not used by the calling code. This could for example be done by wrapping `timers.queueMicrotask()` so that `global.queueMicrotask` is only accessed when `

[2019-02-12 15:34] benjamingr commented on #232
@shdq

[2019-02-13 07:36] shdq commented on #232
I'll take a look at this.

[2019-02-13 08:06] benjamingr commented on #232
@shdq thanks, a quick fix would be not to shim `enqueueMicrotask` by default.

[2019-02-13 09:34] ehmicky commented on #232
Also for the detection: instead of `typeof global.queueMicrotask === 'function'` (which prints a warning), something like `global.hasOwnProperty('queueMicrotask')` does not print a warning.

[2019-02-13 09:52] SimenB commented on #232
In general, should updating the default shimmed functions be considered a breaking change? So don't shim new stuff by defsult, then for new majors activate everything?

[2019-02-13 09:54] benjamingr commented on #232
Good idea @SimenB

[2019-02-18 13:27] ehmicky commented on #223
Bumping this.

[2019-02-18 22:19] fatso83 commented on #223
We just need to add the `pinned` label, @ehmicky :-)

[2019-03-05 01:48] SneakyMax commented on #232
Some console things, for example ava's default reporter, start to break a little if there are any console logs or warnings during operation, and because each ava node process ends up logging a new warning, the output gets rather messy because of this issue. I've turned off node warnings with `NODE_NO_WARNINGS=1`, but obviously I'd like to turn those back on.

[2019-03-05 09:14] ehmicky commented on #232
@SneakyMax A pending PR #233 exists. Until this PR is merged, if you want to only hide the warning printed by Lolex, you can use [`log-process-errors`](https://github.com/ehmicky/log-process-errors) to remove this warning during Ava tests:

[code]

[2019-03-15 03:41] TimothyJones opened #234 "Provide a way to tell if the clock has been mocked"
* Lolex version : latest
* Environment   : node
* Other libraries you are using: pact

It would be useful if we could detect the difference between a mocked clock and the real one.

The use case for this is where we have a testing framework that uses the clock internally (such as [Pact](http://pact.io/), an API contract testing framework that spins up mock servers).

If `sinon` is used to mock the

[2019-03-26 19:42] fatfisz commented on #229
Sorry for the lack of communication. I actually made 2 attempts at working on that, but every time I gave up because the way Lolex is structured makes it very uncomfortable for me to work on it (1 big file with everything in it). Also there were some other problems that would need to be solved anyway.

So I'll just close this issue, since at this point it's stale, as the bot said.

[2019-03-26 19:42] #229 closed

[2019-04-13 12:34] ehmicky commented on #232
Fixed by #233.

[2019-04-13 12:34] #232 closed

[2019-04-16 13:29] novemberborn opened #235 "Support hrtime.bigint()"
* Lolex version : 3.1.0
* Environment   : Node.js 10.15.3
* Example URL   : N/A
* Other libraries you are using:

**What did you expect to happen?**

My code uses [`process.hrtime.bigint()`](https://nodejs.org/api/process.html#process_process_hrtime_bigint). When stubbing `process.hrtime` using Lolex, this method is no longer available.

On platforms that don't provide this function, I'd expect it

[2019-04-16 13:40] benjamingr commented on #235
Sounds perfectly reasonable!

[2019-04-16 14:00] novemberborn commented on #235
I'm still working on getting my tests to pass, but this seems to be a good implementation:

[code]

[2019-04-16 14:01] benjamingr commented on #235
So, it looks like [`.bigint()`](https://github.com/nodejs/node/blob/864860e9f3d4eed0b0b81af55197d7e525ea6306/src/node_process_methods.cc#L157-L161) just returns:

[code]

Whereas hrtime does:

[code]

So in order to support it we could just do `return new BigInt(clock.now - adjustedSystemTime[0] - start)` or something similar.

Would you like to work on a PR?

[2019-04-16 16:18] novemberborn commented on #235
Happy to, but if somebody else wants to pick this up before I get round to it please feel free.

[2019-04-18 10:59] SimenB commented on #220
Since this happened, Jest has been migrated to TS, so it's suddenly more interesting to me personally for the the typings file to live in this repo...
Main benefit to keeping it here rather than DT would be better autocomplete for everybody (at least if they use vs code or webstorm, probably more IDEs as well) regardless if they use TS or not

[2019-04-18 11:39] benjamingr commented on #220
@SimenB I'm up for it

[2019-04-21 20:02] SimenB opened #238 "Include ticks in countTimers"
* Lolex version : 4.0.1
* Environment   : Node 10
* Example URL   : N/A
* Other libraries you are using: N/A

**What did you expect to happen?**
See https://github.com/facebook/jest/pull/8139 for justification. Tl;dr; is that a timer count should include all scheduled timers _and friends_, not just timers.

**What actually happens**

`clock.nextTick` does not contribute to the count

**How to repr

[2019-04-22 09:30] benjamingr commented on #238
Sounds reasonable to me and easy to fix

[2019-04-30 10:29] chrisworfolksky opened #239 "Add access to original Date object"
I am using `sinon.useFakeTimers` to mock the date for some unit tests. This is working fine. However, I've also got some debugging logs and I want to add a timestamp to each line. However, as I am using the clock, I get the mocked date in my timestamps, rather than the actual date.

I don't want to call the `uninstall` method because I still want it installed for the rest of the test.

One potenti

[2019-04-30 10:56] benjamingr commented on #239
Thanks for opening an issue!

You can always get non mocked instances by creating a new realm and "stealing" date from there or getting a reference to Date before `clock.install`

[code]

[2019-05-01 07:09] chrisworfolksky commented on #239
Thanks!

[2019-05-01 07:09] #239 closed

[2019-05-12 17:26] benjamingr opened #242 "Explore setVirtualTimePolicy"
The devtools protocol has a `setVirtualTimePolicy` method that looks interesting, we might want to explore using that in certain contexts instead of shimming the global timers.

[2019-05-14 09:33] benjamingr commented on #234
Hey, sorry for the lack of response. You can get a reference to the original timers before your code and then compare the reference of the global setTimeout afterwards.

[2019-05-14 09:34] #238 closed

[2019-05-14 12:38] #234 closed

[2019-05-24 01:24] cdow opened #243 "TypeError: Cannot set property performance of #<Object> which has only a getter"
* Lolex version : 4.0.1
* Environment   : node@10.15.1
* Other libraries you are using:
  - jsdom@15.1.0

This is an issue that was raised before as #197. That issue links to code changes that would probably fix this issue.  However, those changes never appeared to have made it to `master`.

**What did you expect to happen?**
Lolex to initialize without error

**What actually happens**
I get the s

[2019-05-24 02:40] cdow commented on #243
My workaround for now is to temporarily delete the global `performance` property:
[code]

This appears to allow lolex to replace `new Date()` appropriately.  However, `Date.now()` still gives the real time.

[2019-05-24 12:52] fatso83 commented on #243
Good bug report. I don't have time to look into this right, but someone else might. If you have a chance to see if there is some context in the history of #197 that seems to have been lost in the proposed fix, you can try to supply a PR if you get it working somehow (usually the fastest way).

[2019-05-24 12:53] fatso83 commented on #197
@cptbob42 and @shockey , we just got a reproducible case of a similar looking issue in #243. You might want to latch onto that.

[2019-05-27 16:38] #235 closed

[2019-06-04 10:44] eljenso commented on #243
Is there any update on this? @fatso83

[2019-06-04 12:01] fatso83 commented on #243
I am not (planning on) working on this. Too swamped. Feel free to submit a PR, @eljenso, and I'll take a look at it when time permits :-)

[2019-06-04 16:09] cdow commented on #243
I was planning on putting together a PR in the next week.

[2019-06-24 09:43] fatso83 commented on #243
@cdow Unfortunately, the fix [broke most of the existing browsers](https://travis-ci.org/sinonjs/lolex/jobs/549635521), so I had to revert the fix. I think we need a little bit more testing before the proposed fix will work (testing that the property descriptors are actually writable, for instance).

[2019-06-24 16:25] cdow commented on #243
D'oh.  I'll see if I can create a new PR that doesn't break all of the browsers.

[2019-07-19 13:06] moll opened #246 "`Date()` should return a string, not an object, in Lolex v4.1.0"
Hey,

I believe Lolex deviates from the JavaScript standard behavior with regards to what `Date()` returns. I noticed this through a bug in my code that passed all tests, yet failed in production: I was creating a new date without `new` — `Date(2015, 5, 18)`. In tests, that was equivalent to `new Date(..)`, but without mocking, it returns the current time as a string — an entirely different result

[2019-07-21 16:15] fatso83 commented on #246
Verified! The standard is strange :)

[2019-08-04 09:42] #243 closed

[2019-08-06 08:09] ViktorPegy opened #249 "Request: clock.runnedTimers()"
Feature request: add a function, thats allow to get count of runned timers.
Eg.:
[code]

[2019-08-06 08:43] fatso83 commented on #249
What's the use case? I don't oppose this, but I think this will have a much better chance if you supply a PR with the changes. The code base is very simple to work with :)

[2019-08-16 09:45] SimenB opened #250 "`clock.next()` only fires a single timer, even if multiple timers scheduled at the same time"
Jest recently merged a PR adding `advanceTimersToNextTimer`: https://github.com/facebook/jest/pull/8713. I assumed the lolex implementation of this would just be calling `clock.next()`, but that only fires a _single_ timer.

* Lolex version : 4.2.0
* Environment   : Node
* Example URL   : https://runkit.com/embed/92xylm1hmbxn
* Other libraries you are using: N/A

**What did you expect to happen?**

[2019-08-16 09:55] benjamingr commented on #250
The current behavior is what I would expect - timers are guaranteed to be in order - what would you prefer?

[2019-08-16 09:58] SimenB commented on #250
I _think_ I'd prefer all timers at that point in time to fire. So `next()` would basically be

1. Find the next scheduled timer
1. advance time to that point using `.tick`

rather than

1. Find the next scheduled timer
1. advance time there without firing any timers
1. run the timer we found in step 1.

So essentially `next` wouldn't mean "next scheduled timer", it would mean "next point in time w

[2019-08-16 10:01] benjamingr commented on #250
How would you only run one timer in that case?

[2019-08-16 10:13] SimenB commented on #250
You wouldn't, just like real code would be able to interject between to real `setTimeout` calls

[2019-08-16 10:28] SimenB commented on #250
E.g.

[code]

[2019-08-16 12:21] benjamingr commented on #250
Right but real code might want to assert that the first timer runs before the second:

[code]

How do I assert that the first timer ran before the second here?

[2019-08-16 12:27] SimenB commented on #250
You wouldn't be able to. I'd get on my high horse and say you're trying to test unobservable implementation details, and being able to do so illustrates a leaky abstraction.

However, since this is the real world and we should be more pragmatic, I agree that this is a valid use case that would not be possible anymore if we go with my suggestion. I'm arguing that's a good thing, but I fully underst

[2019-08-16 12:31] benjamingr commented on #250
Well, I am not yet convinced one way or another 😅

[2019-08-16 12:31] SimenB commented on #250
@fatso83 thoughts?

[2019-08-16 15:12] fatso83 commented on #250
@SimenB I'm an idiot, I'm trusting you guys :-)

But seriously, I think the current implementation is the expected behaviour for that method.

Still, I'm a pleaser; couldn't we add a `runNextBatchOfTimers` that fulfills the other scenario? I mean, you already have the implementation :-)

[2019-09-13 18:31] szmarczak opened #252 "Events"
It would be nice to have some events:

- `newTimer`
- `removeTimer`
- ...

It would for example allow to execute all new timers by:

[code]

[2019-09-19 18:13] moll commented on #246
I think the stale bot is too eager here.

[2019-09-19 22:27] #246 closed

[2019-09-23 18:34] fatso83 opened #253 "Failing chromium test on updating deps"
* Sinon version : `master` (before updating) or branch `bug-updating-deps`
* Environment   : Chromium

**What did you expect to happen?**
All tests pass in all environments.

**What actually happens**
One test fails.

[code]

**How to reproduce**

Check out `master` (671330ce). Run `npm update && npm test`.

Also pushed the updates: https://github.com/sinonjs/sinon/commit/c8ff2b8f6f438ccac7c5c3abd

[2019-10-09 05:06] fatso83 commented on #252
That would imply using the async interface, right, so the naming should probably reflect that. Such a trigger would be quite confusing in sync lolex code, I think.

[2019-10-12 10:40] #249 closed

[2019-10-21 10:50] mantoni opened #272 "ReferenceError when loading lolex is browsers"
Originally reported on the PR introducing the issue here: https://github.com/sinonjs/lolex/pull/270#issuecomment-544431770

* Lolex version : `5.1.0`
* Environment   : Any browser
* Example URL   : https://jsbin.com/sezegopoqa/edit?html,js,console

**What did you expect to happen?**

`lolex.createClock()` creates a clock.

**What actually happens**

A `ReferenceError` is thrown.

[2019-10-21 11:51] #272 closed

[2019-11-20 13:28] fatso83 opened #276 "lolex.install({target: otherContext}) injects properties from original global"
* Lolex version : 5.1.1
* Environment   : Chrome

**What did you expect to happen?**
That `lolex.install({target: myContext, ...otherProps})` would basically work like `lolex.withGlobal(target).install({...otherProps})`.

**What actually happens**
If your environment supports `performance` and you do `lolex.install({target: { toFake: ['setTimeout'] } })` it still fakes and injects `performance` in

[2019-11-20 13:31] fatso83 commented on #276
An easy fix would be to either disallow the `target` prop and explicitly say `"Update your code to use `lolex.withGlobal(target).install(config)"` or just do it under the covers in the install method:
[code]

[2019-11-20 13:52] SimenB commented on #276
What if I want to install fake versions of timers from one thing into some other object? Is that a valid use case?

[2019-11-21 10:25] fatso83 commented on #276
@SimenB I can't really come up with any reason to do that ... but I guess someone _might_ want that ... for some unknown reason?

[code]

That would install fake `performance` timers into `myTarget`, so you could tamper with that object without worrying about messing too much with `global.jsDomWindow`. Not sure who would need such a use case, but we _can_ keep it. Then we would need to document it

[2019-11-22 22:22] jpenglert commented on #187
@SimenB I have an existing test that broke when I refactored from clearTimeout()/setTimeout() to Timer.refresh() because the fake Timer.refresh() does not call clearTimeout()/setTimeout(). Any plans to add that logic?

[2019-11-23 09:38] SimenB commented on #187
PR very much welcome 🙂

[2019-11-23 09:39] SimenB commented on #187
I'll reopen this since we don't actually support it, it's just a noop

[2019-11-26 15:08] SanderDeWaal1992 opened #277 "install() throws if setImmediate/clearImmediate is set in config.toFake if `_global.setImmediate` does not exist"
* Lolex version : 5.1.1
* Environment   : Chrome

**What did you expect to happen?**

That 'setImmediate' and 'clearImmediate' would be ignored if you pass them to config.toFake if `_global.setImmediate` does not exist since there is nothing to fake for them.

**What actually happens**

It works in node, but it does not work in Chrome (were setImmediate is not available). In that case it throws:
[

[2019-11-27 12:49] fatso83 commented on #277
Thank you for this. This seems like a valid case to check for. Want to try and have a go at fixing it? We ❤️  pull requests :)

[2019-12-03 18:43] SanderDeWaal1992 opened #286 "hrtime is affected when setSystemTime() is called multiple times"
hrtime is affected when setSystemTime() is called multiple times which breaks our unit-tests. This is introduced in issue #214.

* Lolex version :5.1.1
* Environment   :
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**
setSystemTime() should not ever affect hrtime.
**What actually happens**
It does affect hrtime the second time it is called
**How to reproduce*

[2019-12-03 22:09] SimenB commented on #286
#287

[2019-12-03 22:09] #286 closed

[2019-12-08 09:03] #250 closed

[2019-12-08 09:03] SimenB commented on #250
Since it's not immediately obvious the current approach is wrong/confusing I'll just close this. Thanks!

[2019-12-08 09:26] szmarczak commented on #252
Not stale

[2019-12-09 14:17] fatso83 commented on #252
@szmarczak This is a nice feature, but from experience, you have a much higher chance of seeing it implemented if you do an attempt yourself and provide a pull request :-) The lolex source code is quite simple, short and easy to get into.

[2019-12-09 18:02] szmarczak commented on #252
Yeah, I'll do when I have more free time. Currently I'm focused on HTTP/2 support in Got.

[2020-02-03 21:47] lexterror opened #301 "fake-timers.js I'm trying to change the time for a webpage!"
I was able to change the time with "sinon.js" by simply using

  clock = sinon.useFakeTimers(new Date( ).getTime());
  new Date();

I'm trying to do the same with fake-timers.js

I would appreciate some help. Thank you!

[2020-02-04 10:10] SimenB commented on #276
I'm down with throwing on `target` usage and directing to use the factory function for that use case. It works with any use case I can think of at least

[2020-02-05 10:29] mroderick commented on #301
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [`sinon` tag on Stack Overflow](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidel

[2020-02-05 10:29] #301 closed

[2020-02-18 23:33] slightlytwisted opened #304 "Error: Cannot clear timer: timer created with setInterval() but cleared with clearTimeout()"
* FakeTimers version : latest release
* Environment   : NodeJS 12.13.0

fake-timers should not assert that calls to `clearTimer()` be passed only timers created by `createTimer()` and that calls to `clearInterval()` be passed only timers created by `createInterval()` because the [HTML Living Standard](https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#dom-setinterval) indicates th

[2020-02-20 08:55] fatso83 commented on #304
Love a bug report with a WHATWG link to the reference ❤️

[2020-02-28 22:02] rgomezp commented on #194
Where can I find the flag?

[2020-02-29 12:56] mroderick commented on #194
@rgomezp probably ask in Node related places

[2020-03-02 20:13] rgomezp commented on #194
@mroderick ,
Thanks, but not exactly sure where that would be.

[2020-03-07 11:52] fatso83 commented on #194
@rgomezp I just tried manually seeing if it was there. I grepped for `tick`, `promise`, `flush` by doing `node --v8-options | grep flush`, and I could not see anything that related to it.

If you want easier testing, you could consider using a promise library in between, which is how guess Angular's [flushMicrotasks](https://angular.io/api/core/testing/flushMicrotasks) achieves this.

[2020-03-09 13:35] acoulton opened #315 "setTimeout fires immediately if delay is a (numeric) string"
* FakeTimers version : 6.0.0
* Environment   : any
* Example URL   : https://jsbin.com/jijuyayezo/edit?js,console
* Other libraries you are using: N/A

**What did you expect to happen?**

Calling `setTimeout(callback, '1000')` should use a delay of 1000ms. E.g. if the delay has been parsed from a data-attribute or other stringy option value.

**What actually happens**

The delay is ignored and it'

[2020-03-10 15:51] fatso83 commented on #315
Your guess is as good as mine - I would just try to add it at one place and run the test suite to see if anything failed :sweat_smile: If the standard uses type coercion, I guess it should be fine to simply do `Number(timer.delay)` at the right place; the earlier the better (by re-assigning `timer.delay` to a number)

My first guess was at the point of function definition for `setTimeout`, but tha

[2020-03-11 10:10] benjamingr commented on #315
Yes, this is a bug, we had to fix this sort of thing in bluebird. A fix would just be casting it to Number which is pretty much what the spec does.

This line here: https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L276-L278 just needs a `typeof !== 'number'` check and if it's not to convert it. The check here: https://github.com/sinonjs/fake-timers/blob/master/src/fake-tim

[2020-03-22 18:10] 43081j opened #317 ""module" field doesn't point at a module"
When used as an es module via the "module" property and a bundler, we get no exports.

The sources, and the commonjs output are individual exports, such as:

[code]

However, the browserify output results in an empty export:

[code]

the problem here seems to be that `"module"` in package.json should point at an ES module, but clearly doesn't. it instead points at a browserify bundle.. which is ra

[2020-03-22 18:33] 43081j commented on #317
one solution is to add an `esm.js` file so we can `import {install} from '@sinonjs/fake-timers/esm'`.

which is just a small file that imports the default and re-exports correctly...

@fatso83 what do you think?

[2020-03-23 08:13] mantoni commented on #317
For Sinon we solved this by generating a separate esm module in the `build.js` script:

https://github.com/sinonjs/sinon/blob/d2b4b726529f167d908747d2173b5491794ac718/build.js#L61-L80

The `module` field in `package.json` points to this module. We'd need to the same for `fake-timers` to fix this.

[2020-03-23 09:35] #223 closed

[2020-03-23 10:43] fatso83 commented on #276
#318

[2020-03-23 10:53] fatso83 opened #319 "Remove use of `eval`"
* FakeTimers version : 6.0
* Environment   : Rollup
* Example URL   : https://github.com/sinonjs/nise/issues/110

**What did you expect to happen?**
No warnings/errors

**What actually happens**
Rollup complaints about the use of `eval`.

**How to reproduce**
[See original bug report.](https://github.com/sinonjs/nise/issues/110)

Judging by the comments in the original issue in nise, this issue se

[2020-03-23 11:21] mantoni commented on #319
We had a discussion about this before, I recall, but can't find it. We should throw a meaningful error if a string is passed as the first argument to `setTimeout` or `setInterval`.

I suggest to throw the same error as Node:

[code]

[2020-03-24 11:44] mroderick commented on #223
This has been fixed in `@sinonjs/fake-timers@6.0.1`

[2020-03-25 08:29] DominicTobias-b1 commented on #220
Hi, are there typings now? Think I'll have to switch back to sinon main lib for typings

[2020-03-25 09:57] SimenB commented on #220
current status: https://github.com/sinonjs/fake-timers/pull/293#issuecomment-581890712

[2020-04-03 01:41] todofixthis opened #321 "Date.now() cannot be faked when using @babel/runtime-corejs*"
* FakeTimers version : 6.0.1
* Environment : node v10.19.0, macOS v10.15.4
* Example URL:
* Other libraries you are using: See below.

# What did you expect to happen?
`Date.now()` returns 0

# What actually happens
`Date.now()` returns current timestamp.

# How to reproduce
1. Configure project to use `@babel/runtime-corejs3`:

    <details>
      <summary>package.json</summary>

[code]
    </det

[2020-04-03 08:18] fatso83 commented on #321
There is nothing per se that is saying `fake-timers` is to blame here, given that transpilers can do all sorts of things. I am guessing this has something to do with what `global` is detected to be. Is there, for instance, a `window` global from somewhere? If this is what is causing it, then you can use the `target` prop to work around it. This is an example from the readme:

[code]

Here, `contex

[2020-04-03 08:29] fatso83 commented on #321
Screw that. I decided to just run your test case (very easy to do, so great job, btw!) and I had misunderstood what was going on: fake timers ARE being installed, it seems, it's just that it does not seem to be working for that _one_ call. The other is fine. I'll inspect.

[2020-04-03 08:32] fatso83 commented on #321
OK, this was easy. Just run babel to inspect the output and it is immediatly clear:

javascript
[code]

You corejs3 is replacing `Date.now` by a strictly bound reference to `@babel/runtime-corejs3/core-js-stable/date/now`. We cannot do anything about that, basically, but maybe you can find a way to configure core-js to not do this.

[2020-04-03 08:32] #321 closed

[2020-04-03 08:47] fatso83 commented on #321
You can see others being bit by this exact issue: https://github.com/zeit/next.js/issues/7050.

I spent ten minutes looking into how `core-js` can be configured via babel's own configs for [transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime) and [babel-preset-env](https://babeljs.io/docs/en/babel-preset-env), but could not really find anything useful. `core-js` itself say

[2020-04-03 20:48] todofixthis commented on #321
Thanks for looking into this @fatso83 !  I'll dive a bit deeper and see if I can come up with something interesting 😺

[2020-04-03 22:21] todofixthis commented on #321
Just now coming up for air, and I'm as stumped as you are.  I suspect that `@babel/plugin-transform-runtime` simply doesn't provide enough configurability, and the only option (aside from not using `Date.now()` 😁 ) would be to include `core-js` directly.

But, [I posted on Stackoverflow](https://stackoverflow.com/q/61020746/5568265), just in case 😺

[2020-05-04 10:45] SimenB commented on #276
This is fixed now, right?

[2020-05-05 04:48] #276 closed

[2020-05-10 11:57] benjamingr commented on #315
Ok, I'll take that as a no and offer this fix to some interested parties and if they decline in 48 hours I'll make a PR :]

[2020-05-10 12:09] arielweinberger commented on #315
There you go:
https://github.com/sinonjs/fake-timers/pull/322

[2020-05-10 12:24] benjamingr commented on #315
Thanks @arielweinberger - left a comment there.

[2020-05-10 20:01] itayperry commented on #304
Hey everyone, I'm taking a look at this :)

[2020-05-11 16:47] acoulton commented on #315
Whoops - sorry @benjamingr I had intended to take a look at this and then got knocked a bit sideways by COVID fallout... Thanks for picking it up @arielweinberger

[2020-05-15 16:57] itayperry commented on #304
A question :) This `clearTimer()` function appears in 2 different files, why is that? Should I change it in both files? I would love for some help.

- First location: https://github.com/sinonjs/fake-timers/blob/7f8322effa73a94dc43896cdfb49d63e821b32d1/fake-timers.js#L1733
- Second location: https://github.com/sinonjs/fake-timers/blob/7f8322effa73a94dc43896cdfb49d63e821b32d1/src/fake-timers-src.js#

[2020-05-16 12:45] benjamingr commented on #304
@itayperry fake-timers is generated from fake-timers-src through bundling it: https://github.com/sinonjs/fake-timers/blob/7f8322effa73a94dc43896cdfb49d63e821b32d1/package.json#L24 - you should generally only need to edit fake-timers-src.

[2020-05-16 14:27] itayperry commented on #304
All ready and tested :)
I hope this solves the issue properly.
#324

[2020-05-17 10:55] alistairjcbrown commented on #230
Put up PR #325 to add stack trace output for the next excess job to be run - let me know if you think that's the right direction for solving this issue

[2020-05-20 14:00] benjamingr opened #326 "Deno support"
So, fake-timers mostly works with Deno (just a bit weirdly):

The following seems to work and it's already possible to use fake-timers in Deno, just not in a very fun/useful way since we don't have exports in that entry point:

[code]

This might get fixed by https://github.com/sinonjs/fake-timers/pull/320/files automagically

[2020-05-20 14:02] benjamingr commented on #315
This will be fixed in the next release :]

[2020-05-20 14:02] #315 closed

[2020-05-21 10:27] itayperry commented on #319
Hey everyone, I'm taking a look at this. I'll try to fix the issue :)

[2020-05-22 15:07] itayperry commented on #319
Hey there, I removed the `eval()` function, it is no longer in use. It would be great if you take a look at the code and check that it doesn't break anything. There was a test for the `eval()` and I changed it to make sure that it fails and **throws an exception** :)

[2020-05-22 16:32] benjamingr commented on #319
I just did a sanity check and it looks like this feature is still supported in all major browsers.

In https://github.com/sinonjs/nise/issues/110 and specifically https://github.com/sinonjs/nise/issues/110#issuecomment-550090232 @mantoni saw that it didn't work in Chrome - but that's only because the page he was testing in had CSP (for example GitHub.com) - sites like example.com will happily exec

[2020-05-22 16:36] mantoni commented on #319
Ooooh, that is very interesting. I knew it was in the spec, but thought the feature got dropped due to security concernes.

I think we all agree that we have to keep this feature then.

[2020-05-22 16:41] itayperry commented on #319
Should I cancel the pull request?

[2020-05-22 16:42] benjamingr commented on #319
No @itayperry I'll post a follow up comment one sec :]

[2020-05-22 16:44] benjamingr commented on #319
@mantoni I went to #whatwg on IRC and asked them what they think we should do. I think keeping it for compatibility is probably the right thing to do (I didn't get an answer yet but I suspect they'll agree with you and with my intuition here).

@itayperry I think the follow up for the PR should be:
 - [ ] Only throw in Node.js (I like this since it better emulates what Node does). I tried searchin

[2020-05-22 17:06] itayperry commented on #319
Would a trick like that work? :)
[code]
How can I throw  **only** in Node? I'm googling it but I can't find any solution.

[2020-05-22 17:33] benjamingr commented on #319
@itayperry look at how we detect running in Node.js in the library already and try running fake-timers in Node vs browsers. You don't have to implement detection it's already there :)

As for eval2 - read about direct vs indirect eval that can impact semantics and I am not sure which is right here :)

[2020-05-22 19:59] benjamingr commented on #319
I think the eval2 trick would work and timers are supposed to execute in the global scope. I think the old behavior is just a bug.

[code]

[2020-05-23 11:13] itayperry commented on #319
BTW, how did it work on Chrome for you? @benjamingr

![setTimeout-string](https://user-images.githubusercontent.com/37377389/82729316-410a2980-9cff-11ea-9038-764ff1548ae9.png)

I don't wanna make too much mess. I'll close this PR and open 3 other PRs to address your 3 recommendations. Thanks!!!

@mantoni Thank you also for the feedback :)

[2020-05-23 11:20] benjamingr commented on #319
@itayperry you are testing this on GitHub.com, GitHub uses something called [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) to prevent usage of `eval` in scripts on the site to prevent `eval`.

In particular if you open the network tab and inspect the request for the document you tested it on - you will see something like:

[code]

Test a website which _doesn't_ use the CSP directive

[2020-05-23 11:56] itayperry commented on #319
Wow!!! You taught me something new :)

Found it:

![unsafe-eval](https://user-images.githubusercontent.com/37377389/82730036-7285f380-9d05-11ea-9124-ac1167cbff39.png)

[2020-05-29 20:33] itayperry commented on #319
Hi everyone, I have a tiny question. The project uses _prettier_ as far as I know, but when I click save I trigger the prettier in the `fake-timers.js` file, changing 5,475 lines. **This didn't happen** when I changed the `fake-timers-src.js` file on my latest commits.
What do you think?

[2020-05-30 06:26] #317 closed

[2020-05-30 10:11] itayperry commented on #319
For the moment I saved the file after disabling _**prettier**_ (on this specific file).  Perhaps this also needs to be handled separately.

[2020-06-06 20:25] benjamingr commented on #304
Fixed in https://github.com/sinonjs/fake-timers/pull/324/commits/1f83b99639f57a3980847da7aaddcf3d11308b5d

[2020-06-06 20:25] #304 closed

[2020-06-06 20:26] benjamingr commented on #187
Fixed in https://github.com/sinonjs/fake-timers/pull/328 , we need a release, it'll be a few days before I'll be in front of a computer with npm credentials.

[2020-06-06 20:26] #187 closed

[2020-06-08 20:32] #230 closed

[2020-06-17 19:39] itayperry commented on #319
Hi everyone :)

I'm trying to find out how to throw a `TypeError` **only** in `Node.js`
Now I've seen that there's a file that recognizes the environment.

![detecting-environment](https://user-images.githubusercontent.com/37377389/84939856-a0354100-b0e7-11ea-8781-4b4f8eec21ac.png)

The file is a part of the **shared** library `@sinonjs/common`:

https://github.com/sinonjs/commons/blob/07b9e7a1d78

[2020-06-17 21:23] benjamingr commented on #319
Probably use the same check used to decide whether to return numbers or objects from timers

[2020-06-19 15:38] itayperry commented on #319
This fix requires many changes, so I have a few questions before I continue:

1) Is this the check you mentioned?

[code]
2) **Is it ok to use it also in a testing file? (set this var at the beginning of the file)**

3) Another question which is a bit more complex for me - there are **a few tests that trigger the eval**,
can I put an if inside each of those tests and assert two different things?
[

[2020-06-19 16:05] mantoni commented on #319
Answering question 3: Please create separate test cases in a nested `describe` and conditionally skip them like here:

https://github.com/sinonjs/fake-timers/blob/0bfffc1810990f6e5dc42c5238e48cd90bd41265/test/fake-timers-test.js#L497-L503

[2020-06-19 17:05] itayperry commented on #319
Thank you @mantoni for your fast reply :) Can I nest a `describe` inside another `decribe` ? Or should I only use it after the last one has been ended/closed?

[2020-06-20 10:34] itayperry commented on #319
Overall there are 5 tests that trigger the `eval()` - So basically I need 10 tests - 5 for Node.js environment that asser that an error was thrown, and another 5 for the rest.

[2020-06-21 09:28] benjamingr commented on #319
Generally - yes.

[2020-07-19 15:32] #326 closed

[2020-09-07 10:18] SimenB opened #335 "Support `temporal` TC39 proposal"
* FakeTimers version : 6.0.1
* Environment   : N/A
* Example URL   : N/A
* Other libraries you are using: None

Repo: https://github.com/tc39/proposal-temporal/

We should support faking out usage of all `Temporal.now.*` methods. Not sure if we need to fake anything else?

Note that I do not think we should support `Temporal` _now_ - the proposal is still at stage 2. So consider this more of a tra

[2020-09-07 21:28] benjamingr commented on #335
Cc @littledan I remember you asking for feedback on Temporal.

Is there anything other than .now that sinon would need to fake?

[2020-09-11 12:05] fristedt opened #337 "Need new release"
Our project needs a fix introduced in June (https://github.com/sinonjs/fake-timers/issues/304), but the latest release was made in March.

When are you planning on making a new release?

[2020-09-11 12:16] benjamingr commented on #337
@fatso83 - can you make a release? Otherwise I can try doing one but I never did one before for fake-timers.

We can also set up releases to happen from the CI so they are more frequent

[2020-09-11 16:26] fatso83 commented on #337
Having automated CI releases would be a good thing. We just need to be strict about semantic versioning wrt labels on merged issues.  I won't be leading any effort, though; just back from a 5-months code hiatus, so I'm a bit rusty.

I'll see if I can get to making a release this weekend. It's just a matter of following some steps in a markdown file and it's done in a few minutes. Only thing is tha

[2020-09-14 10:39] fatso83 commented on #337
A [recent dependency update](https://github.com/sinonjs/fake-timers/commit/38a90303e3d1f51e5d3c9216b0d0c1a570229f4d) broke our builds on Safari, IE and Firefox, so I need to revert that first.

[2020-09-14 11:35] fatso83 commented on #337
@benjamingr This build broke when #325 was merged in June. It has been broken since. This blocks creating a new release. See details in https://github.com/sinonjs/fake-timers/pull/325#issuecomment-691995306

[2020-10-06 18:31] daniel-mina97 opened #339 "Inconsistent behavior with varying 'now' timestamps in config for FakeTimers.install({ now: <timestamp>, shouldAdvanceTime: true })"
* FakeTimers version : 6.0.1
* Environment   : Node 12.18.3, macOS Catalina 10.15.7
* Other libraries you are using: jest 26.4.2, bottleneck 2.18.1, nock 13.0.4

**Background**
I have some ETL (extract, transform, load) code that uses the bottleneck library to throttle some API calls. I am testing this code using nocks (will intercept the API calls and provide some mock data) and jest. For one of

[2020-10-06 19:17] benjamingr commented on #339
It's going to be very hard to debug this without a reproduction.

[2020-10-06 19:22] daniel-mina97 commented on #339
I'm working on creating a small dummy project to reproduce this. I'll add the link to it once I have it made.

[2020-10-06 19:48] daniel-mina97 commented on #339
Okay here's a link (https://github.com/daniel-mina97/FakeTimers) to a sample project where I can reproduce the problem. All you have to do after installing the dependencies is run `yarn test` to see the failing test. In the actual test file I have some different timestamps that you can swap in.

[2020-10-07 00:59] daniel-mina97 commented on #339
After messing around with it some more, I think the core problem is in the bottleneck library. If instead of using fake-timers I just use jest to mock Date.now to return the timestamp, the tests also get hung up. For some reason moving the bottleneck instance inside of the function (as described in the README at https://github.com/daniel-mina97/FakeTimers) fixes both problems... I'll go ahead and

[2020-10-07 00:59] #339 closed

[2020-10-17 22:42] NearHuscarl commented on #304
In the mean time, I've got my test working again by patching the code from the commit mentioned above using [`patch-package`](https://github.com/ds300/patch-package). Here is the instructions for anyone wants to do the same

* Open this file `node_modules/@sinonjs/fake-timers/src/fake-timers-src.js` and patch [this code](https://github.com/sinonjs/fake-timers/commit/1f83b99639f57a3980847da7aaddcf3

[2020-10-23 15:00] andrewplummer opened #341 "Mocking setTimezoneOffset"
It would be very nice to have a way to mock the system timezone offset, ie. override `Date.prototype.getTimezoneOffset`.

I realize that this is possible and not very hard without `fake-timers`, however given that it hijacks the global `Date` object, if you were to do this the order of applying the mocks would then become a consideration (ie. if you were to mock `Date.prototype.getTimezoneOffset`

[2020-10-23 19:41] benjamingr commented on #341
Why is that - the source code indicates this should work https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L181

[2020-10-23 20:06] andrewplummer commented on #341
Ah I stand corrected! That does appear to work. Well in that case I suppose the only reason is that a `clock.setSystemTimezoneOffset` might be a useful addition since sinon has already gone to the trouble to create a nice API to mock `Date`. It's not as compelling an argument as I originally thought though so feel free to close.

Thanks for a great library!

[2020-11-17 22:19] mahmoudmoravej opened #342 "mocking timezone"
We have used this tool in order to support mocking system clock in our Jest tests. The problem is that our test files run in containers around the world with different timezones.
So, it would be great if we could set the timezone in order to make our tests independent from location. This approach makes writing and understanding our test scenarios straightforward.

[2020-11-18 01:24] mAAdhaTTah commented on #342
FWIW, I believe you can control this via env var. In the past, I've added `TZ=UTC` in my test script to ensure timezone consistency (which was a minor issue when I was writing tests with my Sydney-based colleagues).

[2020-11-18 07:36] mantoni commented on #342
This has been discussed in #48 before and the most reliable solution is to set the `TZ` environment variable, as @mAAdhaTTah mentioned. It's not possible to adjust the timezone from within JavaScript.

[2020-11-18 07:36] #342 closed

[2020-11-18 10:39] PFight commented on #114
If someone looking for solution right now, here you go:

[code]
Use like this:
[code]

[2020-12-02 02:14] tchakabam opened #343 "What does this sentence in the readme actually mean ("...use your imagination ...")"
I consider this a documentation bug:

[code]

This is ambiguous (and seems wrong to me) in a lot of ways. Please explain what exactly this is supposed to mean.

[2020-12-05 15:16] fatso83 commented on #343
I agree this is unclear. I am also not sure what is meant by this, TBH, but it might mean that a simulation in essence is a made-up scenario, which of course is something you have to make up. That might be what the author meant, or less likely, it could be that he was thinking of how to stub the behavior at a technical level.

[2020-12-09 16:52] tchakabam commented on #343
I understand now also that there are specific functions to simulate async behavior in the API.

I guess that would be a better type of instruction to give, say: "Use the intended for methods below regarding async processes"

[2020-12-14 14:43] fatso83 commented on #343
I guess we will never know the true intent, as @cjohansen wrote that in 2013, but you are free to come up with a PR to make things better :) Closing for now.

[2020-12-14 14:43] #343 closed

[2020-12-14 14:49] cjohansen commented on #343
The context for this piece of unhelpful text was that you have a synchronous test and want to test an asynchronous flow using stubbed functions. There's no good way to do this in a general way, so the docs suggested you got imaginative with how you ordered function calls and assertions. Not saying it's a good piece of documentation, but that probably was the intent of it 🙃

[2021-01-03 17:36] gorankarlic opened #344 "HTTP Date header time faking fails on Node 15.2.0 and later"
HTTP `Date` header time is faked just fine up to `Node v15.1.0` but fails with `Node v15.2.0` or later.

* FakeTimers version :  `6.0.1`
* Environment :  `Node v15.5.0`
* Other libraries you are using: `assert`, `http`

**What did you expect to happen?**

Should return HTTP `Date` header with fake time `date: "Tue, 31 Dec 2013 23:59:59 GMT"`.

**What actually happens**

Instead returns HTTP `Date`