[2021-01-03 22:34] benjamingr commented on #344
That sounds reasonable, I think the current behaviour is expected but the use-case wasn't considered and the breakage wasn't expected.

Alternatives I can think of:
 - Expose a `--no-primordials` flag or similar making `primordials` not return frozen instances.
 - Expose an API for manipulating the base date/time inside Node.js
 - Not support the case and expect users to mock time at a system leve

[2021-01-05 08:58] gorankarlic commented on #344
Looking at the alternatives:

1. Expose a `--no-primordials` flag or similar making `primordials` not return frozen instances.
   - Pro: simple fix that would allow stubbing of primordials across the board
   - Con: extra complexity in Node core, different production / test environments, may introduce subtleties
 2. Expose an API for manipulating the base date/time inside Node.js
    - Pro: addres

[2021-01-05 10:22] benjamingr commented on #344
Hmm, @aduh95 what do you think?

[2021-01-05 11:05] aduh95 commented on #344
I quite like the flag idea as it gives to users the more power over how Node.js internals behave. What about a `--expose-primordials` flag? I think it would be easier to implement than a `--no-primordials` one, and would allow users to define a specific behaviour for Node.js internals without even changing the globals.

[2021-01-06 14:12] septagram commented on #114
In my case, this issue caused my promises to be invoked in the wrong order. I have encountered this issue both in AngluarJS testing with Karma + Mocha + Sinon and NodeJS testing with Jest (which is using Sinon's FakeTimers under the hood). The only semi-reliable (albeit ugly) workaround I found so far is:
[code]
...essentially advancing time by 1ms per turn. And then in your tests (TypeScript):
[c

[2021-01-12 00:13] kevinoid opened #347 "Support util.promisify on installed functions"
* FakeTimers version : 6.0.1
* Environment   : Node v15.5.1

**What did you expect to happen?**

[`util.promisify`](https://nodejs.org/api/util.html#util_util_promisify_original) would work on `setTimeout` installed by FakeTimers as it does on the global `setTimeout`.

**What actually happens**

The Promise returned by the installed `setTimeout` is never resolved because the installed `setTimeout`

[2021-01-15 10:43] peterjuras opened #352 "Type definitions introduced in v7 are too strict"
* FakeTimers version : 7.0.1
* Environment   : Node.js
* Example URL   : https://codesandbox.io/s/headless-lake-jq53p?file=/src/index.ts
* Other libraries you are using: TypeScript (4.1.3)

**What did you expect to happen?**

The type definitions that have been introduced in v7 appear to be too strict and don't allow users to leave out properties that have default values.

As an example, the follo

[2021-01-15 14:04] tapz commented on #304
How do I disable this functionality completely? I just want to mock dates and now face timers give an error with node pg, which is not my code. So I need to use something else than sinonjs because it has this kind of side effects.

[2021-01-15 15:14] fatso83 commented on #337
@benjamingr Morgan [cut a new release](https://github.com/sinonjs/fake-timers/blob/master/CHANGELOG.md#700--2021-01-12) so this should close.

[2021-01-15 15:14] #337 closed

[2021-01-15 15:22] fatso83 commented on #352
Quickest way to get this fixed is through a tiny PR with some `?`s. You seem to know what is required ... ;)

[2021-01-15 15:25] fatso83 commented on #304
@tapz Are you running 7.0.1? Cause this was released yesterday and includes the fix for this issue. Not sure how it applies to your case, as I have no idea what you are talking about (way too inspecific), but I would try to `npm install @sinonjs/fake-timers@latest`.

[2021-01-15 21:31] vovkasm commented on #352
It will not work. Those type definitions is totally broken )))
What `install` returns? The Clock object that can be used as a controller for "fake" time in tests. Clock has various functions for advance time: `tick`, `runAll`, etc... and to control "fake" time state: `reset`, `setSystemTime`... but nothing here )))

Currently it has:
[code]

Commit https://github.com/sinonjs/fake-timers/commit/0d0

[2021-01-17 10:33] benjamingr commented on #304
@tapz you can `.install` with a parameter indicating what to fake - and you can just _not_ mock timers and only mock date.

[2021-01-18 15:16] #352 closed

[2021-01-18 15:25] fatso83 commented on #352
@vovkasm We suggest users to stick with version 6 if they want to use the DT types. If you can help us out in improving them that would be great! Would you happen to know if there is a way of configuring TS to use the types from DT instead of the bundled ones? If so, we could add that to our docs (ref https://github.com/sinonjs/fake-timers/pull/355).

[2021-01-19 14:25] peterjuras opened #356 "Type Defintions: Clock returned from install is missing uninstall property/function"
FakeTimers version : 7.0.2
Environment : Node.js
Example URL : https://codesandbox.io/s/sharp-fast-7zwis?file=/src/index.ts
Other libraries you are using: TypeScript (4.1.3)

**What did you expect to happen?**

When storing the return value of `install` in a variable, the `uninstall` function helps uninstalling the fake clock again from the environment.

[code]

Note: I'm currently limited in time

[2021-01-19 23:37] dvoytenko opened #358 "requestIdleCallback: callback's IdleDeadline API is not implemented"
* FakeTimers version : appears to still exist at HEAD
* Environment   : any
* Other libraries you are using: sinon

**What did you expect to happen?**

`install()` by default patches `requestIdleCallback`. But when the callback is called, it doesn't have `IdleDeadline` argument. It's described [here](https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback). Thus a code that may

[2021-01-20 08:14] fatso83 commented on #358
Thanks for noting this!

P.S. Quickest way of getting your itch scratch is scratching it yourselves. PRs welcome ;)

[2021-01-26 15:13] squareloop1 commented on #356
It also seems to miss some other properties like `tick()` and `tickAsync()`.

Due to the nature the types are defined it is also not possible to declare the type of a variable without installing it too:

[code]

[2021-01-27 06:22] peterjuras commented on #356
@squareloop1

You can use `ReturnType` to get the type of the return value of `.install()` without installing it immediately, e.g.:
[code]

However, having a dedicated Clock type similar to the one that the DefinitelyTyped type definitions would be preferable imho.

@fatso83: Is there a rationale behind generating types from JSDoc definitions? Is there anything that triggered this move away from m

[2021-01-27 08:46] fatso83 commented on #356
@mroderick You are better equipped to answer this.

I never minded the external definitions (I even fixed a few errors), but there was a group consensus, and it was partly to do with increasing internal documentation, as well. Assuming we are able to get a 1:1 feature parity with TS from the JS docs, I don't mind, but of course: if there are stuff that is hard to represent using JSDoc we might nee

[2021-01-27 11:13] SimenB commented on #356
Should probably set up [`tsd`](https://www.npmjs.com/package/tsd) or something like it so tests can be written for the types.

Some feature parity with DT should probably have been aimed for before releasing, but what's done is done 😀

[2021-01-27 11:37] fatso83 commented on #356
`tsd` seems like a great package! Wonder why that is not used in the DT sub projects.

[2021-02-01 12:57] mroderick commented on #356
* The Sinon libraries need better API documentation
* API documentation can be generated from JSDoc
* JSDoc can be integrated into our static analysis ([`eslint-plugin-jsdoc`](https://www.npmjs.com/package/eslint-plugin-jsdoc)), which helps keep documentation up to date with the source
* Modern IDEs and editors scans the JS source files and reads JSDoc to provide usage hints ([even VSCode in JS pr

[2021-02-01 13:05] mroderick commented on #356
We can make up to date type definitions available to the TS community and save effort.

Perhaps we jumped the gun and released the files too soon. I'm hoping that the TS/DT community will see this in a kind light, and help bring us up to parity with the DT types by contributing to the documenation effort

For those that have gotten bitten by the immature `.d.ts` files: there's [documentation on ho

[2021-02-08 11:28] bodinsamuel commented on #356
Is this something you are strict on this? I mean the file is not too big, we could rewrote it in TS, not strictly, without big issues.
Not saying it's easy, but it's doable.

[2021-02-08 12:05] mantoni commented on #356
@bodinsamuel Yes, we're strict on this. It's not about effort or file size.

[2021-02-11 06:53] septagram commented on #114
I've managed to solve this problem by using `setTimeout (..., 0)` / `setImmediate()`, or the [`Flush Promises`](https://www.npmjs.com/package/flush-promises) library, which does just that. Turns out that timeouts won't execute until the microtask queue is finished. So the solution is pretty easy in the end:
[code]
Drawbacks:

1. This is pretty ugly (wish I could come up with something better).
2.

[2021-02-11 09:12] benjamingr commented on #114
flushPromises just does `setTimeout(0)` @septagram :D

You can "cheat" by calling `process._tickCallback` or using the chrome devtools protocol (with require('inspector') to run stuff using the debugger)

We can do much much better (call  but unfortunately I don't have time since I started a new job recently and am expecting a baby :)

[2021-02-17 08:55] Finesse opened #363 "Incompatible with promise-polyfill (a solution included)"
-   FakeTimers version : 7.0.2
-   Environment : Internet Explorer 11 with promise-polyfill

I make tests that run in different browsers (including IE 11) via Karma. IE doesn't support promises, so I include [promise-polyfill](https://github.com/taylorhakes/promise-polyfill). The following test case doesn't proceed in IE 11:

[code]

[code]

(Jasmine isn't required, any test runner can be used)

T

[2021-03-03 19:10] tchakabam commented on #343
@cjohansen I don't think that makes much sense, any test can be made async, with all test runners I know.

[2021-03-11 07:07] SimenB commented on #335
It's now stage 3: https://github.com/tc39/proposal-temporal/pull/1440. 🎉 Is this a good time to add support? Along with some docs caveat that it's still unstable (and of course not added to `toFake` by default). Or should we wait for one engine to land it?

[2021-03-11 07:31] benjamingr commented on #335
When does it land in Chrome?

[2021-03-11 07:34] SimenB commented on #335
I have exactly zero clue 😅

[2021-03-11 14:18] ljharb commented on #335
It is stage 3, but will not be shipped unflagged at this time, so it'll be awhile.

You will only have to mock out `Temporal.now`, by design.

I would start implementing now, but perhaps hold off shipping it until at least one engine has landed it, or at least until a production-ready spec-compliant polyfill exists.

[2021-03-11 14:33] SimenB commented on #335
Wonderful 👍

If somebody is up for implementing it, I think we can also ship it as long as it's clearly marked as unstable in docs and possibly code, e.g. `unstable_enableTemporalSupport: boolean` or something. Not sure, and I don't feel strongly

[2021-03-15 20:01] #356 closed

[2021-03-15 20:07] benjamingr commented on #363
Opened a promise-polyfill PR: https://github.com/taylorhakes/promise-polyfill/pull/125

[2021-03-15 20:24] #319 closed

[2021-03-17 22:43] tchakabam commented on #343
My name is Stephan :) Hi Christian.

I think that it was definitely possible 10 years ago (and even since JS very start) to do:

[code]

Right?

As JS is a language that in its concept runs atop an event-loop to allow manage async proceses in the background and scheduling/dispatching events in this way.

It is just that, I like it when talking about technical things to be precise and correct. I do

[2021-03-18 07:29] cjohansen commented on #343
This was not possible with JsTestDriver at the time this was written.

I can barely understand this incredibly condescending piece of writing, but you can trust that the authors of this library - present and past - understand the language. Assuming they don't is arrogant and not very helpful.

I agree, which makes it all the more of a mystery why you are still adding to this thread.

I'll take cha

[2021-03-18 07:35] mantoni commented on #343
Maybe I can help resolving the misunderstanding here.

It's obviously possible to run async code in JS, and That was always the case. We can all agree on that. It's also clear that test can be written that test this async behavior.

However, with the Sinon fake timers, it's also possible to program the clock and cause timer invocations to be triggered by the test synchronously. When developers opt

[2021-03-18 08:00] benjamingr commented on #343
I hate to be that pedantic person _but_ until ES2015 it was impossible to write async software in JavaScript.

The async bit came from the host environment. Even in ES2015 the async part is only "run to completion" microtask semantics and "real" asynchronicity comes from the platform.

You can plainly see this by looking at the fake-timers source code and seeing that there are a bunch of if/else d

[2021-03-18 08:37] benjamingr commented on #344
@gorankarlic Antoine's PR landed in Node - can you please take a look :)?

[2021-03-24 08:47] benjamingr commented on #363
Looks like my PR was merged into promise-polyfill so I'll go ahead and close this :)

[2021-03-24 08:47] #363 closed

[2021-03-24 09:22] Finesse commented on #363
@benjamingr Amending promise-polyfill isn't enough. This is also required:

This way fake-timers won't race with promise-polyfill

[2021-04-06 08:41] ronag opened #368 "fake-timers 7 doesn't seem to forward setTimeout args"
[code]

Refs: https://github.com/nodejs/undici/pull/675#issuecomment-812918698

[2021-04-06 09:37] benjamingr commented on #368
@ronag hey - the args are just stored https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L785 and then just applied to the args https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L471

Any chance I could get a quick repro? The example in your code seems to work:

[code]

[2021-04-06 09:43] ronag commented on #368
I'll dig into it further. We had to pin in undici.

[2021-04-06 09:47] benjamingr commented on #368
Thanks, probably a good-first-issue for people to debug and figure out in unidici :)

[2021-04-06 09:50] ronag commented on #368
@dnlup FYI

[2021-04-06 10:12] dnlup commented on #368
Thanks, @benjamingr . Could it be something related to the interaction with `nextTick` or similar? [This](https://github.com/nodejs/undici/blob/main/lib/client.js#L534) is the only instance that gives us problems in [this test](https://github.com/nodejs/undici/blob/main/test/request-timeout.js#L43). Before calling `setTimeout`, `this` is indeed not `undefined`, but when it is referenced inside the

[2021-04-06 10:24] fatso83 commented on #368
I would set a breakpoint in the fake timers code to have a look at the arguments at the point they are applied. Debugging unknown client code is kind of costly, and `this` reference problems are usually a point in client code, so I am not all that inclined into digging into this right now. Still, if `this` is defined at the point of calling, I do not see why it should change underway, as the objec

[2021-04-06 10:26] ronag commented on #368
Just to be clear there are no problems in v6. The problem only happens in v7.

[2021-04-06 10:33] fatso83 commented on #368
Ooh! That was totally new to me.

[2021-04-06 10:35] benjamingr commented on #368
Sounds like a fun bug. Debugging is relatively straightforward (run with `--inspect-brk` and step into the fake-timers code which is a single pretty readable file)

[2021-04-06 10:35] benjamingr commented on #368
(and run jest in band (--runInBand) if using jest because jest does very "creative" stuff)

[2021-04-06 11:18] dnlup commented on #368
Thanks for all the feedback, I'll try to inspect it and get back to you.

[2021-04-06 13:18] dnlup commented on #368
Could it be the `refresh` logic?

* https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L364

It looks like the extra arguments are lost here, or am I missing something?

[2021-04-06 13:37] fatso83 commented on #368
@dnlup That seems like a good candidate! I agree with you. This seems like losing arguments.

[2021-04-06 14:05] dnlup commented on #368
I can confirm that adding:

[code]

on that line resolves our issue.

[2021-04-06 14:09] dnlup commented on #368
I can open a PR if you want.

[2021-04-06 14:26] fatso83 commented on #368
A tiny regression test would be great :)

[2021-04-06 14:33] dnlup commented on #368
Should I modify `src` directly ot there is some transpiling that I have missed?

[2021-04-06 14:38] benjamingr commented on #368
@dnlup src, PR welcome

[2021-04-07 10:53] SimenB commented on #368
(not sure why Jest is brought up when the tests linked in this issue are using Tap, but since it was)

If you have examples where Jest behaves differently in band and not WRT fake timers I'd love to get a bug report with a reproduction. I don't remember having seen any issue about that before

[2021-04-07 11:47] benjamingr commented on #368
@SimenB I saw the tests are using both Jest and Tap.

This was just a general "in order to debug jest without waiting for the workers to spawn and quickly attaching the debugger to them" tip. I do that when I use Jest and I think (?) it's also the official recommendation at https://jestjs.io/docs/troubleshooting#tests-are-failing-and-you-dont-know-why

On the other hand - I _do_ have a Jest perfor

[2021-04-07 12:10] SimenB commented on #368
Right, when debugging it's easier if you force not using workers (although running a single test will always run in band). I don't think using Node's `worker_threads` and `child_process` APIs necessarily should be classified as "creative" (which is what triggered my response), but that's neither here nor there (and most certainly off topic for this issue 😀).

Most often by opening an issue, but DM

[2021-04-07 14:02] benjamingr commented on #368
Thanks, messaged - this is me :) https://twitter.com/benjamingr_

[2021-04-08 09:25] fatso83 commented on #368
@benjamingr I updated your Twitter link bio. The underscore was left out when clicking, which made me wonder why you were speaking Spanish 😄

See same link:
-  https://twitter.com/benjamingr_
- https://twitter.com/benjamingr

[2021-04-08 20:38] #368 closed

[2021-04-22 12:46] Smrtnyk opened #374 "Fake timers override mocks on performance object"
-   FakeTimers version : I am using jest: 26.6.3 which uses FakeTimers
-   Environment : Windows 10 10.0.19042
-   Other libraries you are using: jest 26.6.3

I am actually redirected here from https://github.com/facebook/jest/issues/11330
I am using jest with jsdom

**What did you expect to happen?**
I would expect that properties that I added to be preserved after fake timers install

**What act

[2021-04-22 13:04] benjamingr commented on #374
Yes, that sounds like a reasonable ask. PR welcome or if another contributor wants to take it :)

[2021-04-23 12:56] Smrtnyk commented on #374
alright, I am pretty much overloaded currently with work but will try to brew something if noone does this in the near future

[2021-04-23 13:44] benjamingr commented on #374
@itayperry want to take a stab at this :)?

[2021-04-27 12:39] itayperry commented on #374
I'll take a look into it - I might ask for some advice :)
Hope I'll be able to help! 🙂

[2021-05-20 10:58] fatso83 opened #380 "Safari test run breaks in Sauce Lab due to missing W3C WebDriver support"
Full background: https://github.com/sinonjs/sinon/issues/2372.

Basically, Safari tests breaks with v12 and up. This needs to be fixed in `min-wd` (mantoni/min-webdriver#31).

[2021-05-27 11:45] benjamingr commented on #380
Would it make sense to just migrate to WebDriverIO?

@christian-bromann given the visibility and popularity of this project is this something you can assist with?
(feel free to say "no", no intention to pressure)

Ideally someone looking to contribute more ( @itayperry ) could take this if you can mentor them on the migration.

[2021-05-27 12:24] christian-bromann commented on #380
I don't think so. WebdriverIO has no capabilities to run Mocha, Jasmine and Cucumber in a browser for unit test purposes. However given that many libraries still would like to do such things I will look into supporting this. Short term I believe fixing the protocol bug in `min-webdriver` makes the most sense IMO.

[2021-05-27 12:33] benjamingr commented on #380
@christian-bromann thanks for the quick response it's appreciated! 🙏

The logic for running mocha tests in browsers isn't in min-webdriver it's in mochify. That could (at least optionally?) just use WebdriverIO right?

[2021-05-27 12:50] christian-bromann commented on #380
Yes it could. Then easiest would be to implement a browserify plugin compatible interface into `webdriverio` similar as `min-wd` does it.

[2021-05-27 13:00] benjamingr commented on #380
Great, @itayperry is this something you'd be interested in contributing? It could be a good chance to contribute to another project too (WebdriverIO)

[2021-05-28 05:07] #347 closed

[2021-05-28 08:33] peterjuras opened #382 "TypeScript types for install config are too strict."
-   FakeTimers version : 7.1.1
-   Environment : Node.js (Jest)
-   Example URL : [Codesandbox sample](https://codesandbox.io/s/focused-hill-enmrn?file=/src/index.ts)
-   Other libraries you are using: TypeScript v4.3.2

**What did you expect to happen?**

The `FakeTimers.install` method should be usable with a partial config object, i.e. only specifying `now` and using the default values for othe

[2021-05-28 11:52] fatso83 commented on #382
Hi, it seems the `Config` object should have optionals everywhere. Not sure  why that wasn't done to begin with. AFAIK, all of the props in https://github.com/henhal/fake-timers/blob/cdd0391fa39391f102bafc7678df9d060386253f/src/fake-timers-src.js#L45 should have `[]` added to make them optional.
[code]

That seems fixable :)

[2021-05-28 11:56] fatso83 commented on #382
Yup, just made a test

[code]

[2021-05-28 14:20] #382 closed

[2021-05-28 14:31] fatso83 commented on #344
The PR was merged as part of Node 15.7. What's the next step to get this closed?

[2021-05-28 14:51] fatso83 commented on #114
So ... just poking around a bit: what is the next step here? I see Benji talking "someting much better", but I am not sure this relates to implementing something in the Node core or elsewhere. If it is something we can do in this project, it would be cool if the ideas were fleshed out a bit, so someone could have a go.

[2021-05-28 19:32] fatso83 commented on #220
@DominicTobias-b1 we started shipping typings with v7

[2021-05-28 19:54] fatso83 commented on #358
Hi, I looked into this, and found several issues.
1. Your issue - the callback not getting the argument.
2. The actual current implementation is wrong. It uses a `number` for the timeout, instad of `{ timeout }` (an object).
2. It does nothing with the timeout. It should schedule the timer to be called at `timeout` if it has not been called.

[2021-05-31 13:48] fatso83 commented on #277
Seems fixed a long time ago
[code]

[2021-05-31 13:48] #277 closed

[2021-05-31 13:56] fatso83 commented on #374
Seems like easy pickings for anyone interested party to pick up.

[2021-05-31 15:24] itayperry commented on #380
Yes, I'd be happy - I'm still working on #375 and I also wanna contribute to #374.
I've been slow lately, so if no one takes this one, I definitely will :) I don't wanna stall you.

[2021-06-02 07:43] dr3amstat3 commented on #194
Has this been solved? Can I test a method that sleeps using faketimers?

[2021-06-02 09:39] lagonnebula opened #387 "[Version 7.1.0] Typescript compilation error"
Hello,

-   FakeTimers version : 7.1.0
-   Environment : Windows,  node:erbium-alpine
-   Other libraries you are using:
     - Typescript 3.9.9
     - @sinonjs/common@1.7.0

**What did you expect to happen?**
To be able to compile with tsc
**What actually happens**
When i try to compile the project with fake-timers, i got a compilation error :
[code]

[2021-06-03 00:46] rrogowski opened #388 "clock.performance.now returns incorrect value within clock.setInterval callback"
-   FakeTimers version : 7.1.2
-   Environment : NodeJS
-   Example URL : N/A; see test below
-   Other libraries you are using: Jest

When passing fractional milliseconds to `clock.setInterval` and `clock.tick`, the return value of `clock.performance.now` is sometimes incorrect when called within the callback passed to `clock.setInterval`.

Here is an example test running within Jest:

[code]

**

[2021-06-03 01:54] rrogowski commented on #388
At the very least, being able to do something like this would be very useful:
[code]

Right now the result is:
<img width="406" alt="Screen Shot 2021-06-02 at 9 54 18 PM" src="https://user-images.githubusercontent.com/5777094/120574317-16ac7b00-c3ed-11eb-9876-e6bfdee99305.png">

[2021-06-03 09:21] benjamingr commented on #388
Thanks for the report!

Timers don't work with sub-millisecond durations - WebIDL conversions convert whatever you pass in to an integer and assumes it's milliseconds. (In Node.js we make even fewer guarantees with regards to timer order and granularity).

I _think_ we correctly convert timers to ints [here](https://github.com/sinonjs/fake-timers/blob/master/src/fake-timers-src.js#L422).

[2021-06-03 10:11] fatso83 commented on #388
I also generally would not do any precision comparisons with `setTimeout` nor `setInterval`. At least that would not match production timers in actual browsers, which is kind of the point, right? My rule of thumb has always been that `setTimeout` takes somewhere between 0 and 16ms, when doing `setTimeout(fn,0)`. For instance, some browsers rely on the default Windows OS timers; these have a granul

[2021-06-03 10:16] fatso83 commented on #387
Hi, this is correct, as this project [has no such API](https://github.com/sinonjs/fake-timers/blob/master/README.md#api-reference).

Feel free to submit a feature request for this: [spec](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/queueMicrotask).

P.S. You will have a much higher chance of seeing that feature request filled if you just do it yourself :)

[2021-06-03 10:16] #387 closed

[2021-06-03 10:28] fatso83 commented on #388
Also see point 17 in the spec: https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#timers:implementation-defined-2

[2021-06-03 10:30] fatso83 commented on #194
@dr3amstat3 Yes. Not sure what you mean by "sleeps", as there is no `Thread.sleep()` in Javascript, but if you mean anything `async` (essentially returning a promise), yes you can, depending on use case. Check out the async ticks. https://github.com/sinonjs/fake-timers#clockticktime--await-clocktickasynctime

[2021-06-03 13:30] rrogowski commented on #388
@benjamingr @fatso83 Thank you both for these explanations. I think I understand the behavior a bit more clearly now, and that this is not a bug given the timer specs.

I am wondering what a good alternative would be to testing sub-millisecond durations. Currently, I'm writing an emulator that decrements a timer register at a rate of 60Hz (once every ~16.667s). Would it still be possible to use th

[2021-06-03 13:41] rrogowski commented on #388
To put it more generally, what is a more "correct" way to test code that uses `setInterval`?

[2021-06-03 15:07] fatso83 commented on #388
Not totally sure what to say here. Code that uses a non-integer duration is essentially "wrong" (not spec-conforming), so this is a more general question of how would you test something that is not supported😃

I think your approach of testing the timers schedule updates at an approximately correct frequency should be fine, and it's basically what you did above. In any case, most JS runtimes do not

[2021-06-03 16:42] rrogowski commented on #388
@fatso83 Thank you for the thoughtful reply! You raise a good point about writing code that does not conform to the spec. I will re-think the code I am writing, which will hopefully make the functionality easier to test. I really appreciate your time on this matter, and I'm happy to close this issue as a non-bug!

[2021-06-03 16:42] #388 closed

[2021-06-09 19:51] minche-tsai opened #389 "Cannot find name 'queueMicrotask'"
node_modules/@sinonjs/fake-timers/types/fake-timers-src.d.ts:11:28 - error TS2304: Cannot find name 'queueMicrotask'.

11     queueMicrotask: typeof queueMicrotask;

-   FakeTimers version : v7.1.2
-   Environment : Typescript 9.1.1
-   Other libraries you are using: jest, aws-sdk-client-mock

The package aws-sdk-client-mock is use sinonjs to mock aws-sdk v3. when I use jest to test have this erro

[2021-06-09 22:06] fatso83 commented on #387
Hi, I never got a reply to this, but it turns out I was wrong. I just searched the code and found it present  - just undocumented (only in JSDoc). See for instance discussion in #233.

The problem is somehow related to the typescript definitions we generated, so you might have better luck installing sinonjs/fake-timers@6 and using the DT @types. We just decided to drop them and leave this to DT th

[2021-06-09 22:08] fatso83 commented on #389
Due to various issues, we have decided to drop the TS definitions, so a short term fix is to just install fake-timers v6 and the types from DT. See also https://github.com/sinonjs/fake-timers/issues/387#issuecomment-858133528.

[2021-06-09 22:08] #389 closed

[2021-06-10 01:24] minche-tsai commented on #389
I has found problem, the queueMicrotask is added in: node.js v11.0.0. But my @types/node is v10.x, so upgrade version was resolved.

[2021-06-16 21:19] stefanschenk opened #390 "Missing information in documentation about shouldAdvanceTime"
-   FakeTimers version : 6.0.1

I am using fake-timers for some time now and I wanted to utilize the `shouldAdvanceTime` option.
But I did not get it to work from the start.

This was my install code;
[code]

According to the documentation, this should work. Set `shouldAdvanceTime` to true and it will use the default time delta of 20ms. However, it would not work. The fake timer was not advancing

[2021-06-18 15:02] fatso83 commented on #390
Spent some time looking into this to understand what was going on. You probably can too, btw, as this entire project is just 1600 lines in total, and is very easy to understand. I merged this feature 4 years ago in https://github.com/sinonjs/fake-timers/commit/3775a00bf1cc91acc11a195a24b35cf14ab1217d, but I never really used it myself, so I was a bit unfamiliar with it and have long since forgotte

[2021-06-18 15:32] fatso83 commented on #390
Fix in place. PR coming up

[2021-06-18 15:35] fatso83 commented on #390
See if #391 does not fix your issue.
- clone this project
- run `npm install && npm link`
- In your own project, do `npm link @sinonjs/fake-timers`

[2021-06-18 16:25] fatso83 commented on #344
@gorankarlic Could you test this on Node 15.7 and see if we are getting closer?

[2021-06-21 09:14] #390 closed

[2021-06-21 09:17] fatso83 commented on #390
Did not hear back, but this should make the actual implementation be in line with the docs, so no doc update needed 😄

[2021-06-21 12:34] stefanschenk commented on #390
@fatso83 Thanks for looking into it and creating a PR in such short time.

[2021-07-15 21:02] unleashy opened #393 "Nested setTimeout inside a setInterval isn't cleared properly"
- FakeTimers version: 7.1.2
- Environment: Latest Chrome on Windows 10 or Node.js 14 on Windows 10

I have a nested setTimeout inside a setInterval, with the timeout being cleared based on an event. Whilst trying to test this behaviour like this:

[code]

It works just fine the first time. But if you repeat this same code twice, it's like the clearTimeout does not actually clear the timeout and it

[2021-07-30 13:56] itayperry commented on #374
https://github.com/sinonjs/fake-timers/blob/604f0909b7023133a66f56b1aba701501dc61992/src/fake-timers-src.js#L1526-L1547

Hi everyone, it took me a while to get to this :)
I looked at the code and it seems like `performance.now()` and a few kinds of `performance.getEntries()` are the significant methods and properties that need to be rewritten. **Is it okay to just change them and leave the rest as

[2021-07-30 14:48] Smrtnyk commented on #374
I do understand that you need to overwrite performance.now() due to timers controll in sync manner, but can you explain why
clock.performance['getEntries'] = NOOP_ARRAY;
clock.performance['getEntriesByName'] = NOOP_ARRAY;
clock.performance['getEntriesByType'] = NOOP_ARRAY;
need to be overriden?
In my case I mock these in my global setup that happens before tests run (they do not give anything in j

[2021-07-30 15:30] itayperry commented on #374
I'm not sure I know why it was done that way, I'm taking a look at the source code and at old PRs and issues to see how it originated :)

[2021-07-30 16:39] Smrtnyk commented on #374
Lets see what owners think.
I do not see the relation between timers and methods that return array of resources from the performance object.
Maybe I am wrong and missing something, so clarification would be nice.

[2021-07-30 18:16] Smrtnyk commented on #374
I can live with installing clock destroying my performance getEntries() mocks as long as I can remock them again after clock install.
I still am not sure why `getEntries` should be affected with the timers, it is just returning an array of performance entries and in case of jsdom it is not defined (hence the reason of my need to mock it).

[2021-08-06 08:02] fatso83 commented on #374
Usually we are not afforded the luxury of knowing why the authors did as they did originally for every line, but it is not very hard to make an educated guess that makes sense when [looking at the code](https://github.com/sinonjs/fake-timers/pull/240/files#diff-3c453e87acf43f6d28cb538a6102bc444c612b188b408f7f3028b2df00f1dc93R853) and considering the context
- you are an author that wants to make s

[2021-08-06 13:27] itayperry commented on #374
Hi @fatso83, thank you for the elaborated and enlightening reply! So, basically.. if we just take and change Performance.now() and take all the other values as they are (instead of replacing them with no-ops) that would be inefficient/unnecessary?

[2021-08-06 15:20] Smrtnyk commented on #374
@fatso83 makes sense, I will remock my performance implementation in the jsdom after clock install as it is not something big of a deal. You can close this ticket here without any changes if you find  it suitable.

[2021-08-11 12:56] fatso83 commented on #374
@Smrtnyk 👍

@itayperry I think you are suggesting to just leave them be, right, if they exist? Not sure why that would be inefficient. Seems like less work to me. TBH, if the functions are there and we do not replace them with something meaningful, I am not sure why we do it at all. Your guess is as good as mine and some quick `git blame` did not make me smarter as to why 🤷

[2021-08-11 13:53] fatso83 commented on #393
Hi, I spent some 30 minutes trying to debug this. Essentially, this is user error; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon) next time, so the bigger community can help answer your questions 😄

The problem is that you have tricked yourself (and me 😸 ) with comments. When it says

[

[2021-08-11 13:53] #393 closed

[2021-08-11 17:04] unleashy commented on #393
Thank you! I am REALLY sorry for causing a long debugging session, I genuinely thought this was a bug in the library and not user error 🙈 But, well, whilst your explanation *makes sense*, is that really how fake-timers *should* work? To me it is not intuitive, at all, that the second setTimeout would be scheduled to run at 21000 because the outer setInterval is scheduled to run at 20000, if the ou

[2021-08-11 18:05] hexeberlin opened #394 "Breaks on Node 16"
Currently, the tests are failing in node 16. Figure out why, fix it, and adjust GitHub actions workflow to use node 16 instead of 10.

[2021-08-11 19:51] fatso83 commented on #393
When you `tick` the clock, fake timers will ensure that the timers are scheduled to run at the times they are supposed to run, not when the tick is "finished". After all, that would make the most sense, if compared to how things work on a "real" timeline: the executions would be spread out according to when they were scheduled.

Not sure I get what you mean here, though:

`setTimeout` _does_ use t

[2021-08-11 20:18] unleashy commented on #393
Ah I see, I get it now. Thank you so much for all the help!! ❤

[2021-08-20 18:04] itayperry commented on #374
Then let's do it maybe? Leave them be and replace all the `noop`s with the original values?
I would have to delete the _should replace the getEntries, getEntriesByX methods with noops that return []_ tests and basically, PR #240 would become irrelevant.

I could do that:
[code]
### It would only **break** one test (`npm run test-headless`) :
https://github.com/sinonjs/fake-timers/blob/ce85feaadc34

[2021-08-23 08:37] fatso83 commented on #374
We no longer support Safari 9, so any code targetting that could be removed. I am not sure about the illegal invocation thing, but it might be a thing native functions have some expectations of _where_ they are being called. So when no longer present on the native `Performance.prototype`, they crap out when "thing x" is not present or something like that.

If calling native implementations on anot

[2021-08-28 12:45] itayperry commented on #374
this blows my mind lol

Ohhh I see, that sounds very neat!

So basically, I'm gonna have to move all the `performance` object code to the `install` function and call it only if it's in the `toFake` array?

As in moving this

https://github.com/sinonjs/fake-timers/blob/ce85feaadc34a354488392b21757d7f09a973e89/src/fake-timers-src.js#L1526-L1547

in here? :

https://github.com/sinonjs/fake-timers/blo

[2021-08-29 21:35] fatso83 commented on #374
Yes, that sounds about right.

Not so strange, though, if comparing to normal JS. You can't just store a method reference and expect it to work when called outside of its original context, unless you explicitly bind it, a la `const myMethod = method.bind(originalObject)`, as all internal references to `this` would be lost. So, quite possible that something similar can happen for other objects and

[2021-08-31 18:47] itayperry commented on #380
I'd be happy to do it - how / where can I get started? I never did this before but it sounds interesting! :)

[2021-08-31 19:38] mantoni commented on #380
I'm actually working on a Mochify rewrite (https://github.com/mantoni/mochify.js has a `rewrite` branch), and the current state seems to work fine. I just don't have enough free time to get it across the finish line.

[2021-09-03 06:50] mantoni commented on #380
@itayperry You could start by checking out this branch and see if you can run Safari tests for fake-timers with it: https://github.com/mantoni/mochify.js/pull/241

[2021-09-03 19:44] itayperry commented on #374
Thank you!

About adding `performance` to the `toFake` array: I've been trying to move this code around..
https://github.com/sinonjs/fake-timers/blob/ce85feaadc34a354488392b21757d7f09a973e89/src/fake-timers-src.js#L1526-L1547
but I don't know how to deal with the fact that `hrTime()` function would be undefined.
Do you have any idea how I could solve it?

If I add a _**test**_ that adds `performan

[2021-09-04 10:56] itayperry commented on #380
Hi @mantoni, I saw that you just merged `rewrite-tests` to `rewrite` branch - which made it easier for me to check out! So thank you - I couldn't find a way to check out an unmerged PR code (I read a guide but had too many issues - https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally - nevermind).

I'll be honest,

[2021-09-04 11:17] mantoni commented on #380
Thanks for looking into it. There is clearly not enough documentation yet. I managed to run tests by invoking the new Mochify CLI locally using a relative path.

However, I will make a `0.1.0` release this afternoon and send a PR here. We can then iterate on that together. It's a lot easier when we have a running example to talk about.

[2021-09-04 11:32] itayperry commented on #380
Sounds great! I'll wait for the PR.
Thank you for being patient and helpful about all of it.

[2021-09-04 19:28] mantoni commented on #380
@itayperry It tried all evening, and it works for Safari, but not for any other browser 🙈. Your help on the above PR and / or the Mochify rewrite would be highly appreciated.

[2021-09-05 08:46] itayperry commented on #380
@mantoni I'd be very happy to help! Where should I start? (I might ask for some help).

[2021-09-05 21:42] fatso83 commented on #374
I'll start with the last question, since that was the strangest one. `performanceNowPresent` is about feature detection in the runtime _in the test suite_. It has nothing to do with what users do or not. Therefore I do not understand how the question makes sense 😄

If what you really mean is the `performancePresent` constant, then that is something else, as that is a flag in the fake timers code i

[2021-09-06 07:10] mantoni commented on #380
I figured it out for this project and have a fix in https://github.com/mantoni/mochify.js/pull/244 (spoiler: there's a very subtle bug in the geckodriver).

I'm happy to provide assistance for anyone who is willing to help. I'm sorry for the lack of documentation. A good way to start is to read through the initial "Mochify Rewrite" issue: https://github.com/mantoni/mochify.js/issues/229

Issues fo

[2021-09-06 15:22] itayperry commented on #374
Thank you so much for taking the time to reply so extensively - there are clearly a lot more things that I should learn about the project, I do not wish to burden members and to be too much in need of hand-holding (although it's exactly what I'm doing, I'm afraid). TBH - understanding most of the code (or what's happening in general) is way harder than I thought - but I still wanna try and resolve

[2021-09-06 17:58] fatso83 commented on #374
You have to start somewhere 🙂 I haven't written more than a tiny subset, mostly bug fixes, and I need to reacquaint myself every time. Luckily, it's relatively little code and pretty straightforward. You just need a lot of jumping back and forth 😉

I don't understand the need to move hrtime anywhere. It's used to setup the clock and the toFake array is separate from this. It's all about this tiny

[2021-09-06 21:28] itayperry commented on #374
That's **_part_** of the code I wanted to move **into the loop**:

https://github.com/sinonjs/fake-timers/blob/ce85feaadc34a354488392b21757d7f09a973e89/src/fake-timers-src.js#L1542-L1546

But from what I understand this (specifically) shouldn't be moved? const `hrt = hrtime();` is what drove me crazy lol

[2021-09-07 09:07] fatso83 commented on #374
I do not understand why it needs to be moved. Especially into the loop. We have to distinct phases
1. Creation of the clock. Here we create timers that might or might not be used.
2. Hijacking of the various timer methods. Here you check which timers are available and only install the ones that are.

So your only changes would need be in the loop (or after it), AFAIK. Just check if `toFake` contai

[2021-09-08 00:36] itayperry commented on #374
Thank you :)

That's the change in `createClock()` function (`clock.performance.now` stays):

[code]

that's the addition to the loop in the `install()` function:

                if (
                    clock.methods[i] === "performance" &&
                    hasPerformancePrototype
                ) {
                    var proto = _global.Performance.prototype;

                    Object.ge

[2021-09-08 13:24] fatso83 commented on #374
I think this seems to make sense. One could argue whether it makes sense to have a field called `methods` on Clock, if it actually does not contain methods, but more like  an array of "mockables" that might or might not be timers and just as well might refer to an object in the global scope.

To make the logic a bit clearer, I think I would move all of that outside the loop and just do something l

[2021-09-08 21:22] itayperry commented on #374
I didn't know I could color my code (like in Stack Overflow), thank you for showing me that this feature exists!!

I thought about it too! Perhaps I should change the name someday?

If you're asking that it probably means I still didn't do it right.. and that I don't understand exactly what's happening.
I saw that if I don't exclude `now` it overrides this code (inside `createClock()`):
[code]
and

[2021-09-08 22:13] itayperry commented on #374
ohhh `FakeTimers.install({ toFake: anything });` should always still replace global `performance.now` right?? In that case, no wonder all tests pass lol I never checked what happens to `performance.now` when a user does not include `performance` in the `toFake` array but `performanceNowPresent` is `true`. Did I finally get it now?

[2021-09-11 08:38] fatso83 commented on #374
I don't have the answers in my head, so I needed to examine the code to answer you 😄. That's why it took some time.

As you see in the code, when `toFake` is empty, the default is to add all timers known to us, by looping through the `timers` field:
https://github.com/sinonjs/fake-timers/blob/ce85feaadc34a354488392b21757d7f09a973e89/src/fake-timers-src.js#L1598
Among which are `performance`:
https

[2021-09-11 10:57] itayperry commented on #374
**Thank you** @fatso83 :)

A good time to ask you - how do you use your local copy of `fake-timers`? I usually start a new `Node Server` project and use `npm-link` or currently just a `React` project with a package that allows imports outside of `src`.

I checked it now as well, and I can see that `performance.now` isn't being hijacked if not in the `toFake` array (and the `toFake` array isn't emp

[2021-09-11 22:29] fatso83 commented on #374
Yes it is

[2021-09-15 05:29] alexgurr commented on #243
I am still having this issue within my jest/node environment when running `clock.uninstall()`

`Cannot set property performance of [object Object] which has only a getter`

At code:

[code]

[2021-09-15 05:32] alexgurr opened #396 "TypeError: Cannot set property performance of [object Object] which has only a getter"
-   FakeTimers version : 7.1.2
-   Environment : node 15.4
-   Other libraries you are using: jest

**What did you expect to happen?**
Code doesn't throw an error.

**What actually happens**
Code throws an error

[code]

**How to reproduce**

[code]

[2021-09-15 09:29] fatso83 commented on #396
Hi, this snippet is not runnable at all. Would you make it possible for me to create a snippet that is runnable to get the error you present? I would assume that trimming it down the the following is sufficient?

[code]

Then just do `jest my-breaking.test.js`? Make it simple to look at and someone might will :smile:

[2021-09-16 00:07] alexgurr commented on #396
Yep, this should be fine.

[2021-09-16 12:55] fatso83 commented on #396
No, that's was not enough.
Doing `npx jest` gave me this:
[code]

[2021-09-19 12:42] alexgurr commented on #396
I mean, 2 seconds to use a tiny bit of common sense and switch the import to a require (I'm in a Babel environment and you're directly running with node.

`const faketimers = require('fake-timers');`

[2021-09-24 12:32] fatso83 commented on #396
Not reproducible.

Standalone case
[code]

[2021-09-24 12:32] #396 closed

[2021-09-24 12:35] fatso83 commented on #396
That was with Node v16. The first case was with the latest v7 of fake-timers and the latest was first done using whatever shipped with Jest (v6.2), and I then redid it using the latest v7 by installing it afterwards and rerunning.

Can reopen if you can provide a reproducible test case.

[2021-09-24 12:58] fatso83 commented on #394
@mroderick Thoughts on this? Just came across this. Might tangentially touch work currently done by @itayperry .

[2021-09-24 15:00] benjamingr commented on #394
Node.js 16 has global `performance` so it makes sense it's behaving differently than older versions here.

[2021-09-24 15:56] fatso83 commented on #394
What does that mean? Does it means it is not present on `global` anymore? We detect its presence before installing the timers on Node 16 as well, so not really getting it.

[2021-09-28 07:54] mroderick commented on #394
In node 16

[code]

[2021-09-28 08:11] mroderick commented on #394
@hexeberlin and I made all the sinon repositories use GitHub Actions in the same day. In the parent commit b3557efac80a77780eb2349f8313d074ef7d4149, you can see this. Unfortunately, we couldn't run the `fake-timers` tests in Node 16, so we settled for 10-14 and filed a bug to fix it later.

[2021-09-28 09:09] itayperry commented on #394
This returns `true` today when running the test that @fatso83 has mentioned:
https://github.com/sinonjs/fake-timers/blob/93f3f626593f646535d1045fcb517cb6a107253f/src/fake-timers-src.js#L154-L156

'undefined'

Was it available on node 14 and deleted on node 16...? (I don't really get it).
@benjamingr

[2021-10-21 16:08] JadenSimon opened #406 "`clearTimeout` will not clear timers created prior to clock installation"
-   FakeTimers version : 8.0.1
-   Environment : node12, macOS Catalina 10.15.7
-   Other libraries you are using: [several](https://github.com/aws/aws-toolkit-vscode/blob/b5af3c53d6720bca08ad603c5e08d30ed5b63804/package.json#L2333), this is happening in tests for a VS Code extension

**What did you expect to happen?**
`clearTimeout` to clear timers even if they weren't created with the mock.

**W

[2021-11-03 13:57] fatso83 commented on #406
Closed by #407

[2021-11-03 13:58] #406 closed

[2021-11-03 13:59] fatso83 commented on #394
@itayperry The stuff you did in #400 seemed to touch upon this. Want to merge that before we look more into this?

[2021-11-03 14:20] fatso83 commented on #344
Problem not seen in:
- Node 10
- Node 12
- Node 14.15.4
Problem seen in:
- Node 14.18.0
- Node 15.14.0

I now tried to see if I could understand how to expose the internals, but I was not successful:
[code]
The `breaks.js` file is the reproducible snippet given in the original issue.  The ` -r internal/test/binding` bit is just something I took from the https://github.com/nodejs/node/pull/36872 PR

[2021-11-03 19:34] synaestheory commented on #394
The major difference between node 14 and node 16 appears to be the introduction of [global.performance](https://nodejs.org/docs/latest-v16.x/api/globals.html#performance) in v16.

In v14, [performancePresent](https://github.com/sinonjs/fake-timers/blob/93f3f626593f646535d1045fcb517cb6a107253f/src/fake-timers-src.js#L152) resolves to `undefined` but in v16 it resolves to `true`.

One other delta th

[2021-11-04 02:30] fatso83 opened #408 "Missing hasRef for Node"
Just realized we are missing hasRef on our NodeTimer (since v11). Ref https://nodejs.org/api/timers.html#immediatehasref

[2021-11-04 02:43] fatso83 opened #409 "Update docs for toFake"
Just a quick note on my phone after reviewing a DT update: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56961#pullrequestreview-797296492

We are missing the recent change to toFake. It now supports "performance".

[2021-11-04 07:50] benjamingr commented on #344
I think the point of `-r internal/test/binding` is that it exposes a `primordials` global object with access to all the primordials (the locked object) - in our case we would need to check (and mock) `globalThis.primordials.Date` presumably.

[2021-11-04 09:31] fatso83 commented on #344
That was more promising. Thanks, Ben.
[code]

[2021-11-04 11:02] benjamingr commented on #344
The primordial itself is not but its properties are. Nothing is stopping us from doing this for example:

[code]

[2021-11-04 14:53] fatso83 commented on #344
Yeah, but in the case of this exact issue, it seems that it is the Date constructor the code supplied by @gorankarlic depends upon, so we are kind of screwed. Not a huge loss IMHO: we can never guarantee that modules outside of our control does not hold an internal reference to the original Date object, which is what is going on here anyway.

[2021-11-04 16:37] benjamingr commented on #344
But I think we can override the methods called after `new Date()` which are called (like toUTCString() and valueOf()) instead can't we?

[2021-11-05 00:22] fatso83 commented on #344
Aha ... true. There are more ways to skin a cat, obviously 😄 We cannot have our cake, but we can probably eat it anyway, etc, etc..

With regards to the [current http implementation](https://github.com/nodejs/node/blob/a75d4e272481dfaa1353a063a27baf035a6cc37a/lib/internal/http.js#L28), just `primordials.Date.prototype.toUTCString = function(){ return 'foo' }` probably won't fly. Node `http` caches

[2021-11-05 17:51] benjamingr commented on #344
I can just make a PR to node to not do [this](https://github.com/nodejs/node/blob/fa0c6883a65737e0135b107f5e886acbdfb89ec5/lib/internal/per_context/primordials.js#L424) when the --expose-primordials flag is set probably?

[2021-11-05 18:05] benjamingr commented on #344
Let's see how it goes https://github.com/nodejs/node/pull/40733

[2021-11-06 19:24] itayperry commented on #394
@fatso83

Yes, of course! I'd be happy to do it :) I'll speed it up.

[2021-11-26 12:34] arthurwolf commented on #229
Is there any chance we could get the (lolex) code in the stress test above, a 10x change in lolex excution would change my life, even if I have to go bug-hunting. Any help extremely appreciated.
@fatfisz

[2021-11-26 12:37] arthurwolf commented on #159
Anyone make any progress on this? Lolex is spending way too much time iterating over arrays, and I would love some kind of solution...

![Screenshot from 2021-11-26 13-37-21](https://user-images.githubusercontent.com/108821/143582189-45705534-27b3-45c8-a3d3-ef52ff28d8ab.png)

[2021-11-28 21:06] fatso83 commented on #159
@arthurwolf Not anyone we know of 😉 As you see from this discussion we are more than willing to accept PRs, and the discussion here already outlines the general solution. We just need to test it thoroughly.

[2021-11-28 21:19] fatso83 commented on #229
Same answer as #159 . Just have a look at a suitable priority queue and see if you can make it work. Ask questions that are not already answered by these two issues.

[2021-11-28 22:33] arthurwolf commented on #229
@fatso83 I actually found https://github.com/akhilkedia/lolex-queue/blob/master/fast-lolex.js and got it to work for my needs (the tick() method wasn't implemented (only next() was), and a few other methods it depends on, I implemented it, and it's now over 10 times faster.

[2021-11-29 05:52] benjamingr commented on #229
@arthurwolf I had a branch with fake-timers using a priority queue but https://github.com/sinonjs/fake-timers/issues/159#issuecomment-390140199

[2021-11-29 09:56] arthurwolf commented on #229
For the "it was never slow for me", it definitely was for me (used to run a
trading bot in "backtesting" mode instead of it's normal "live" mode, so
spending a lot of time within lolex).
About we don't have benchmarks, any timing will show a big difference
between the two methods. The code I forked from (lolex-fast.js) even
provides a testing script in their repo.

On Mon, Nov 29, 2021 at 6:52 AM

[2021-12-22 14:22] Niryo opened #410 "Sinon fails to uninstall clock when using jest.fakeTimers()"
I am using both Sinon  clock and `jest.useFakeTimers` for legacy reasons, and I am getting an error while trying to uninstall sinon clock: `TypeError: _global.setInterval is not a function` after enabling `jest.useFakeTimers()` during some test.
I know that it's a bit fucked up to use both sinon and jest.useFakeTimers, but anyways I think that sinon should handle this situation gracefully.

-   Fa

[2021-12-22 23:57] SimenB commented on #410
Note that Jest ships with `@sinonjs/fake-timers` if you use "modern" fake timers (default in v27), and mixing them is not supported. You should use one or the other.

[2021-12-23 11:48] Niryo commented on #410
I know, the issue is that I am working on a big code base and I want to add the fake timers to global beforeEach, but we have lot's of legacy tests that still use jest.fakeTimers. I know it's not a good practice to mix those two, but maybe we could still handle the collision gracefully.

[2021-12-23 16:14] fatso83 commented on #410
Hi, @Niryo . If you want us to have a look at this you need to provide us with a better reproduction case, such as the versions used. It is unclear if you are using "old" Jest timers or the new, for instance. The optimal thing would be if you created a small repo that had a `package.json`, a code file that demonstrated the issue and a NPM `test` script that would then fail when invoked.  If you li

[2021-12-23 16:41] fatso83 commented on #409
Heh, seems I forgot to close this after fixing it in https://github.com/sinonjs/fake-timers/commit/a13a0540e6a2f8ea641b3613167fc98a71137a6f

[2021-12-23 16:41] #409 closed

[2021-12-23 16:42] fatso83 commented on #394
@itayperry Any chances of you looking into this? Seems you already did all the work 😄

[2021-12-23 17:06] Niryo commented on #410
tested on jest 26.6.3: (it actually works with jest 27, i'll check if I can update our legacy tests to jest 27)
minimal repo: https://github.com/Niryo/sinon-fake-timers-bug/tree/main

[2021-12-24 13:03] benjamingr commented on #410
I don't think fake-timers makes any guarantees when other code that mocks timers is run.

I think the best we should do is warn when fake-timers are overridden but I guess "PRs welcome" :)

@Niryo just guessing by the name but if you are local and want to write a PR feel free to reach out on FB/whatsapp and I will happily guide you on how to fix this.

[2021-12-24 21:10] Niryo commented on #410
@benjamingr thanks:) i'll ping you if i'll have time to create a PR. But actually as long as sinon works with the latest jest version, it makes this issue quite low priority I guess. I leave it to you guys if you want to keep this issue open or not. thanks!

[2021-12-25 13:10] fatso83 commented on #410
Was thinking the same. If this works with Jest 27 and not with Jest 26, it's probably good. My guess is that Jest 26 imports another version of fake-timers (I loss the lolex name), whereas Jest 27 uses the same and somehow accesses the same global or something.

In any case, closing, but I can have a new look if it should resurface later! Just reopen.

[2021-12-25 14:38] SimenB commented on #410
26 (by default) uses its own implementation and the one using Lolex is opt-in via `jest.useFakeTimere('modern')`. In v27 "modern" is the default

[2021-12-27 12:15] #410 closed

[2021-12-28 08:32] itayperry commented on #394
@fatso83
On it :) I'll probably ask for some advice, I remember there were issues with `performance.mark`.
I'm looking into this 👾

[2022-01-04 01:57] tomoima525 commented on #389
@minche-tsai

this resolved the issue, thanks!

[2022-01-07 16:20] niekcandaele commented on #343
Hi everyone

Sorry for necro posting. I stumbled on this issue while trying to use fake-timers for some async stuff myself and had missed that there were async versions of the functions.

I made a small PR to adjust that one problematic sentence in the README, hopefully this will help other people find a solution quicker in the future.

--------------

As an outsider to this repo, I'd like to say

[2022-01-15 21:41] itayperry commented on #394
Hi, I don't know if I'm doing this right.. but I'm using `nvm`, and when I try `nvm use 14` or `nvm use 15` everything works - when I try `nvm use 16`  I don't get 3 failed tests but **67** failed tests.

`npm run test-node`:

![image](https://user-images.githubusercontent.com/37377389/149638530-12d9eabb-4f70-4f24-91c5-a59286fd6191.png)

I guess I'm doing something wrong.

[2022-01-19 14:59] fatso83 commented on #344
This seems like something we cannot fix ourselves, @gorankarlic. Ref https://github.com/nodejs/node/pull/40733#issuecomment-1016522091

[2022-01-25 20:17] itayperry commented on #394
About these 2 tests:
a) https://github.com/sinonjs/fake-timers/blob/1b1ac4a781c57498b8aa9015c6448bd02e54830c/test/fake-timers-test.js#L3758
b) https://github.com/sinonjs/fake-timers/blob/1b1ac4a781c57498b8aa9015c6448bd02e54830c/test/fake-timers-test.js#L3778

They both use `Performance` (to be more accurate `Performance.prototype`) which does not exist in `Node 16`+.
I did a small research and fou

[2022-01-25 22:23] msluther commented on #394
I made a stupid workaround that _happens_ to work in my particular use case if anyone else is hitting this issue and wants to give it a try. I basically just made my own global fake `Performance` class and proxied to `performance`. It's dirty and hacky but it allowed my tests to continue working and I'm not blocked on upgrading to node@16.

I've got this in my unit test setup that gets pulled in p

[2022-01-26 08:57] benjamingr commented on #394
Hey sorry this has been open for a while and I need this to work in my project so I'm going to go ahead and fix it - let me know if you want to sync on other stuff to work on.

[2022-01-26 09:13] itayperry commented on #394
@benjamingr
It would take me much longer than it took you to resolve it, so I get it. It's ok 🌼
Plus, I didn't know if it were right to skip these 2 tests I was writing about..

Anyway, thank you for your help!!

[2022-01-28 12:02] benjamingr opened #418 "New missing APIs"
There are a few things missing in fake-timers we need to add for Node 17 and for new browser APIs namely:

 - We're missing mocking of timers/promises and scheduler.wait (in timers/promises)
 - We're missing Symbol.toPrimitive on Node timers (right?)
 - We're missing scheduler.postTask with a delay

None of these new APIs are particularly hard to mock but I haven't had a chance to look at them yet

[2022-01-28 12:02] benjamingr commented on #394
Can be closed :)

[2022-01-28 12:02] #394 closed

[2022-01-28 12:04] benjamingr commented on #114
I think this can be closed since async tick methods cover this (waiting for microtasks) in practice and it's been very hard to do consistently at the platform level.

[2022-01-28 12:04] #114 closed

[2022-01-28 12:05] fatso83 commented on #418
I think point two is done. At least I think I had something to do with it:
[code]

[2022-01-28 12:06] fatso83 commented on #418
What is point one about? Like some example code would help my feeble mind.

[2022-01-28 12:08] fatso83 commented on #114
What is lacking (as always) is some good tutorials/docs on how to do this in practice. We could stuff it in the How-To section of the main Sinon homepage. https://sinonjs.org/how-to/

[2022-01-28 12:37] SimenB commented on #418
`import {setTimeout} from 'timers/promise'`

[2022-01-28 12:37] SimenB commented on #418
not sure if it's possible to mock? unless it's also available somewhere globally so we can replace it

[2022-01-28 12:45] fatso83 commented on #418
That was new. Thanks.

[2022-01-28 13:26] benjamingr commented on #418
Seems posible @SimenB

[code]

(Of course, it should return a promise and probably just reuse the `util.promisify` version - this is just to show it's mockable)

[2022-01-28 14:30] SimenB commented on #418
ESM as well? But that's promising? 😃

[2022-01-31 21:20] msluther commented on #394
It looks like this will need to be bumped over in [`nise`](https://github.com/sinonjs/nise) as well as I am still hitting this issue using fake timers via sinon. I'll open an issue there.

[code]

[2022-02-01 18:20] msluther commented on #394
Hrm. So, the fix works but makes the assumption that the functions on `global.Performance.prototype` are a superset of `global.performance.*` functions. This is currently not the case when using `node@16` and `jsdom`. [`jsdom` is injecting](https://github.com/jsdom/jsdom/blob/master/lib/jsdom/browser/Window.js#L340) a `global.Performance` object based on the minimal W3C spec for [`hr-time`](https:

[2022-02-01 18:49] benjamingr commented on #394
@msluther to understand your use case better - you are using a library (e.g. for testing) that sets your global object to a JSDom window?

If so - I think it's probably reasonable to account for then yes - can you open a separate issue?

[2022-02-01 18:55] msluther commented on #394
Yep, thats correct its basically this in my test setup: `require('global-jsdom/register')` and that ends up with the minimal version of global.Performance type, but leaves `global.performance`.  I'll open another issue.  Thanks

[2022-02-01 19:24] msluther opened #420 "`performance.mark` doesn't exist in node@16 when using jsdom globals"
-   FakeTimers version : `@sinonjs/fake-timers@9.0.0`
-   Environment : node@16
-   Example URL : Minimal repro: https://github.com/msluther/sinon-timers-jsdom-bug
-   Other libraries you are using: `global-jsdom`

**What did you expect to happen?**

`performance.mark` is a function

**What actually happens**

`performance.mark` is undefined

**How to reproduce**

Minimal repro is available here:

[2022-02-01 20:04] benjamingr commented on #420
While it's not strictly a bug I think it's very reasonable to support this use case and the fix shouldn't be too hard.

[2022-02-10 08:22] gorankarlic commented on #344
Thank you for trying hard to fix this & sorry for the late reply.

It seems the only way forward is to ignore the HTTP `Date` header.

IMHO it's very sad that NodeJS has sacrificed it's original, simple and beautiful idea - i.e. expose the POSIX API to ECMAScript - to such an extent that AFAIK now blatantly violates ECMAScript itself in that modifying a prototype is not possible and/or does not re

[2022-02-13 19:27] rluvaton opened #422 "When `shouldAdvanceTime: true` and doing some synchronous work, time should still pass"
-   FakeTimers version : 9.1.0
-   Environment : macOS Moterey 12.2.1
-   Example URL :
-   Other libraries you are using: `tap`

**What did you expect to happen?**

Time should still pass even when doing synchronous work

**What actually happens**
time is not updating

**How to reproduce**

Added test case in #423

[2022-02-13 20:22] rluvaton commented on #422
Never mind:

It stated at the docs how it's implemented which means `setImmediate` won't be called when sync code is running because of how the event loop works...

[2022-02-13 20:22] #422 closed

[2022-04-13 07:26] fatso83 opened #427 "Test suite is not runnable in Node >= 16: Performance is not defined"
**What did you expect to happen?**
`npm test` should run successfully

**What actually happens**
[code]

**How to reproduce**
[code]

[2022-04-13 13:50] SimenB commented on #427
Not fixed by #412?

[2022-04-18 04:38] fatso83 commented on #427
Indeed it is. So strange. Must be some random black hole of time where my git repo was morphed into some old version. Also called not pulling in latest changes (but I must have done that, which makes everything even stranger). Oh well.

[2022-04-18 04:38] #427 closed

[2022-04-19 11:39] Zomono opened #503 "Proposal: Fix async functions not executed in time when ticking a fake clock forward"
**Is your feature request related to a problem? Please describe.**

I had some trouble with async function calls submitted to setTimeout/setImmediate/setInterval when using faked timers, and it seems that I am not the only one. The problem is that methods like tick and even tickAsync do sometimes return even before the scheduled callbacks have finished.
So it is not possible to have a reproducible

[2022-05-20 12:58] Xiaosha61 opened #429 "Feature: clear all Timers when doing restore"
-   FakeTimers version : _please verify that the bug exists in the latest FakeTimers release_ 9.0.11
-   Environment :  node 16.14.2
-   Example URL :
-   Other libraries you are using: mocha for showing the behavior.

**What did you expect to happen?**

When I start to useFakeTimers, all global Timer functions in Node will be replaced by Sinon, including the clear methods. It means if the Timers

[2022-05-21 22:09] fatso83 commented on #429
Thanks for chiming in 🙂
I have tried reading this issue multiple times, but I am still not sure what the problem is. What is it that is not working or that you would like to have changed?

AFAIK, when calling restore() on a sandbox that will implicitly invoke the restore method of the installed clock, thus removing all pending timers as a side effect. There should be nothing else to clear in other

[2022-05-23 12:50] Xiaosha61 commented on #429
Thanks @fatso83 for responding so fast.
just to be sure I get it right

This means all running Timers should be stopped and not continue the tasks if sandbox.restore is called, right? I wrote some small tests to make it a bit more clear [here](https://github.com/Xiaosha61/useFakeTimersDemo/blob/main/test/demo.spec.ts#L27).
I try to implement what I had in mind to hopefully help explaining, would l

[2022-05-24 13:48] fatso83 commented on #429
Yes, that should be right.

Very smart, I took the tip of Sinon's original author Christian Johansen [in his TDD book on JS ](https://www.tddjs.com/) and created a repo for learning tests years ago. Very nice for solidifying understanding.

[2022-05-24 13:59] fatso83 commented on #429
Not sure what you intend to achieve by that `ClearableSinon` wrapper.

When you call `sinon.restore()` or `sandbox.restore()` you call the [Sandbox#restore method, which in turns calls clock.uninstall()](https://github.com/sinonjs/sinon/blob/main/lib/sinon/sandbox.js#L187).

The clock simply clears stubbed timers and date constructors and [returns the list of pending timers](https://github.com/sin

[2022-05-24 19:32] Xiaosha61 commented on #429
https://runkit.com/xiaosha/628d2d19e3e2060008656cd5
I try to make 2 tests, one with original sinon, the second clearable sinon. Both do the same steps, and assert same expectation, while the first will fail but second pass.
The only difference is ClearableSinon does some more thing during restore.

[2022-05-25 12:56] fatso83 commented on #429
Ah, now I get you. There is a bit of an unfortunate overloading of terms here: "clearing" is not "clearing" :)

If you look at the source links above (which I did to understand how your code worked as it did) you will see that `fake-timers` just returns `clock.timers` to the caller on unstall. It _does not remove_ the scheduled timed executions.

That means, when you have a reference to `clock`, i

[2022-05-25 12:56] #429 closed

[2022-05-31 15:22] Eomm opened #430 "ERR_PERFORMANCE_INVALID_TIMESTAMP triggered by tickAsync"
-   FakeTimers version : 9.1.2
-   Environment : node v16.13
-   Example URL : see below
-   Other libraries you are using: N/A

**What did you expect to happen?**

The `tickAsync`'s call does not trigger an error and modifies the process timer.

**What actually happens**

An error is thrown:

[code]

**How to reproduce**

[code]

[2022-05-31 16:06] fatso83 commented on #430
Lolex fakes the `performance` timers by default. If you do not want that, then specify what you what in the `toFake` parameter. See the [docs](https://github.com/sinonjs/fake-timers#var-clock--faketimersinstallconfig)

[2022-05-31 16:06] #430 closed

[2022-06-02 10:24] fatso83 commented on #430
AFAIK, you are mixing real and fake versions of the same APIs. Expecting them to work together is unreasonable: it is either/or. In one world you are dealing with a clock set to 1970 and in the other you are dealing with a constantly changing clock and you are then expecting timers living in one world to create timestamps that are valid in the other. This is not something I can see how we could re

[2022-06-14 13:14] mansona opened #432 "Event timeStamp not using fake-timers"
-   FakeTimers version : latest
-   Environment : Browser
-   Example URL : https://github.com/sinonjs/fake-timers/pull/433
-   Other libraries you are using: none

**What did you expect to happen?**

I'm trying to create 2 events with a certain time between them:

[code]
and then if I checked the difference of those timestamps I was expecting that they be exactly 70ms apart:

[code]

**What actua

[2022-06-14 15:22] fatso83 commented on #432
Oooh, I wonder if we are able to fix that. If they maintain a reference to an internal clock, the answer is no.

[2022-06-14 15:58] mansona commented on #432
well that's exactly why I asked here @fatso83 😂 I figured someone might be able to shed some light on it. I was trying to find some details on how that timeStamp is generated online but I kinda don't know what I'm looking for and didn't get very far 😞

[2022-06-17 19:33] fatso83 commented on #432
I would say that faking UI event code in the browser is actually not a core feature of `fake-timers`, so not sure we should spend time implement it, but I think this is a pretty valid use case we could at least document how one could implement. I had never heard of it, so I researched this a bit on MDN and it seems that KeyboardEvent < UIEvent < Event and the [`timeStamp` comes from the top of the

[2022-07-11 17:21] xenoterracide opened #435 "missing dependency?"
seems all of my `globalthis` types, I think it's a missing dependency. I'm not actually using faketimers directly

[code]

[code]

[code]

I'm a bit baffled as this only started happening after I pulled sinon into a new workspace in our repo. So I suspect that workspace must be missing some types but what/why.

I did try adding `@types/sinonjs__fake-timers`, we don't even have fake timers used any

[2022-07-12 07:19] benjamingr commented on #435
What if you add @types/node?

[2022-07-12 20:33] #435 closed

[2022-08-14 16:40] #374 closed

[2022-08-15 12:21] Oustinger opened #437 "ClockDate class overwrite prototype of instance"
ClockDate class overwrite prototype of instance.
In my real project it happens when I use datepicker library (@eonasdan/tempus-dominus).

-   FakeTimers version : 9.1.2
-   Environment : Opera 89.0.4447.64, Windows 10
-   Example URL : [repository](https://github.com/Oustinger/test_fake-timers_lib)
-   Other libraries you are using: -

**What did you expect to happen?**
I expected to receive insta

[2022-08-15 14:50] benjamingr commented on #437
This is probably a bug because when you `new` something in JS and return something different from the constructor - it will return that thing.

[code]

We should probably fix the code to not do that _or_ call `Reflect.construct(new.target)` instead of assuming we have a `NativeDate`.

[2022-08-16 10:56] fatso83 commented on #437
Where do we do that? I could not see this happening in the example code.

[2022-08-16 11:19] benjamingr commented on #437
Our `ClockDate` function doesn't use `this` and instead has a return value even for the case it doesn't return a native date.

[2022-08-18 10:44] fatso83 commented on #437
@Oustinger The quickest path to seeing a patch commit for this is probably submit a small PR with a regression test. I can make a release quick, but I do not have time atm to debug, fix and verify this.

[2022-08-19 05:53] Oustinger commented on #437
@fatso83 I would do that. But I couldn't find a place to fix on my own.

[2022-08-19 05:55] fatso83 commented on #437
No one would expect you to 🙂 I certainly did not. Do you think you have the hints you need?

[2022-08-19 06:38] Oustinger commented on #437
Where is a place in code, where new date's prototype becomes equal to ClockDate?
My debugger can't go deeper [this line](https://github.com/sinonjs/fake-timers/blob/main/src/fake-timers-src.js#L458). What is going on after that?

[2022-08-19 08:00] fatso83 commented on #437
You cannot get deeper than that function, but the setup of the prototype happens before that

https://github.com/sinonjs/fake-timers/blob/main/src/fake-timers-src.js#L446-L489 covers all the return bits where we create `NativeDate` instances and line 491 is where return our own mirrored constructor. That function call [sets up the prototype](https://github.com/sinonjs/fake-timers/blob/62ad45cfa047

[2022-10-20 00:34] jonathanschoeller opened #438 "TypeError while initializing in Node 19"
-   FakeTimers version : `9.1.2`
-   Environment : `node:19.0-alpine@sha256:48e43334c84762aa05c18dac37ec5ca396e9d55c5cb053f15cd4edbfe89a0914` (not reproducible in `node:18.11-alpine`)
-   Example URL : N/A
-   Other libraries you are using: `@jest/fake-timers`

**What did you expect to happen?**
The code below to execute without throwing an exception.

**What actually happens**
An exception is thr

[2022-10-20 00:40] jonathanschoeller commented on #438
I appreciate that node 19 is just barely a day old and it's expected that things might not be compatible at first. 😄

[2022-10-22 08:20] benjamingr commented on #438
Hey, this looks like a pretty simple fix - would you be interested in contributing a PR?

[2022-10-22 08:32] SimenB commented on #438
I was unable to reproduce it here in `@sinonjs/fake-timers`, so I ended up hacking around it in Jest: https://github.com/facebook/jest/pull/13467

Would love for it to be a fix here though, so I can revert that PR 🙂

[2022-11-02 18:43] mroderick opened #441 "Test failing since Node 18.8.0"
While working on #439 and #440 with @hexeberlin, we discovered that one unit test is failing since Node 18.8.0

[code]

#### How to reproduce

1. `nmv install 18.7`
2. `npm run test-node`
3. Observe all tests pass
1. `nvm install 18.8`
4. `npm run test-node`
5. Observe one test fails

Since this library is downloaded more ~19M times/month and Node 18 has been out for about a month and we have yet

[2022-11-11 11:34] SimenB commented on #438
@jonathanschoeller I'm unable to reproduce the issue with your snippet, could you verify?

[2022-11-13 22:21] jonathanschoeller commented on #438
@SimenB I can't seem to reproduce the issue now either. I must have had some other environment details I didn't record. Happy to close this off. Thanks for having a look.

[2022-11-13 22:21] #438 closed

[2022-11-18 05:58] erichosick opened #449 "The `shouldAdvanceTime` option seems to cause Jest Test environment to clear during the test"
The `shouldAdvanceTime` option seems to cause Jest Test environment to clear during the test.

-   FakeTimers version : 9.1.2 as a dependency of @jest/fake-timers@29.3.1
-   Environment : MacOS, Jest
-   Example URL : None (Testing in Jest)
-   Other libraries you are using: [postgres.js](https://github.com/porsager/postgres)

**What did you expect to happen?**

As expected, not calling `jest.useF

[2022-11-18 09:13] SimenB commented on #449
can you put together a reproduction? `setImmediate` is only available in Node env, so I assume the issue is simply that you are using JSDOM env. Hard to say without a reproduction, tho 🙂

[2022-11-18 09:18] fatso83 commented on #449
Yeah, I have been looking at this for the last ten minutes and think it comes down to something related to what @SimenB says. Hard to look into without a repro.

If you look for `setImmediatePresent` in the code, you will see that that timer is only ever added if it is present in the environment, advancing timers or not: https://github.com/sinonjs/fake-timers/blob/main/src/fake-timers-src.js#L998.

[2022-11-18 17:34] erichosick commented on #449
yep. I updated the jest.config.ts and things started to work.

[code]
Thank you!

[2022-11-18 17:37] erichosick commented on #449
Thank you again!

[2022-11-18 17:37] #449 closed

[2022-11-19 00:14] guillaumeduboc opened #450 "`runToLastAsync` doing infinite loop when `now` is specified to setup clock"
While working on https://github.com/vitest-dev/vitest/pull/2209 I have an issue with `runToLastAsync` doing an infinite loop
Below you can find a minimal test to reproduce the issue

-   FakeTimers version : 9.1.2
-   Environment : MACOS
-   Example URL : a minimial reproduction test

-   Other libraries you are using: none

**What did you expect to happen?**
An infinite loop shouldn't be possible

[2022-11-21 08:17] CreativeTechGuy opened #452 "[Feature] Jump forward in time to simulate throttled timers"
-   FakeTimers version : 10.0.0
-   Environment : Jest/JSDOM
-   Example URL : N/A
-   Other libraries you are using: N/A

**What did you expect to happen?**

I expected there would be an API to enable skipping forward in time in a similar way that [browsers will throttle a `setInterval` when the page is backgrounded](https://developer.chrome.com/blog/timer-throttling-in-chrome-88/). That is to sa

[2022-11-21 11:35] fatso83 commented on #441
Looking into this. Seems to be some kind of weird runtime issue:
![image](https://user-images.githubusercontent.com/618076/203041065-ad2eb760-9572-4df7-9baf-bb6a8298d75d.png)

Essentially, if _I_ configure the property descriptor in a debugger with the line from the code, it works. If it is just Node running on its own, it has no effect and fails.

[code]

[2022-11-21 11:37] fatso83 commented on #441
Ha, no, this is just about spelling! I corrected the spelling when doing this. The prop is called `writable`, but we have used `writeable` :rofl:

[2022-11-21 11:43] #441 closed

[2022-11-21 11:44] #450 closed

[2022-11-22 16:14] fatso83 commented on #358
This is actually mostly done in #421, but requires some debugging to fix the broken tests

[2022-11-22 16:15] fatso83 commented on #380
Getting this over the finish line is basically #395, for anyone interested.

[2022-11-22 21:34] CreativeTechGuy commented on #452
Yeah happy to give a concrete example. This is simplified for discussion purposes, but hopefully you can see how this will apply in a lot of different ways to more complex applications.

Let's say I have a game that progresses days in-game every X milliseconds. So my code looks something like this:

[code]

This code works by checking if the elapsed time is greater or equal to the amount of time p

[2022-11-24 07:42] CreativeTechGuy commented on #452
In trying to unblock myself, I found a really hacky way to get the behavior I'm looking for. It is *possible* to do in userland but is relying on undocumented things. I'm sharing this as an example of what can be implemented in the core library in a really easy, isolated way.

[code]

What this does is go through all of the mocked timers, check if any would have been called during the duration tha

[2022-11-24 08:23] CreativeTechGuy opened #454 "requestAnimationFrame is passed incorrect argument"
-   FakeTimers version : 10.0.0
-   Environment : Jest/JSDOM
-   Example URL : N/A
-   Other libraries you are using: N/A

**What did you expect to happen?**

The callback passed to `requestAnimationFrame` should receive an argument which is the number of seconds since time origin (same as `performance.now()`). [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFram

[2022-11-24 15:49] fatso83 commented on #454
There might be a bug here, but I think the description here is wrong. You say

This is not in line with the docs you refer to:

A [DOMHighResTimeStamp](https://developer.mozilla.org/en-US/docs/Web/API/DOMHighResTimeStamp) is not "the number of seconds since time origin", but a millisecond value with high precision.

So it is a high-resolution value in _milliseconds_ denoting the number of secons s

[2022-11-24 21:53] CreativeTechGuy commented on #454
Sorry, I used some loose language. To keep it simple, the current `performance.now()` should be passed to the callback when it is called. All of the handling of `DOMHisResTimeStamp` is already implemented in this library. It is currently used for `hrtime()` and `performance.now()`. So nothing fundamentally new needs to be added to make this work. Time origin is already being tracked and updated pr

[2022-11-26 05:56] CreativeTechGuy commented on #454
I think the approach of determining the args ahead of time won't work when considering #452. The current implementation of `requestAnimationFrame` pre-calculates what the time to be passed will be. But if more time has elapsed than 16ms then the wrong value will be passed to the callback. Instead of pre-calculating the args, when calling the callback, at that point it should pass the current value

[2022-11-26 06:26] CreativeTechGuy commented on #454
I believe this is the necessary diff to resolve this issue. Let me know if you'd like me to create a PR! 😄

[code]